<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michael's (@15VNY) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Michael's (@15VNY) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Michael's (@15VNY) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/15vny" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/15vny&source=tweetbutton&text=Michael%27s+%28%4015VNY%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/15vny" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/2984535161/1423724364/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/568251131457847296/z0a1m2dF.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Michael</h1>
        <p class="username">@15VNY</p>
        <p>We analysed 12 tweets from @15VNY's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@parisreview</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@Eater</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@coachella</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@kanyewest</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@15VNY following ratio is <span class="important">819%</span></h2>
        <p>Based on 11 followers and 90 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @15VNY tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:50%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        0 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        0 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.33%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        1 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:125%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        9 tweets
                    </div>
                </div>
                <div class="percentage">
                    75.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.33%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        1 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        0 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.33%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        1 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.33%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#verynewyork</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">50%</span> of @15VNY's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @15VNY's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/554754592249249793/0Di_ohBs.jpeg" class="profile-image">
                        <h3>The Paris Review</h3>
                        <p class="username">@parisreview</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/605420119427137536/ZYa-LR64.jpg" class="profile-image">
                        <h3>Coachella</h3>
                        <p class="username">@coachella</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@15VNY's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Gong hei fat choi, sun nien fai lok!&mdash; Michael (@15VNY) <a href="https://twitter.com/15VNY/status/568464130635476992">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@kanyewest lemme hold a ticket to your nyc gig, brogod. my birthday's this coming thursday&mdash; Michael (@15VNY) <a href="https://twitter.com/15VNY/status/642419124581347328">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Meet Matcha's Umami Sister, Gyokuro http://t.co/2KhVYNq8Zq via @Eater&mdash; Michael (@15VNY) <a href="https://twitter.com/15VNY/status/588672206621769728">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">home http://t.co/JQK6qNKYHp&mdash; Michael (@15VNY) <a href="https://twitter.com/15VNY/status/603706739196821505">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#verynewyork http://t.co/JvR9zCJmns&mdash; Michael (@15VNY) <a href="https://twitter.com/15VNY/status/558408597546491905">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/15vny');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>