<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>⠀Paul H.'s (@21h54) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="⠀Paul H.'s (@21h54) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="⠀Paul H.'s (@21h54) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/21h54" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/21h54&source=tweetbutton&text=%E2%A0%80Paul+H.%27s+%28%4021h54%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/21h54" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/2462184715/1442248981/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/644240467446616064/jM6l0k0K.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">⠀Paul H.</h1>
        <p class="username">@21h54</p>
        <p>We analysed 998 tweets from @21h54's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="44 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F61C" title="9 uses">
                    &#1F61C                        </span>
                                                <span class="emojione-1F60A" title="4 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F60D" title="4 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F618" title="4 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F495" title="3 uses">
                    &#1F495                        </span>
                                                <span class="emojione-263A" title="3 uses">
                    &#263A                        </span>
                                                <span class="emojione-270C" title="2 uses">
                    &#270C                        </span>
                                                <span class="emojione-1F460" title="2 uses">
                    &#1F460                        </span>
                                                <span class="emojione-1F44D" title="2 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F628" title="2 uses">
                    &#1F628                        </span>
                                                <span class="emojione-1F3B5" title="2 uses">
                    &#1F3B5                        </span>
                                                <span class="emojione-1F534" title="2 uses">
                    &#1F534                        </span>
                                                <span class="emojione-1F60F" title="2 uses">
                    &#1F60F                        </span>
                                                <span class="emojione-1F631" title="2 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F601" title="2 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F4A6" title="2 uses">
                    &#1F4A6                        </span>
                                                <span class="emojione-1F605" title="2 uses">
                    &#1F605                        </span>
                                                <span class="emojione-1F44C" title="2 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-2665" title="2 uses">
                    &#2665                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@21h54</span>
                        <span class="count">
                            31                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@mathildjourdain</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@9GAGTweets</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@PSG_inside</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@YouTube</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@21h54 following ratio is <span class="important">69%</span></h2>
        <p>Based on 106 followers and 73 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @21h54 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.73%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        137 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.73%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.23%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        172 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.23%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.44%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        184 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.44%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.22%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        102 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.22%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.33%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        153 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.52%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        105 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.53%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.53%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#PSGEAG</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#PSGGFCA</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#LOSCPSG</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#PSGASSE</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#LRT</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">14%</span> of @21h54's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @21h54's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/550767711022632960/qiFSkUp1.png" class="profile-image">
                        <h3>9GAG Tweets</h3>
                        <p class="username">@9GAGTweets</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/644064843264356352/BT2nca2A.jpg" class="profile-image">
                        <h3>PSG Officiel</h3>
                        <p class="username">@PSG_inside</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/637952278486511617/hnlFAgjj.jpg" class="profile-image">
                        <h3>justicier du web</h3>
                        <p class="username">@SoulsStealerYT</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@21h54's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">175 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Ils installent ce genre de merde sur leurs sites et après ils chialent parce qu'on installe adblock. WTF ? http://t.co/IQlZzGeHO3&mdash; ⠀Paul H. (@21h54) <a href="https://twitter.com/21h54/status/642646508987355136">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">69 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@LeMasculiste_ Et donc ça, c'est les femmes qui veulent du respect, si j'ai bien compris ?&mdash; ⠀Paul H. (@21h54) <a href="https://twitter.com/21h54/status/643072035267190784">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@LeMasculiste_ je vois ça sur Twitter au travail je sais même pas si je rentre à la maison un joue&mdash; ⠀Paul H. (@21h54) <a href="https://twitter.com/21h54/status/642414241211936768">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">20 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">On leur fait croire que le lycée c'est les palmiers, la plage et tout genre 5h/ jour au foyer. Mais à la fin c'est philo coef 7 😂&mdash; ⠀Paul H. (@21h54) <a href="https://twitter.com/21h54/status/610901944354275330">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">18 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@MsieurLeProf AMOUUUURRR, GLOOIIIIRRREEE ET BEAUTEEEE !&mdash; ⠀Paul H. (@21h54) <a href="https://twitter.com/21h54/status/611135263440547840">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/21h54');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>