<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andy Crisp's (@ACrispix) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Andy Crisp's (@ACrispix) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Andy Crisp's (@ACrispix) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/acrispix" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/acrispix&source=tweetbutton&text=Andy+Crisp%27s+%28%40ACrispix%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/acrispix" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/16127252/1402522108/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/479585915526844416/COHcF51p.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Andy Crisp</h1>
        <p class="username">@ACrispix</p>
        <p>We analysed 1000 tweets from @ACrispix's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F4AA" title="3 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F374" title="2 uses">
                    &#1F374                        </span>
                                                <span class="emojione-1F697" title="2 uses">
                    &#1F697                        </span>
                                                <span class="emojione-1F3EB" title="2 uses">
                    &#1F3EB                        </span>
                                                <span class="emojione-1F4D6" title="1 uses">
                    &#1F4D6                        </span>
                                                <span class="emojione-1F635" title="1 uses">
                    &#1F635                        </span>
                                                <span class="emojione-1F466" title="1 uses">
                    &#1F466                        </span>
                                                <span class="emojione-1F468" title="1 uses">
                    &#1F468                        </span>
                                                <span class="emojione-1F469" title="1 uses">
                    &#1F469                        </span>
                                                <span class="emojione-1F467" title="1 uses">
                    &#1F467                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@ruthwalters</span>
                        <span class="count">
                            139                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@cardiffisyours</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@katethecrab</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Digital_2015</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Mattp2427</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@ACrispix following ratio is <span class="important">94%</span></h2>
        <p>Based on 1016 followers and 948 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @ACrispix tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:62.7%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        127 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.1%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.7%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        127 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        195 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.2%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        162 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.8%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        148 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        110 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.00%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#whufc</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#btsport</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#bbc6nations</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#leadersdebate</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#LionelRichie</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">16%</span> of @ACrispix's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @ACrispix's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/531795568310247424/Dik6Z6kg.png" class="profile-image">
                        <h3>ruthwalters</h3>
                        <p class="username">@ruthwalters</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/385234023/littlelogotwitter.jpg" class="profile-image">
                        <h3>I Loves The 'Diff</h3>
                        <p class="username">@ILovesTheDiff</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/581057630837334017/Et_SPV5_.png" class="profile-image">
                        <h3>Digital 2015</h3>
                        <p class="username">@Digital_2015</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@ACrispix's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">43 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">This is phenomenal. Fair play to Wales if they end up doing this. #bbc6nations&mdash; Andy Crisp (@ACrispix) <a href="https://twitter.com/ACrispix/status/579283059167625216">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">36 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@hendopolis can the Queen send Rupert Murdoch to the Tower for this? I sincerely hope so.&mdash; Andy Crisp (@ACrispix) <a href="https://twitter.com/ACrispix/status/622150889185349633">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">28 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Early #FF for the brilliant @wearecohesive team behind @Digital_2015. @Socialyst @andy_tyfelin  @rhncafc @katethecrab @LucyCCone @nic_dufeu&mdash; Andy Crisp (@ACrispix) <a href="https://twitter.com/ACrispix/status/609230384883220480">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">26 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I love the way that Lionel Richie pronounces Glaston-berry. The foodies will be seeking them out in Waitrose tomorrow.&mdash; Andy Crisp (@ACrispix) <a href="https://twitter.com/ACrispix/status/615219331438354432">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Just felt our unborn child kick for the first time. Come at me Friday - I can handle anything today.&mdash; Andy Crisp (@ACrispix) <a href="https://twitter.com/ACrispix/status/594000275913977856">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/acrispix');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>