<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leanne Ross's (@aCupOfLee) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Leanne Ross's (@aCupOfLee) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Leanne Ross's (@aCupOfLee) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/acupoflee" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/acupoflee&source=tweetbutton&text=Leanne+Ross%27s+%28%40aCupOfLee%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/acupoflee" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/1481849515/1441265462/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/603520080983379970/GzXC6S3C.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Leanne Ross</h1>
        <p class="username">@aCupOfLee</p>
        <p>We analysed 1000 tweets from @aCupOfLee's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F44D" title="39 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F602" title="19 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F60A" title="15 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F61D" title="10 uses">
                    &#1F61D                        </span>
                                                <span class="emojione-1F4AA" title="9 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F604" title="8 uses">
                    &#1F604                        </span>
                                                <span class="emojione-2600" title="7 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F64C" title="6 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F44C" title="5 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F609" title="5 uses">
                    &#1F609                        </span>
                                                <span class="emojione-2615" title="5 uses">
                    &#2615                        </span>
                                                <span class="emojione-1F389" title="5 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F470" title="4 uses">
                    &#1F470                        </span>
                                                <span class="emojione-1F62D" title="4 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F34A" title="4 uses">
                    &#1F34A                        </span>
                                                <span class="emojione-2764" title="4 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F374" title="4 uses">
                    &#1F374                        </span>
                                                <span class="emojione-1F36B" title="4 uses">
                    &#1F36B                        </span>
                                                <span class="emojione-1F48D" title="3 uses">
                    &#1F48D                        </span>
                                                <span class="emojione-1F3C8" title="3 uses">
                    &#1F3C8                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@aCupOfLee</span>
                        <span class="count">
                            46                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@BronsonRoss</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@CIPR_NI</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@grainnemcgarvey</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@UlsterRugby</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@aCupOfLee following ratio is <span class="important">69%</span></h2>
        <p>Based on 1481 followers and 1009 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @aCupOfLee tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.7%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        157 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.1%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        181 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.2%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        142 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.7%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        187 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.4%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        144 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        101 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.8%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        88 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.80%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#PR</span>
                        <span class="count">
                            49                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#jobfairy</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Belfast</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Belfasthour</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#Marketing</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">46%</span> of @aCupOfLee's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @aCupOfLee's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/609793239709810688/Sksh_1XE.jpg" class="profile-image">
                        <h3>Bronson Ross</h3>
                        <p class="username">@BronsonRoss</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/580382511823478784/dZnf-xBM.jpg" class="profile-image">
                        <h3>Rich Leigh</h3>
                        <p class="username">@RichLeighPR</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/570177958988349440/OKyC8Ch2.jpeg" class="profile-image">
                        <h3>IRP Commerce</h3>
                        <p class="username">@IRPCommerce</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@aCupOfLee's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">84 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Well that escalated quickly #Eloped #Dubrovnik http://t.co/1ikXNHbV49&mdash; Leanne Ross (@aCupOfLee) <a href="https://twitter.com/aCupOfLee/status/614540467246661632">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">51 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If you're looking for #Freelance #PR #Digital resource, here's what I do, what I've done &amp; what it costs: http://t.co/HBR790Xypc&mdash; Leanne Ross (@aCupOfLee) <a href="https://twitter.com/aCupOfLee/status/622347109765906432">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">47 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Hi @BelfastHourNI a marketing idea for companies, inexpensive &amp; well received (it's a teabag!) #BelfastHour #Skytrek http://t.co/bWEy63ANkx&mdash; Leanne Ross (@aCupOfLee) <a href="https://twitter.com/aCupOfLee/status/609090189634486272">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">46 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">When a New Zealand boy married a Belfast girl via two @Davitts1912 players in 1959 #Crazy @ATownNews http://t.co/SyskiRwMpH&mdash; Leanne Ross (@aCupOfLee) <a href="https://twitter.com/aCupOfLee/status/640471678791864320">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">43 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Woo #belfasthour I finally made it on time 👍 today I blogged 10 quick fixes for your social media - hope it's handy! http://t.co/3Hm6MXEzXO&mdash; Leanne Ross (@aCupOfLee) <a href="https://twitter.com/aCupOfLee/status/624307574679011328">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/acupoflee');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>