<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alan dooney's (@alandooney) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="alan dooney's (@alandooney) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="alan dooney's (@alandooney) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/alandooney" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/alandooney&source=tweetbutton&text=alan+dooney%27s+%28%40alandooney%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/alandooney" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/19605646/1397117309/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/454169224441638913/gtPbBaxm.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">alan dooney</h1>
        <p class="username">@alandooney</p>
        <p>We analysed 1000 tweets from @alandooney's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F1EF1F1F5" title="127 uses">
                    &#1F1EF1F1F5                        </span>
                                                <span class="emojione-1F602" title="27 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F60D" title="14 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F62D" title="14 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-26A1" title="10 uses">
                    &#26A1                        </span>
                                                <span class="emojione-1F44F" title="9 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-2600" title="6 uses">
                    &#2600                        </span>
                                                <span class="emojione-2764" title="6 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F635" title="5 uses">
                    &#1F635                        </span>
                                                <span class="emojione-1F30A" title="5 uses">
                    &#1F30A                        </span>
                                                <span class="emojione-1F346" title="5 uses">
                    &#1F346                        </span>
                                                <span class="emojione-1F44D" title="5 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F3B9" title="5 uses">
                    &#1F3B9                        </span>
                                                <span class="emojione-1F44A" title="4 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-27A1" title="4 uses">
                    &#27A1                        </span>
                                                <span class="emojione-1F629" title="4 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F381" title="4 uses">
                    &#1F381                        </span>
                                                <span class="emojione-1F624" title="4 uses">
                    &#1F624                        </span>
                                                <span class="emojione-1F3B6" title="4 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F604" title="3 uses">
                    &#1F604                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@benjackthomas</span>
                        <span class="count">
                            55                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@ThomHoops</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@jimleedham</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@samuelofc</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@nedmiles</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@alandooney following ratio is <span class="important">173%</span></h2>
        <p>Based on 765 followers and 1317 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @alandooney tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:62.8%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        128 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.9%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        149 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        150 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.1%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        161 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.4%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        144 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.9%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        159 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.9%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        109 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.90%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#RWC2015</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#UCLfinal</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Wimbledon</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#rwc2015</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#RSAvJPN</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">18%</span> of @alandooney's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @alandooney's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/598247485774143488/zfUUeCob.jpg" class="profile-image">
                        <h3>Jim Leedham</h3>
                        <p class="username">@jimleedham</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/557101821303734273/7WAw0ISe.jpeg" class="profile-image">
                        <h3>Ben Jack Thomas</h3>
                        <p class="username">@benjackthomas</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/597321269596532736/uCQ5UNkr.jpg" class="profile-image">
                        <h3>hrtbps</h3>
                        <p class="username">@hrtbps</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@alandooney's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">39 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Three favourite things of the weekend. Number one - this attempt at a save in yesterday's Motherwell vs Rangers game https://t.co/jpU45FpdNJ&mdash; alan dooney (@alandooney) <a href="https://twitter.com/alandooney/status/605273911979339776">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">32 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">😕😖 http://t.co/7865dE3AQa&mdash; alan dooney (@alandooney) <a href="https://twitter.com/alandooney/status/621039752431673344">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">30 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">"It's fine" they said... "You'll grow into it" they said 😕 http://t.co/HWZdhHJxE9&mdash; alan dooney (@alandooney) <a href="https://twitter.com/alandooney/status/625217499282448384">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">28 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Saturday morning living room dancing with this guy and the new @desaband long player http://t.co/btCTfNEpHz&mdash; alan dooney (@alandooney) <a href="https://twitter.com/alandooney/status/624878010206945280">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">27 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Nice @paddypower #RWC2015 http://t.co/lszGJm366K&mdash; alan dooney (@alandooney) <a href="https://twitter.com/alandooney/status/645180399757475840">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/alandooney');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>