<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alexandra Em's (@alejandra_em) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Alexandra Em's (@alejandra_em) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Alexandra Em's (@alejandra_em) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/alejandra_em" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/alejandra_em&source=tweetbutton&text=Alexandra+Em%27s+%28%40alejandra_em%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/alejandra_em" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/311366293/1400695338/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/613452207527231488/dgGgU5gq.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Alexandra Em</h1>
        <p class="username">@alejandra_em</p>
        <p>We analysed 1000 tweets from @alejandra_em's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F3B6" title="5 uses">
                    &#1F3B6                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@joaching</span>
                        <span class="count">
                            37                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@adouay</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@amandinejx</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Loss_</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@SmrBgrr</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@alejandra_em following ratio is <span class="important">48%</span></h2>
        <p>Based on 1254 followers and 590 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @alejandra_em tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.5%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.6%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        206 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.4%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        184 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.7%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        187 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.1%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        151 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:54.6%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        46 tweets
                    </div>
                </div>
                <div class="percentage">
                    4.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.1%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        71 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.10%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Reddit</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#art</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#advertising</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#help</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#shopping</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">24%</span> of @alejandra_em's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @alejandra_em's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/569943081433456640/9R5ihXTC.jpeg" class="profile-image">
                        <h3>Clément</h3>
                        <p class="username">@thelightcarrier</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/639397690778996736/SdWzQUX0.png" class="profile-image">
                        <h3>WebHistoryPics</h3>
                        <p class="username">@WebHistoryPics</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/636422686688808960/lNGwKUpb.jpg" class="profile-image">
                        <h3>Maxime Garrigues</h3>
                        <p class="username">@maximegarrigues</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@alejandra_em's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">16 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">L'EM Lyon évolue vers la Smart Business School, en partenariat avec IBM http://t.co/ZS8JvOpSNx&mdash; Alexandra Em (@alejandra_em) <a href="https://twitter.com/alejandra_em/status/575952476224020480">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Le Philharmonique de L.A. utilise l'Oculus Rift pour démocratiser la musique classique http://t.co/IJtDMCAVYb #VanBeethoven&mdash; Alexandra Em (@alejandra_em) <a href="https://twitter.com/alejandra_em/status/641526805153849345">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Un hôtel / hôte airbnb à me recommander à Rome ?&mdash; Alexandra Em (@alejandra_em) <a href="https://twitter.com/alejandra_em/status/579707705243365376">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">\o/ https://t.co/8FLsgvc16M&mdash; Alexandra Em (@alejandra_em) <a href="https://twitter.com/alejandra_em/status/616911645630177280">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">10 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">What we design design us back: is the Sharing Economy Provoking A Shift In Human Consciousness ? http://t.co/it9vtKbPrC&mdash; Alexandra Em (@alejandra_em) <a href="https://twitter.com/alejandra_em/status/615454503727431680">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/alejandra_em');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>