<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alessia Santoro's (@alessiamariee) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Alessia Santoro's (@alessiamariee) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Alessia Santoro's (@alessiamariee) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/alessiamariee" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/alessiamariee&source=tweetbutton&text=Alessia+Santoro%27s+%28%40alessiamariee%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/alessiamariee" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/71014045/1428077864/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/619611071129735168/Qz0BZRRU.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Alessia Santoro</h1>
        <p class="username">@alessiamariee</p>
        <p>We analysed 1000 tweets from @alessiamariee's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60D" title="19 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F62D" title="13 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F64C" title="12 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F44F" title="11 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-2600" title="8 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F637" title="6 uses">
                    &#1F637                        </span>
                                                <span class="emojione-1F618" title="6 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F3B6" title="6 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F481" title="4 uses">
                    &#1F481                        </span>
                                                <span class="emojione-2764" title="3 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F629" title="3 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F602" title="3 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F1FA1F1F8" title="3 uses">
                    &#1F1FA1F1F8                        </span>
                                                <span class="emojione-1F499" title="3 uses">
                    &#1F499                        </span>
                                                <span class="emojione-1F475" title="2 uses">
                    &#1F475                        </span>
                                                <span class="emojione-1F64F" title="2 uses">
                    &#1F64F                        </span>
                                                <span class="emojione-1F4AA" title="2 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F601" title="2 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F44B" title="2 uses">
                    &#1F44B                        </span>
                                                <span class="emojione-1F30A" title="2 uses">
                    &#1F30A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@BrettSVergara</span>
                        <span class="count">
                            35                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@makeupmaestra</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@meaganshawww</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@wesleyverhoeve</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@AleForesto</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@alessiamariee following ratio is <span class="important">183%</span></h2>
        <p>Based on 372 followers and 678 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @alessiamariee tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.2%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        172 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.1%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        161 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.5%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        160 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.1%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        191 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.6%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        86 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.5%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        85 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.50%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#GreysAnatomy</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#BreakingBad</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#PSsweetweek</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#maxandalessia</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#alessiainSF</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">28%</span> of @alessiamariee's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @alessiamariee's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/608706955964653568/uQTDWurc.png" class="profile-image">
                        <h3>POPSUGAR Moms</h3>
                        <p class="username">@POPSUGARMoms</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/378800000408529086/5108c0356be611a5509f3d869c2dbd3d.jpeg" class="profile-image">
                        <h3>Professor Snape</h3>
                        <p class="username">@_Snape_</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3334977351/db58b880e01fdea08cc8152d75d484f5.jpeg" class="profile-image">
                        <h3>elan gale</h3>
                        <p class="username">@theyearofelan</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@alessiamariee's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">969 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Somebody hold me. #GreysAnatomy http://t.co/P3StAJjyVq&mdash; Alessia Santoro (@alessiamariee) <a href="https://twitter.com/alessiamariee/status/591454888640524288">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">615 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If there were ever a time to bring Christina back, @shondarhimes, it's now. Right effin now. #GreysAnatomy&mdash; Alessia Santoro (@alessiamariee) <a href="https://twitter.com/alessiamariee/status/591450382649454592">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">397 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I really don't understand why that just needed to happen. As if we haven't been through enough in the last ten years. #GreysAnatomy&mdash; Alessia Santoro (@alessiamariee) <a href="https://twitter.com/alessiamariee/status/591451664793612288">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">138 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">“@TheParamountNY: Our feelings about @mbsings! We cannot wait for this Saturday! http://t.co/DlluqVPhBL” @bennyyboop&mdash; Alessia Santoro (@alessiamariee) <a href="https://twitter.com/alessiamariee/status/584025415158730752">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">119 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I just spent that whole performance trying to answer the question "why?" in reference to that neck tattoo.&mdash; Alessia Santoro (@alessiamariee) <a href="https://twitter.com/alessiamariee/status/638187465807826944">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/alessiamariee');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>