<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex Bernal's (@alexbernal) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Alex Bernal's (@alexbernal) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Alex Bernal's (@alexbernal) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/alexbernal" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/alexbernal&source=tweetbutton&text=Alex+Bernal%27s+%28%40alexbernal%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/alexbernal" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14924454/1425102056/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/571545366151970816/wrLAmKjw.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Alex Bernal</h1>
        <p class="username">@alexbernal</p>
        <p>We analysed 1000 tweets from @alexbernal's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-25B6" title="1 uses">
                    &#25B6                        </span>
                                                <span class="emojione-1F613" title="1 uses">
                    &#1F613                        </span>
                                                <span class="emojione-FACE" title="1 uses">
                    &#FACE                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@ppmonchi</span>
                        <span class="count">
                            125                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@gizmho</span>
                        <span class="count">
                            64                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@asdfgeiou</span>
                        <span class="count">
                            56                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@poposhki</span>
                        <span class="count">
                            44                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@RubenBarco</span>
                        <span class="count">
                            40                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@alexbernal following ratio is <span class="important">102%</span></h2>
        <p>Based on 176 followers and 179 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @alexbernal tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        144 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.5%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.7%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        127 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.9%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        129 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.6%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        136 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        180 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.9%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        139 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.90%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#HastaDondeTope</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#eldeportemashermosodelmundo</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#ElDeporteMasHermosoDelMundo</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#BigHero6</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#vamosamerica</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">6%</span> of @alexbernal's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @alexbernal's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2332502870/image.jpg" class="profile-image">
                        <h3>Inti Acevedo</h3>
                        <p class="username">@inti</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/628700191000924160/ASlEhWFl.jpg" class="profile-image">
                        <h3>Rodrigo</h3>
                        <p class="username">@RodrigoEBR</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/638342444052930560/gMZvEMvt.png" class="profile-image">
                        <h3>Mashable</h3>
                        <p class="username">@mashable</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@alexbernal's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">4 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">La joya de ayer JAJAJA cc. @gizmho http://t.co/dUQb8R57cC&mdash; Alex Bernal (@alexbernal) <a href="https://twitter.com/alexbernal/status/519195977413320704">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">4 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">"Ahi les dejo su desmadre" Paco Palencia.&mdash; Alex Bernal (@alexbernal) <a href="https://twitter.com/alexbernal/status/517009710651039744">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">4 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Si buscas "super happy dev house obregon" en google imagenes luego luego salen una bola de cholos.&mdash; Alex Bernal (@alexbernal) <a href="https://twitter.com/alexbernal/status/472799542547472384">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">4 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Pues Chivas va a descender y lo que le sigue importando a sus aficionados es que se habla de ellos para bien o mal pero que se habla.&mdash; Alex Bernal (@alexbernal) <a href="https://twitter.com/alexbernal/status/517381246297845760">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">4 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@steelpursuit  Las dos mejores alternativas que encontre a subtitulos.es  son estas: http://t.co/TffM7hfXTY y http://t.co/z46wnOv1VL&mdash; Alex Bernal (@alexbernal) <a href="https://twitter.com/alexbernal/status/617800440009232384">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/alexbernal');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>