<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amelia's (@AmeliaLKD) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Amelia's (@AmeliaLKD) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Amelia's (@AmeliaLKD) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/amelialkd" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/amelialkd&source=tweetbutton&text=Amelia%27s+%28%40AmeliaLKD%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/amelialkd" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/343309749/1442590368/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/628296513911943168/mN0D8uD4.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Amelia</h1>
        <p class="username">@AmeliaLKD</p>
        <p>We analysed 998 tweets from @AmeliaLKD's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60A" title="13 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F601" title="6 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F602" title="6 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F497" title="5 uses">
                    &#1F497                        </span>
                                                <span class="emojione-263A" title="4 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F494" title="3 uses">
                    &#1F494                        </span>
                                                <span class="emojione-1F616" title="3 uses">
                    &#1F616                        </span>
                                                <span class="emojione-1F495" title="2 uses">
                    &#1F495                        </span>
                                                <span class="emojione-1F440" title="2 uses">
                    &#1F440                        </span>
                                                <span class="emojione-2764" title="1 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F614" title="1 uses">
                    &#1F614                        </span>
                                                <span class="emojione-1F308" title="1 uses">
                    &#1F308                        </span>
                                                <span class="emojione-1F4AA" title="1 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F60D" title="1 uses">
                    &#1F60D                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@goulcher</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@J_Manasa</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@_JakeTucker</span>
                        <span class="count">
                            37                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@superlativelyLJ</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Philip_Ellis</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@AmeliaLKD following ratio is <span class="important">47%</span></h2>
        <p>Based on 1690 followers and 784 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @AmeliaLKD tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.83%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        158 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.83%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.94%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        179 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.94%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.53%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.53%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:76.05%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        260 tweets
                    </div>
                </div>
                <div class="percentage">
                    26.05%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.33%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        143 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:54.51%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        45 tweets
                    </div>
                </div>
                <div class="percentage">
                    4.51%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.81%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        58 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.81%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#GBBO</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#nope</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#middleage</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#tbt</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#MakeLifeBitter</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">4%</span> of @AmeliaLKD's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @AmeliaLKD's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/646033468577685504/0D91OFqa.jpg" class="profile-image">
                        <h3>1-800-TIRED</h3>
                        <p class="username">@goulcher</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/623981183337041921/PVYRxk__.png" class="profile-image">
                        <h3>crissy milazzo</h3>
                        <p class="username">@frizzyfilazzo</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/451138333360402432/nZ7vdu_r.png" class="profile-image">
                        <h3>Dog Solution</h3>
                        <p class="username">@DogSolutions</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@AmeliaLKD's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">66 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The guy who wrote this on his LinkedIn profile is a total hero http://t.co/zZilqpINxr&mdash; Amelia (@AmeliaLKD) <a href="https://twitter.com/AmeliaLKD/status/642292790387429376">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">64 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">When you wish upon a star http://t.co/hCVvle2yrm&mdash; Amelia (@AmeliaLKD) <a href="https://twitter.com/AmeliaLKD/status/626824979808694273">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">58 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Netflix seriously need to update their scary movie selection because I am moments away from watching Snoop Dogg's Hood Of Horror&mdash; Amelia (@AmeliaLKD) <a href="https://twitter.com/AmeliaLKD/status/625330972863688704">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">54 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Lovely little ad. (By Andy McLeod I believe) http://t.co/9xg1xDNDGa&mdash; Amelia (@AmeliaLKD) <a href="https://twitter.com/AmeliaLKD/status/620544623195357184">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">54 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I fell in love with the pretty pastel coloured buildings so I decided to move here &lt;3
https://t.co/HrMnKnmswn&mdash; Amelia (@AmeliaLKD) <a href="https://twitter.com/AmeliaLKD/status/641988520643530752">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/amelialkd');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>