<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anthony Shapley's (@anthonyshapley) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Anthony Shapley's (@anthonyshapley) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Anthony Shapley's (@anthonyshapley) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/anthonyshapley" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/anthonyshapley&source=tweetbutton&text=Anthony+Shapley%27s+%28%40anthonyshapley%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/anthonyshapley" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/498930383883628544/b05CihF2.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Anthony Shapley</h1>
        <p class="username">@anthonyshapley</p>
        <p>We analysed 996 tweets from @anthonyshapley's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-260E" title="1 uses">
                    &#260E                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@DaveNaylor</span>
                        <span class="count">
                            79                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@BeckyNaylor</span>
                        <span class="count">
                            53                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@10Yetis</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@keanrichmond</span>
                        <span class="count">
                            42                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@carpsio</span>
                        <span class="count">
                            37                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@anthonyshapley following ratio is <span class="important">23%</span></h2>
        <p>Based on 652 followers and 145 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @anthonyshapley tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.05%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        130 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.05%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.76%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        137 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.76%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.17%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        171 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.17%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.37%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        173 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.37%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:73.8%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        237 tweets
                    </div>
                </div>
                <div class="percentage">
                    23.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.54%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        105 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.54%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:54.32%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        43 tweets
                    </div>
                </div>
                <div class="percentage">
                    4.32%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#thinkvis</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#thinkvisibility</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#pumpt</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#ThinkVisibility</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#fail</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">8%</span> of @anthonyshapley's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @anthonyshapley's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3693698327/083e7560cd24e7faef5d2b73ec11eb1d.jpeg" class="profile-image">
                        <h3>Dave Naylor</h3>
                        <p class="username">@DaveNaylor</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/572842107908288512/Xs5uH-o_.jpeg" class="profile-image">
                        <h3>Andy Barr</h3>
                        <p class="username">@10Yetis</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2965310528/eb94952f45a5cd56049a544f7f90e496.jpeg" class="profile-image">
                        <h3>Rishi Lakhani</h3>
                        <p class="username">@rishil</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@anthonyshapley's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">22 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Hey @curryspcworld, your Title Tag is "title_home" on http://t.co/ovtD7j22Aw. Maybe SEO isn't your thing, but it probably should be.&mdash; Anthony Shapley (@anthonyshapley) <a href="https://twitter.com/anthonyshapley/status/328868914790535169">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">14 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">if($_GET['q'] = "payday loans") { $result = rand(); }&mdash; Anthony Shapley (@anthonyshapley) <a href="https://twitter.com/anthonyshapley/status/345530213901402112">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">10 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#thinkvis head hurts, listening to Jackie give a awesome cpc presentation, time to start organising my ppc campaigns!&mdash; Anthony Shapley (@anthonyshapley) <a href="https://twitter.com/anthonyshapley/status/44000257448747008">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">10 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">First lesson of the weekend think before you throw a tennis ball. You might hit an old lady walking her dog.&mdash; Anthony Shapley (@anthonyshapley) <a href="https://twitter.com/anthonyshapley/status/327830861020004352">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">10 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">New director at @bronco, Head of Military Intelligence http://t.co/YNtEtdDrai&mdash; Anthony Shapley (@anthonyshapley) <a href="https://twitter.com/anthonyshapley/status/322284968183214081">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/anthonyshapley');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>