<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ashley Smith's (@ashleysmif) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Ashley Smith's (@ashleysmif) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Ashley Smith's (@ashleysmif) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/ashleysmif" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/ashleysmif&source=tweetbutton&text=Ashley+Smith%27s+%28%40ashleysmif%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/ashleysmif" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/47470142/1395842413/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/617730998835499008/mZlKlNJL.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Ashley Smith</h1>
        <p class="username">@ashleysmif</p>
        <p>We analysed 998 tweets from @ashleysmif's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F62D" title="23 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F602" title="19 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F60A" title="14 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F60D" title="14 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F46F" title="13 uses">
                    &#1F46F                        </span>
                                                <span class="emojione-1F633" title="12 uses">
                    &#1F633                        </span>
                                                <span class="emojione-1F480" title="12 uses">
                    &#1F480                        </span>
                                                <span class="emojione-1F631" title="11 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F612" title="11 uses">
                    &#1F612                        </span>
                                                <span class="emojione-1F389" title="9 uses">
                    &#1F389                        </span>
                                                <span class="emojione-2764" title="9 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F622" title="9 uses">
                    &#1F622                        </span>
                                                <span class="emojione-1F495" title="9 uses">
                    &#1F495                        </span>
                                                <span class="emojione-1F605" title="8 uses">
                    &#1F605                        </span>
                                                <span class="emojione-1F44F" title="8 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F3B6" title="7 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F648" title="6 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F64C" title="6 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F623" title="5 uses">
                    &#1F623                        </span>
                                                <span class="emojione-1F481" title="5 uses">
                    &#1F481                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@melcrawl</span>
                        <span class="count">
                            48                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@Roomsi</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@BuzzFeed</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@mappinsc</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@alyssa_palermo</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@ashleysmif following ratio is <span class="important">118%</span></h2>
        <p>Based on 312 followers and 367 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @ashleysmif tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:66.23%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        162 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.23%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.34%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        183 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.34%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.63%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        136 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.63%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.63%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        136 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.63%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.63%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        146 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.63%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.52%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        115 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.02%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        120 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.02%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#lol</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#stopkickinmuhseat</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#happymonday</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#WeWontStop</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#embarassing</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">9%</span> of @ashleysmif's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @ashleysmif's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/615558459845513216/b5UsgLhc.png" class="profile-image">
                        <h3>BuzzFeed</h3>
                        <p class="username">@BuzzFeed</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/615645115684511745/J_kELH0x.jpg" class="profile-image">
                        <h3>Complex</h3>
                        <p class="username">@ComplexMag</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2625413280/vwc1fpzylt5chm0vjnl5.png" class="profile-image">
                        <h3>NYC BLONDE</h3>
                        <p class="username">@NYC_Blonde</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@ashleysmif's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">30 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Friday night lights 🌟 @ODUFootball http://t.co/cx62wMThNu&mdash; Ashley Smith (@ashleysmif) <a href="https://twitter.com/ashleysmif/status/515658628737802240">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">After a great weekend, this Monday was exceptionally rough&mdash; Ashley Smith (@ashleysmif) <a href="https://twitter.com/ashleysmif/status/587765374659260417">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">24 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Always do what makes you feel like the happiest version of you&mdash; Ashley Smith (@ashleysmif) <a href="https://twitter.com/ashleysmif/status/534203124026970112">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Rude @HaleyLabby http://t.co/VQSoQDuUGX&mdash; Ashley Smith (@ashleysmif) <a href="https://twitter.com/ashleysmif/status/638884280920358912">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">16 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">My walk home from work is in tourist central but I still think this is pretty cool http://t.co/v5W5YqJHef&mdash; Ashley Smith (@ashleysmif) <a href="https://twitter.com/ashleysmif/status/531960537966731264">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/ashleysmif');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>