<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beki McVicker's (@BekiPR) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Beki McVicker's (@BekiPR) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Beki McVicker's (@BekiPR) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/bekipr" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/bekipr&source=tweetbutton&text=Beki+McVicker%27s+%28%40BekiPR%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/bekipr" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/2924649125/1418723647/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/550960125310017536/AfXOLuSs.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Beki McVicker</h1>
        <p class="username">@BekiPR</p>
        <p>We analysed 123 tweets from @BekiPR's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@ppmashow</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@stormcomUK</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@GreenworldInnov</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Bartercard</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@TedWoodwardPR</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@BekiPR following ratio is <span class="important">342%</span></h2>
        <p>Based on 72 followers and 246 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @BekiPR tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:60.57%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        13 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.57%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:83.33%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        41 tweets
                    </div>
                </div>
                <div class="percentage">
                    33.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:74.39%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        30 tweets
                    </div>
                </div>
                <div class="percentage">
                    24.39%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.82%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        17 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.26%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        20 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.26%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50.81%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        1 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.81%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50.81%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        1 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.81%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#PR</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#events</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#packaging</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#lotusPRO</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#cleaning</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">56%</span> of @BekiPR's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @BekiPR's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/563669714300178434/ymsNGcFU.jpeg" class="profile-image">
                        <h3>PPMA Show</h3>
                        <p class="username">@ppmashow</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/534285851518185472/9HdFQhC5.jpeg" class="profile-image">
                        <h3>Storm Communications</h3>
                        <p class="username">@stormcomUK</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/555327996907630592/DK0ArpTs.jpeg" class="profile-image">
                        <h3>Ted Woodward</h3>
                        <p class="username">@TedWoodwardPR</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@BekiPR's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">22 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Clever marketing from the @innovise team - drawing lots of attention at #thecleaningshow #delorean http://t.co/yGRA8NX4Rc&mdash; Beki McVicker (@BekiPR) <a href="https://twitter.com/BekiPR/status/575306038951419906">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">14 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Interesting piece on @therealprmoment focusing on 2015's big PR trends. Great read. http://t.co/Yjkk1RbKN0 #PR #trends #content #mobile #ROI&mdash; Beki McVicker (@BekiPR) <a href="https://twitter.com/BekiPR/status/556039234180886530">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Quick pitstop this AM at @FranchiseShowUK to see the @Bartercard team on stand 768! #TFS15 #bartering #franchise http://t.co/swkjSiPf58&mdash; Beki McVicker (@BekiPR) <a href="https://twitter.com/BekiPR/status/568736217606565888">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">11 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">It's been a good week so far for @stormcomUK's #B2B team! Congrats to @TedWoodwardPR @ADickinsonPR &amp; @ThomasHousden on their promotions! #PR&mdash; Beki McVicker (@BekiPR) <a href="https://twitter.com/BekiPR/status/616278274830901248">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">11 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Are you exhibiting at the @ppmashow in September and need PR support? DM me today #packaging #PR #manufacturing #stormcoms #ppma15&mdash; Beki McVicker (@BekiPR) <a href="https://twitter.com/BekiPR/status/608190181116641280">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/bekipr');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>