<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ben's (@benjhatton) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Ben's (@benjhatton) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Ben's (@benjhatton) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/benjhatton" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/benjhatton&source=tweetbutton&text=Ben%27s+%28%40benjhatton%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/benjhatton" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14064910/1441065882/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/626531630367248384/cVD0VKDG.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Ben</h1>
        <p class="username">@benjhatton</p>
        <p>We analysed 303 tweets from @benjhatton's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60A" title="34 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F602" title="18 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F60F" title="13 uses">
                    &#1F60F                        </span>
                                                <span class="emojione-1F629" title="12 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F604" title="8 uses">
                    &#1F604                        </span>
                                                <span class="emojione-1F622" title="5 uses">
                    &#1F622                        </span>
                                                <span class="emojione-1F62D" title="5 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-263A" title="4 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F618" title="4 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F621" title="4 uses">
                    &#1F621                        </span>
                                                <span class="emojione-1F606" title="3 uses">
                    &#1F606                        </span>
                                                <span class="emojione-1F480" title="3 uses">
                    &#1F480                        </span>
                                                <span class="emojione-1F6AB" title="3 uses">
                    &#1F6AB                        </span>
                                                <span class="emojione-1F633" title="3 uses">
                    &#1F633                        </span>
                                                <span class="emojione-1F601" title="2 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F44B" title="2 uses">
                    &#1F44B                        </span>
                                                <span class="emojione-1F605" title="2 uses">
                    &#1F605                        </span>
                                                <span class="emojione-1F389" title="2 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F631" title="2 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F351" title="2 uses">
                    &#1F351                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@jamiemccloy</span>
                        <span class="count">
                            34                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@LepreCorkin</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@JasonZebras</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@GraysonWelks</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@emmmanicholls</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@benjhatton following ratio is <span class="important">12%</span></h2>
        <p>Based on 1232 followers and 142 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @benjhatton tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:66.83%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        51 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.83%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.53%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        41 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.53%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.21%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        37 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.21%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.85%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        45 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.85%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.2%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        40 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.83%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        51 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.83%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.54%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        38 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.54%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#xfactor</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#hatethesouth</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#fanclub</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#hammeredhatton</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#17days</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">24%</span> of @benjhatton's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @benjhatton's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/635374102837071873/Z3bwoYEc.jpg" class="profile-image">
                        <h3>Jordan Boyle</h3>
                        <p class="username">@JordanBoyle97</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/646265086659678208/ewX1DVtN.jpg" class="profile-image">
                        <h3>Jamie</h3>
                        <p class="username">@jamiemccloy</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/639568718637477889/IwifKThf.jpg" class="profile-image">
                        <h3>Unnamed Insider</h3>
                        <p class="username">@Unnamedinsider</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@benjhatton's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">27 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Black Friday and payday is not an ideal combination #helpmeimpoor&mdash; Ben (@benjhatton) <a href="https://twitter.com/benjhatton/status/538094258239315968">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">22 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Just got a call to say I've been offered a graduate job at EY in London starting September 2016! So happy! 😄&mdash; Ben (@benjhatton) <a href="https://twitter.com/benjhatton/status/631784018204336128">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">17 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Even the sight of the word "dissertation" makes me want to cry.&mdash; Ben (@benjhatton) <a href="https://twitter.com/benjhatton/status/535430812125388800">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">13 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Being nominated for a recognition award at work (and getting £50 because of it!) has actually made the past few weeks seem so much better 😊&mdash; Ben (@benjhatton) <a href="https://twitter.com/benjhatton/status/522031447583248384">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Just went to check my timetable and apparently I am signed up to study first year German 😊😊😊😊😊😊&mdash; Ben (@benjhatton) <a href="https://twitter.com/benjhatton/status/640818003093884928">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/benjhatton');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>