<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bommy Cha's (@bommycha) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Bommy Cha's (@bommycha) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Bommy Cha's (@bommycha) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/bommycha" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/bommycha&source=tweetbutton&text=Bommy+Cha%27s+%28%40bommycha%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/bommycha" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/25137292/1406821213/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/606669888959049728/TwJ9qY2G.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Bommy Cha</h1>
        <p class="username">@bommycha</p>
        <p>We analysed 997 tweets from @bommycha's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-270C" title="1 uses">
                    &#270C                        </span>
                                                <span class="emojione-1F351" title="1 uses">
                    &#1F351                        </span>
                                                <span class="emojione-1F601" title="1 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F375" title="1 uses">
                    &#1F375                        </span>
                                                <span class="emojione-1F60D" title="1 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F47B" title="1 uses">
                    &#1F47B                        </span>
                                                <span class="emojione-1F4AA" title="1 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-TO" title="1 uses">
                    &#TO                        </span>
                                                <span class="emojione-1F352" title="1 uses">
                    &#1F352                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@grubstreet</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@nytimes</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@bonappetit</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Food52</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@nytimeswell</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@bommycha following ratio is <span class="important">172%</span></h2>
        <p>Based on 134 followers and 230 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @bommycha tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:62.54%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        125 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.54%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.84%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        148 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.84%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.25%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        172 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.25%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.04%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        140 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.04%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.74%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.74%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.94%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        129 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.94%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.64%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        136 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.64%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#foodtech</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Fact</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#breakfast</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#remake2014</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#Barisieur</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">9%</span> of @bommycha's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @bommycha's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3574345569/1108871a3f3764cfcdbe704543a056c5.png" class="profile-image">
                        <h3>Food52</h3>
                        <p class="username">@Food52</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/467395531782639616/4OZlki17.jpeg" class="profile-image">
                        <h3>The Muse</h3>
                        <p class="username">@dailymuse</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1308597170/bon-appetit-twitter-icon.jpg" class="profile-image">
                        <h3>Bon Appetit Magazine</h3>
                        <p class="username">@bonappetit</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@bommycha's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">258 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Mexican guacamole sounds good. The Everything Guide to Guacamole http://t.co/fUYggExQiZ  via @epicurious http://t.co/lX7xwbwPfh&mdash; Bommy Cha (@bommycha) <a href="https://twitter.com/bommycha/status/526817326197268480">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">19 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.@FaradayBikes is the bike of my dreams. Everything I want and need in a bike http://t.co/ic6dl6qdvX&mdash; Bommy Cha (@bommycha) <a href="https://twitter.com/bommycha/status/532648408658374657">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">18 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Bone marrow, trotter tots, and the glorious burger @HogandRocks last night. http://t.co/Ppz0mLZT7y&mdash; Bommy Cha (@bommycha) <a href="https://twitter.com/bommycha/status/530912156229705728">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">16 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.@MrHolmesSF is the hottest thing to hit san francisco. http://t.co/pH1I9hKmAJ&mdash; Bommy Cha (@bommycha) <a href="https://twitter.com/bommycha/status/535651563566411776">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">11 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Apple fritter as big as my face @whatsfreshest. http://t.co/C97C6UvIuW&mdash; Bommy Cha (@bommycha) <a href="https://twitter.com/bommycha/status/514637679041191936">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/bommycha');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>