<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark Boyd's (@boydy) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Mark Boyd's (@boydy) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Mark Boyd's (@boydy) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/boydy" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/boydy&source=tweetbutton&text=Mark+Boyd%27s+%28%40boydy%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/boydy" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/19161209/1442264047/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/643415558344470528/Re83Ql0g.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Mark Boyd</h1>
        <p class="username">@boydy</p>
        <p>We analysed 998 tweets from @boydy's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@realdashrendar</span>
                        <span class="count">
                            71                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@fullvisual</span>
                        <span class="count">
                            59                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@JennieStamp</span>
                        <span class="count">
                            39                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@KarlieMacG</span>
                        <span class="count">
                            35                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@kwa</span>
                        <span class="count">
                            31                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@boydy following ratio is <span class="important">81%</span></h2>
        <p>Based on 1887 followers and 1511 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @boydy tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.23%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        142 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.23%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:73.85%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        238 tweets
                    </div>
                </div>
                <div class="percentage">
                    23.85%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.64%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        176 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.64%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.83%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        168 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.83%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.63%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        136 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.63%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.21%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        52 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.21%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.62%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        86 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.62%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#mischievousfridays</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#lovefridays</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#BrightonSEO</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#lfc</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#hellosummer</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">11%</span> of @boydy's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @boydy's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/572898802885869568/vsETcXfG.jpeg" class="profile-image">
                        <h3>Weird Horse</h3>
                        <p class="username">@WeirdHorse</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/514157766122803200/LsaO69ay.png" class="profile-image">
                        <h3>Michael Jarrett</h3>
                        <p class="username">@fullvisual</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2479809140/gjb6qg28xo2p0105jjr9.jpeg" class="profile-image">
                        <h3>Gregor Mailer</h3>
                        <p class="username">@gregormailer</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@boydy's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">im on the lookout for a macbook pro thats died that I can purchase for cheap so I can pull it apart. anyone able to help? please rt&mdash; Mark Boyd (@boydy) <a href="https://twitter.com/boydy/status/210006855446036482">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Anyone able to recommend an Edinburgh based freelance sales agent? Please rt&mdash; Mark Boyd (@boydy) <a href="https://twitter.com/boydy/status/199946651018870784">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">15 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">a sneaky leap year proposal on the royal mile today... http://t.co/ccUktx8f&mdash; Mark Boyd (@boydy) <a href="https://twitter.com/boydy/status/174992722774593536">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">15 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">my gf has won an ipad 3 retina black 16gb wifi in a competition but already has one. £399 RRP. Selling for £350. any takers? please rt&mdash; Mark Boyd (@boydy) <a href="https://twitter.com/boydy/status/298424845803347969">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">15 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">should a photo of a bear falling out of a tree be this amusing? http://t.co/bLWZbu0K&mdash; Mark Boyd (@boydy) <a href="https://twitter.com/boydy/status/195823631652225024">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/boydy');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>