<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrandRepublic's (@BrandRepublic) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="BrandRepublic's (@BrandRepublic) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="BrandRepublic's (@BrandRepublic) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/brandrepublic" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/brandrepublic&source=tweetbutton&text=BrandRepublic%27s+%28%40BrandRepublic%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/brandrepublic" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/7087112/1428657538/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/570515798582497280/6EAaHWP6.png" alt="" class="profile-image">
        <h1 class="typl8-beta">BrandRepublic</h1>
        <p class="username">@BrandRepublic</p>
        <p>We analysed 1000 tweets from @BrandRepublic's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F44D" title="1 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-SYNOPSIS" title="1 uses">
                    &#SYNOPSIS                        </span>
                                                <span class="emojione-AT" title="1 uses">
                    &#AT                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@Campaignmag</span>
                        <span class="count">
                            215                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@MarketingUK</span>
                        <span class="count">
                            122                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@TheWallUK</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@BuzzFeed</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@BRJobs</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@BrandRepublic following ratio is <span class="important">10%</span></h2>
        <p>Based on 254289 followers and 23210 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @BrandRepublic tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.7%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        157 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        182 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:71.7%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        217 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.7%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        207 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.3%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        153 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.4%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        54 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:53%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        30 tweets
                    </div>
                </div>
                <div class="percentage">
                    3.00%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#SMWLDN</span>
                        <span class="count">
                            189                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#SMW3Point0</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#OgilvySMW</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#60YearsTVAds</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#social</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">29%</span> of @BrandRepublic's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @BrandRepublic's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/570516739322953728/1by2f02D.png" class="profile-image">
                        <h3>BrandRepublicInsight</h3>
                        <p class="username">@BrandRepInsight</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/570530285230379008/FUdCJ4kk.jpeg" class="profile-image">
                        <h3>Brand Republic Jobs</h3>
                        <p class="username">@BRJobs</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/533174105449570304/soRPjluD.png" class="profile-image">
                        <h3>Rawnet </h3>
                        <p class="username">@Rawnet</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@BrandRepublic's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">333 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Essential social media marketing terms for digital marketers in our latest glossary http://t.co/n4NoR6yCUm http://t.co/C2FZNwI4jE&mdash; BrandRepublic (@BrandRepublic) <a href="https://twitter.com/BrandRepublic/status/635149610294636545">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">313 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Content stats from @reevoo this morning: 86% of businesses now use content marketing; 70% use more content than a year ago. #SMWLDN @smwldn&mdash; BrandRepublic (@BrandRepublic) <a href="https://twitter.com/BrandRepublic/status/643693730164264960">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">235 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.@Google's new logo changes depending on whether you use a desktop, voice or mobile search http://t.co/U0tl9jFcov http://t.co/74W17V5dal&mdash; BrandRepublic (@BrandRepublic) <a href="https://twitter.com/BrandRepublic/status/638984813156937728">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">207 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Essential social media marketing terms for digital marketers from @crimsonhexagon http://t.co/k1iyzkGYbs http://t.co/CbQVsRPlBm&mdash; BrandRepublic (@BrandRepublic) <a href="https://twitter.com/BrandRepublic/status/638010823919673344">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">176 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Here are the top 50 UK marketing/advertising @Klout influencers on social media http://t.co/5BjrM9IGyv #UKTweetElite http://t.co/gFixm4uwZq&mdash; BrandRepublic (@BrandRepublic) <a href="https://twitter.com/BrandRepublic/status/637927784518713344">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/brandrepublic');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>