<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caitlin Syrett's (@CaitlinSyrett) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Caitlin Syrett's (@CaitlinSyrett) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Caitlin Syrett's (@CaitlinSyrett) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/caitlinsyrett" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/caitlinsyrett&source=tweetbutton&text=Caitlin+Syrett%27s+%28%40CaitlinSyrett%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/caitlinsyrett" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/19707748/1399696262/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/414226464347652096/ZrfUV1f6.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Caitlin Syrett</h1>
        <p class="username">@CaitlinSyrett</p>
        <p>We analysed 999 tweets from @CaitlinSyrett's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F35F" title="1 uses">
                    &#1F35F                        </span>
                                                <span class="emojione-1F630" title="1 uses">
                    &#1F630                        </span>
                                                <span class="emojione-1F377" title="1 uses">
                    &#1F377                        </span>
                                                <span class="emojione-1F354" title="1 uses">
                    &#1F354                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F1FA1F1F8" title="1 uses">
                    &#1F1FA1F1F8                        </span>
                                                <span class="emojione-AND" title="1 uses">
                    &#AND                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@peteevansnot</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@NutritionAust</span>
                        <span class="count">
                            31                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@sundaynighton7</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@NutritionMunch</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@CroweTim</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@CaitlinSyrett following ratio is <span class="important">103%</span></h2>
        <p>Based on 987 followers and 1008 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @CaitlinSyrett tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:69.62%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        196 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.62%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.51%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        115 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.51%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.92%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        169 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.92%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.72%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        187 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.72%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.31%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        123 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.31%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.91%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        79 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.91%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.01%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        130 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.01%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#BRCC2015</span>
                        <span class="count">
                            74                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#auspol</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#newpyramid</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#fundprevention</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#qanda</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">35%</span> of @CaitlinSyrett's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @CaitlinSyrett's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2359982224/lxd2cncptjhci46tgjhh.png" class="profile-image">
                        <h3>Nutrition Australia</h3>
                        <p class="username">@NutritionAust</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/464264283040141312/GWMuyNE2.png" class="profile-image">
                        <h3>Obesity Coalition</h3>
                        <p class="username">@OPCAustralia</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2488063093/bdpgjxr33uez0hewdsxz.jpeg" class="profile-image">
                        <h3>3AW Melbourne</h3>
                        <p class="username">@3AW693</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@CaitlinSyrett's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">149 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Not wrong, but not right. Ruins a perfectly good Caramello block. Good PR though. https://t.co/3DAGtrRpIu&mdash; Caitlin Syrett (@CaitlinSyrett) <a href="https://twitter.com/CaitlinSyrett/status/599846892000780288">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">125 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Mark Latham's email address linked to Real ML Twitter account. Oopsie. http://t.co/X9jBYNKHlW&mdash; Caitlin Syrett (@CaitlinSyrett) <a href="https://twitter.com/CaitlinSyrett/status/633100210504208384">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">109 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Throwing a few of those $ into obesity prevention could have been good too yes https://t.co/ciliYCsXD3&mdash; Caitlin Syrett (@CaitlinSyrett) <a href="https://twitter.com/CaitlinSyrett/status/599908598538375169">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">93 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Perceived vs actual cancer risk factors. Too much concern for low risk. Not enough concern for high risks! #BRCC2015 http://t.co/j7k7E6a7v7&mdash; Caitlin Syrett (@CaitlinSyrett) <a href="https://twitter.com/CaitlinSyrett/status/598997864119799808">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">55 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Think the Aus Dietary Guidelines recommend a high carb diet?  Think again.  Results of my weekend experiment: http://t.co/EbqZzpLQI8&mdash; Caitlin Syrett (@CaitlinSyrett) <a href="https://twitter.com/CaitlinSyrett/status/610222561838788608">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/caitlinsyrett');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>