<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camilla's (@camillab) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Camilla's (@camillab) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Camilla's (@camillab) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/camillab" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/camillab&source=tweetbutton&text=Camilla%27s+%28%40camillab%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/camillab" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/987765476/1435004619/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/623972287918817284/X4Ddmr1a.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Camilla</h1>
        <p class="username">@camillab</p>
        <p>We analysed 999 tweets from @camillab's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F44F" title="70 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F64C" title="39 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F389" title="27 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F60D" title="22 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F601" title="20 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F44C" title="17 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-2764" title="15 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F621" title="13 uses">
                    &#1F621                        </span>
                                                <span class="emojione-1F64F" title="10 uses">
                    &#1F64F                        </span>
                                                <span class="emojione-1F44D" title="10 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F60A" title="10 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F62D" title="10 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F631" title="8 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F6B2" title="7 uses">
                    &#1F6B2                        </span>
                                                <span class="emojione-1F637" title="6 uses">
                    &#1F637                        </span>
                                                <span class="emojione-1F49B" title="6 uses">
                    &#1F49B                        </span>
                                                <span class="emojione-203C" title="5 uses">
                    &#203C                        </span>
                                                <span class="emojione-1F629" title="5 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F496" title="4 uses">
                    &#1F496                        </span>
                                                <span class="emojione-1F648" title="4 uses">
                    &#1F648                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@libby</span>
                        <span class="count">
                            62                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@hapfrap</span>
                        <span class="count">
                            50                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@soulcycle</span>
                        <span class="count">
                            31                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@birdfeeder</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@gibbongal</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@camillab following ratio is <span class="important">73%</span></h2>
        <p>Based on 824 followers and 595 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @camillab tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.11%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        141 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.11%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.02%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        180 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.62%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        166 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.62%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.82%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        188 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:71.32%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        213 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.32%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.81%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        68 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.81%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:54.3%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        43 tweets
                    </div>
                </div>
                <div class="percentage">
                    4.30%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#FantasyFootball</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#SOTD</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#proud</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#TheBachelorette</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#LoveWhereYouWork</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">29%</span> of @camillab's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @camillab's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/646061228192866304/6OOZwGrR.png" class="profile-image">
                        <h3>NowThis</h3>
                        <p class="username">@nowthisnews</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/615680132565504000/EIpgSD2K.png" class="profile-image">
                        <h3>Twitter</h3>
                        <p class="username">@twitter</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/562061398146953217/PRrbTept.jpeg" class="profile-image">
                        <h3>Libby Laveson</h3>
                        <p class="username">@libby</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@camillab's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">331 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@CassandraRules I work @ Twitter - users like you and stories like this make me so proud of what we do together. Thank you.&mdash; Camilla (@camillab) <a href="https://twitter.com/camillab/status/574089167723855872">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">170 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Happy birthday Charles! From all your friends at @twitter #charlesturns55 http://t.co/5kIy5KV3vI&mdash; Camilla (@camillab) <a href="https://twitter.com/camillab/status/563418431932743681">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">123 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">3 yrs ago @Harry_Styles replied to my sis's snap bc we were the only 3 people in the UK on @Snapchat cc:@evanspiegel http://t.co/E4TmPOEI4c&mdash; Camilla (@camillab) <a href="https://twitter.com/camillab/status/590544360275447808">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">89 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Hope you tweeps are ready for an award-winning tea time... http://t.co/7k3MnH4uwO&mdash; Camilla (@camillab) <a href="https://twitter.com/camillab/status/573542127101087744">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">72 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">This is probably #myunpopularopinion but @Beyonce looked like a trashy version of @KimKardashian at the #MetGala http://t.co/MQnH1gj3Fj&mdash; Camilla (@camillab) <a href="https://twitter.com/camillab/status/595432556943769601">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/camillab');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>