<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carl Hendy's (@carlhendy) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Carl Hendy's (@carlhendy) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Carl Hendy's (@carlhendy) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/carlhendy" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/carlhendy&source=tweetbutton&text=Carl+Hendy%27s+%28%40carlhendy%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/carlhendy" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/15317293/1403110837/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/540467568322965505/hOmWodY3.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Carl Hendy</h1>
        <p class="username">@carlhendy</p>
        <p>We analysed 999 tweets from @carlhendy's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2B50" title="5 uses">
                    &#2B50                        </span>
                                                <span class="emojione-2600" title="5 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F602" title="5 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F606" title="3 uses">
                    &#1F606                        </span>
                                                <span class="emojione-1F64F" title="2 uses">
                    &#1F64F                        </span>
                                                <span class="emojione-1F603" title="2 uses">
                    &#1F603                        </span>
                                                <span class="emojione-1F44A" title="2 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F60D" title="1 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F366" title="1 uses">
                    &#1F366                        </span>
                                                <span class="emojione-2764" title="1 uses">
                    &#2764                        </span>
                                                <span class="emojione-2614" title="1 uses">
                    &#2614                        </span>
                                                <span class="emojione-26A1" title="1 uses">
                    &#26A1                        </span>
                                                <span class="emojione-1F427" title="1 uses">
                    &#1F427                        </span>
                                                <span class="emojione-1F61D" title="1 uses">
                    &#1F61D                        </span>
                                                <span class="emojione-26A0" title="1 uses">
                    &#26A0                        </span>
                                                <span class="emojione-1F609" title="1 uses">
                    &#1F609                        </span>
                                                <span class="emojione-1F511" title="1 uses">
                    &#1F511                        </span>
                                                <span class="emojione-1F494" title="1 uses">
                    &#1F494                        </span>
                                                <span class="emojione-1F621" title="1 uses">
                    &#1F621                        </span>
                                                <span class="emojione-1F33B" title="1 uses">
                    &#1F33B                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@danbarker</span>
                        <span class="count">
                            39                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@dannydenhard</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@robkerry</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@iamrofe</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@jamesagate</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@carlhendy following ratio is <span class="important">69%</span></h2>
        <p>Based on 1594 followers and 1096 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @carlhendy tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.02%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        150 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.02%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        180 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.52%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        185 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.32%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        173 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.32%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.91%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        109 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.91%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.41%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        94 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.41%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.81%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        108 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.81%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#BrightonSEO</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#ecomchat</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#TubeStrike</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#LFC</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#seo</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">11%</span> of @carlhendy's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @carlhendy's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/378800000528564929/59b15ef8a02978a0b046e0964d91a122.jpeg" class="profile-image">
                        <h3>Rob Kerry</h3>
                        <p class="username">@robkerry</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2402889271/i302g8anvlrseev8uiid.jpeg" class="profile-image">
                        <h3>aaron wall</h3>
                        <p class="username">@aaronwall</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/604310355096047617/VWxXs7FE.png" class="profile-image">
                        <h3>Arena Flowers</h3>
                        <p class="username">@ArenaFlowers</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@carlhendy's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">128 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">26 year old Norfolk lad sells http://t.co/VMYM954w3m for £40m
http://t.co/b3UziJwAsa http://t.co/0Nu58tnZHj&mdash; Carl Hendy (@carlhendy) <a href="https://twitter.com/carlhendy/status/600204724764340226">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">76 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Many Senior SEO roles looking for "degrees" yet nearly most the best SEO's I know do not have degrees. Seems a dated req. in digital / SEO.&mdash; Carl Hendy (@carlhendy) <a href="https://twitter.com/carlhendy/status/621634305320710144">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">75 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Seems to be some interest in my Search Awards Awards, here are the details. http://t.co/gLYlg9fqYm&mdash; Carl Hendy (@carlhendy) <a href="https://twitter.com/carlhendy/status/608570160203620352">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">54 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Listen up newspapers you do not need to "no follow" all legitimate external links, you will break Google (source: https://t.co/HzJWfV90Aj)&mdash; Carl Hendy (@carlhendy) <a href="https://twitter.com/carlhendy/status/610795291940384769">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">44 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">"Make us a cup of tea Kath" - the brilliant @davetrott #BrightonSEO http://t.co/cEjt2C6wL7&mdash; Carl Hendy (@carlhendy) <a href="https://twitter.com/carlhendy/status/644916968626257920">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/carlhendy');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>