<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catriona Brown's (@catbrown) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Catriona Brown's (@catbrown) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Catriona Brown's (@catbrown) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/catbrown" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/catbrown&source=tweetbutton&text=Catriona+Brown%27s+%28%40catbrown%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/catbrown" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/21742844/1419812534/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/605014225736581121/CBKFuM6a.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Catriona Brown</h1>
        <p class="username">@catbrown</p>
        <p>We analysed 999 tweets from @catbrown's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="61 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F60D" title="56 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F648" title="52 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F44C" title="44 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F378" title="40 uses">
                    &#1F378                        </span>
                                                <span class="emojione-1F495" title="28 uses">
                    &#1F495                        </span>
                                                <span class="emojione-1F481" title="23 uses">
                    &#1F481                        </span>
                                                <span class="emojione-2600" title="17 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F46F" title="14 uses">
                    &#1F46F                        </span>
                                                <span class="emojione-1F637" title="14 uses">
                    &#1F637                        </span>
                                                <span class="emojione-1F6B6" title="13 uses">
                    &#1F6B6                        </span>
                                                <span class="emojione-1F382" title="13 uses">
                    &#1F382                        </span>
                                                <span class="emojione-1F1FA1F1F8" title="12 uses">
                    &#1F1FA1F1F8                        </span>
                                                <span class="emojione-2708" title="10 uses">
                    &#2708                        </span>
                                                <span class="emojione-1F64C" title="10 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F388" title="10 uses">
                    &#1F388                        </span>
                                                <span class="emojione-1F40E" title="8 uses">
                    &#1F40E                        </span>
                                                <span class="emojione-1F4AA" title="8 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F389" title="8 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F62D" title="7 uses">
                    &#1F62D                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@MoustachaCramp</span>
                        <span class="count">
                            60                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@TwitterUK</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@rajdeans</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@chivers</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@ChitChungh</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@catbrown following ratio is <span class="important">58%</span></h2>
        <p>Based on 1122 followers and 649 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @catbrown tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.91%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        139 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.91%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.91%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        129 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.91%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.52%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.42%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        194 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.42%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.52%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        185 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.41%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        104 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.41%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.31%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        93 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.31%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Periscope</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#TwitterStories</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#GE2015</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#GoTAtlantic</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#awkward</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">30%</span> of @catbrown's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @catbrown's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3535492796/f2671fedf93e7f0c86b4e20b9b791aa1.png" class="profile-image">
                        <h3>Twitter Ads UK</h3>
                        <p class="username">@TwitterAdsUK</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2284174643/t4f37ixzn1hnfr62iw7z.png" class="profile-image">
                        <h3>Twitter UK</h3>
                        <p class="username">@TwitterUK</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/615680132565504000/EIpgSD2K.png" class="profile-image">
                        <h3>Twitter</h3>
                        <p class="username">@twitter</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@catbrown's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">105 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Loving the #Jockalypse trend the SNP lot are too funny on Twitter. @irnbru and tartan everywhere! http://t.co/MIxo3WeV4Y&mdash; Catriona Brown (@catbrown) <a href="https://twitter.com/catbrown/status/595901976874889216">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">54 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Happy first twitter-versary to me 🎂 #LoveWhereYouWork http://t.co/8GN1MGLAvT&mdash; Catriona Brown (@catbrown) <a href="https://twitter.com/catbrown/status/605631336758538240">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">51 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Another reason why I love being scottish the #ScotRiots trend!&mdash; Catriona Brown (@catbrown) <a href="https://twitter.com/catbrown/status/589104379799670784">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">49 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Dying trying to stop the few evil rare extremists tainting your religion #JeSuisAhmed a true hero 💔&mdash; Catriona Brown (@catbrown) <a href="https://twitter.com/catbrown/status/553275497027997696">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">43 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Thoughts and prayers to all the families affected by this xxx #sevenseven http://t.co/HT3P8yk6IU&mdash; Catriona Brown (@catbrown) <a href="https://twitter.com/catbrown/status/618350547448537088">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/catbrown');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>