<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clara Guibourg's (@cguibourg) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Clara Guibourg's (@cguibourg) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Clara Guibourg's (@cguibourg) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/cguibourg" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/cguibourg&source=tweetbutton&text=Clara+Guibourg%27s+%28%40cguibourg%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/cguibourg" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/358192461/1393601773/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/511855719927533570/XWVKO2Wd.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Clara Guibourg</h1>
        <p class="username">@cguibourg</p>
        <p>We analysed 999 tweets from @cguibourg's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F525" title="12 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F44F" title="1 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-2600" title="1 uses">
                    &#2600                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@keilacguimaraes</span>
                        <span class="count">
                            58                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@ashleykirk92</span>
                        <span class="count">
                            55                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@samgwalsh1</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@bjacksonuk</span>
                        <span class="count">
                            46                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Ashley_J_Kirk</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@cguibourg following ratio is <span class="important">129%</span></h2>
        <p>Based on 506 followers and 652 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @cguibourg tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.81%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        138 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.81%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.81%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        128 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.81%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.82%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        158 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:71.82%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        218 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.02%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        180 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.51%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        65 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.51%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.21%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        112 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.21%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#interhacktives</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#buildthenews</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#womenintech</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#ddj</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#GE2015</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">23%</span> of @cguibourg's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @cguibourg's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/617104694532526081/Dl_qdyY8.jpg" class="profile-image">
                        <h3>James Ball</h3>
                        <p class="username">@jamesrbuk</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/534828727944114178/rwektzgy.jpeg" class="profile-image">
                        <h3>Alberto Nardelli</h3>
                        <p class="username">@AlbertoNardelli</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/609389481754558464/v5F_0_KW.jpg" class="profile-image">
                        <h3>Viktor Barth-Kron</h3>
                        <p class="username">@viktorbk</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@cguibourg's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">303 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Paxman having lunch with Mhairi Black is every bit as good as you'd expect. http://t.co/CkZWWtdPoV http://t.co/8Mt6EDFpds&mdash; Clara Guibourg (@cguibourg) <a href="https://twitter.com/cguibourg/status/627076795939074048">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">230 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Tutorial: how to do a network analysis of a Twitter hashtag using Gephi #ddj http://t.co/HGKxm3DV8T http://t.co/3yKBbMmXzJ&mdash; Clara Guibourg (@cguibourg) <a href="https://twitter.com/cguibourg/status/595584996674383873">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">157 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I got a pretty unexpected response when I e-mailed Google's press office today. http://t.co/yX24d0BeoU http://t.co/8mfQZepBAV&mdash; Clara Guibourg (@cguibourg) <a href="https://twitter.com/cguibourg/status/636864844424212480">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">125 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Emelie gör uppror mot utförsäkringar: ”Vi är 86 000. På fyra år har inget hänt.” http://t.co/7zF0iMvo18 @metrosverige http://t.co/6AzLZ7DiPX&mdash; Clara Guibourg (@cguibourg) <a href="https://twitter.com/cguibourg/status/510088030779351040">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">72 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">These are the UK's worst industries for boardroom diversity. http://t.co/ZmBi76yTzJ #womenonboards @CatalystInc http://t.co/7rqKDP1dmQ&mdash; Clara Guibourg (@cguibourg) <a href="https://twitter.com/cguibourg/status/620901546708983809">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/cguibourg');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>