<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>casalaboratorio's (@CHFlab) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="casalaboratorio's (@CHFlab) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="casalaboratorio's (@CHFlab) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/chflab" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/chflab&source=tweetbutton&text=casalaboratorio%27s+%28%40CHFlab%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/chflab" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/576074091/1442265744/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/643857527726297089/NplW7QOR.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">casalaboratorio</h1>
        <p class="username">@CHFlab</p>
        <p>We analysed 1000 tweets from @CHFlab's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2615" title="1 uses">
                    &#2615                        </span>
                                                <span class="emojione-1F4F2" title="1 uses">
                    &#1F4F2                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@ilfakkino</span>
                        <span class="count">
                            34                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@Dezeen</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@Tosoul86</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@sTen</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@biondox</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@CHFlab following ratio is <span class="important">50%</span></h2>
        <p>Based on 3470 followers and 1714 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @CHFlab tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:68.7%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        187 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        122 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.2%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        172 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        125 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.1%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        151 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.7%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        127 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.6%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        116 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.60%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#laboratorio</span>
                        <span class="count">
                            58                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#casalaboratorio</span>
                        <span class="count">
                            34                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#BH</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#biketime</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SP</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">32%</span> of @CHFlab's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @CHFlab's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/232541366/thezeen.png" class="profile-image">
                        <h3>Dezeen</h3>
                        <p class="username">@Dezeen</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/615637660737118209/o52G_3m3.jpg" class="profile-image">
                        <h3>Casa Vogue Brasil</h3>
                        <p class="username">@casavoguebrasil</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/517697451789004800/5J2poyB2.png" class="profile-image">
                        <h3>dwell</h3>
                        <p class="username">@dwell</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@CHFlab's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">32 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Buonasera #Milano http://t.co/xOp1QcbGwn&mdash; casalaboratorio (@CHFlab) <a href="https://twitter.com/CHFlab/status/640581224772337664">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">30 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#Inhotim http://t.co/4TzTwOjpb9&mdash; casalaboratorio (@CHFlab) <a href="https://twitter.com/CHFlab/status/636609258700865536">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">20 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Como criar um blog pessoal ou blog corporativo http://t.co/LlnsMbGiR2 http://t.co/dyaEIfbS25&mdash; casalaboratorio (@CHFlab) <a href="https://twitter.com/CHFlab/status/642426221800894465">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">18 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Sentirsi un turista a #Milano http://t.co/fl9icMaUYM&mdash; casalaboratorio (@CHFlab) <a href="https://twitter.com/CHFlab/status/625363097084121088">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">15 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Sveglia presto, molto presto, solita bici, solito #laboratorio , soliti trucioli. Tutto perfetto quindi.&mdash; casalaboratorio (@CHFlab) <a href="https://twitter.com/CHFlab/status/638584894856273921">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/chflab');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>