<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chocolate Reviews's (@chocolatereview) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Chocolate Reviews's (@chocolatereview) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Chocolate Reviews's (@chocolatereview) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/chocolatereview" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/chocolatereview&source=tweetbutton&text=Chocolate+Reviews%27s+%28%40chocolatereview%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/chocolatereview" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/30221959/1423748799/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/1292547748/me1-300x225.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Chocolate Reviews</h1>
        <p class="username">@chocolatereview</p>
        <p>We analysed 1000 tweets from @chocolatereview's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F483" title="2 uses">
                    &#1F483                        </span>
                                                <span class="emojione-1F64F" title="1 uses">
                    &#1F64F                        </span>
                                                <span class="emojione-1F4A6" title="1 uses">
                    &#1F4A6                        </span>
                                                <span class="emojione-1F44F" title="1 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F424" title="1 uses">
                    &#1F424                        </span>
                                                <span class="emojione-1F430" title="1 uses">
                    &#1F430                        </span>
                                                <span class="emojione-1F389" title="1 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F368" title="1 uses">
                    &#1F368                        </span>
                                                <span class="emojione-1F370" title="1 uses">
                    &#1F370                        </span>
                                                <span class="emojione-1F378" title="1 uses">
                    &#1F378                        </span>
                                                <span class="emojione-1F36B" title="1 uses">
                    &#1F36B                        </span>
                                                <span class="emojione-2764" title="1 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F44C" title="1 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F609" title="1 uses">
                    &#1F609                        </span>
                                                <span class="emojione-231A" title="1 uses">
                    &#231A                        </span>
                                                <span class="emojione-1F381" title="1 uses">
                    &#1F381                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@chocablog</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@chocolatereview</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@MiddletownHill</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@MostlyAboutChoc</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@welovechocolate</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@chocolatereview following ratio is <span class="important">13%</span></h2>
        <p>Based on 19450 followers and 2349 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @chocolatereview tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.6%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        176 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.8%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        178 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.8%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        148 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.1%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        161 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.1%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.2%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        132 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.4%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        74 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.40%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#chocolate</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#beantobar</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#cocoa</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#chocfest15</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#GBSCC2015</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">11%</span> of @chocolatereview's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @chocolatereview's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2290674939/3u0hrzxzmfkdzuuxqzwa.gif" class="profile-image">
                        <h3>Chocolatiers</h3>
                        <p class="username">@ChocolatiersUK</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/557689933549559808/M-Afc98w.jpeg" class="profile-image">
                        <h3>22Chocolat </h3>
                        <p class="username">@22chocolatier</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/573425721671962624/L8zRD0rZ.jpeg" class="profile-image">
                        <h3>Hazel Lee</h3>
                        <p class="username">@hazel_choc</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@chocolatereview's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">103 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Why cheap chocolate eggs are bad for us – and terrible for poor cocoa farmers http://t.co/eMhA4iSTVe&mdash; Chocolate Reviews (@chocolatereview) <a href="https://twitter.com/chocolatereview/status/584455635577741313">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">97 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Enjoying a pre-Easter mingle with @HotelChocolat http://t.co/5Crqxx3P9p&mdash; Chocolate Reviews (@chocolatereview) <a href="https://twitter.com/chocolatereview/status/573488758072471552">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">72 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Love it http://t.co/WofGIfkxiU&mdash; Chocolate Reviews (@chocolatereview) <a href="https://twitter.com/chocolatereview/status/575065251600732161">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">69 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">There was no chance I was going to drink it anyway, but wtf!!! http://t.co/GIc11r4j5c&mdash; Chocolate Reviews (@chocolatereview) <a href="https://twitter.com/chocolatereview/status/618520659296018432">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">57 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Looks about right ... http://t.co/6EdmkFFK1N&mdash; Chocolate Reviews (@chocolatereview) <a href="https://twitter.com/chocolatereview/status/608749857378062337">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/chocolatereview');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>