<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colin Murtagh's (@CMurtagh) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Colin Murtagh's (@CMurtagh) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Colin Murtagh's (@CMurtagh) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/cmurtagh" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/cmurtagh&source=tweetbutton&text=Colin+Murtagh%27s+%28%40CMurtagh%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/cmurtagh" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/28403666/1402984362/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/606554131138887680/Q59tw1f9.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Colin Murtagh</h1>
        <p class="username">@CMurtagh</p>
        <p>We analysed 1000 tweets from @CMurtagh's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F4A9" title="46 uses">
                    &#1F4A9                        </span>
                                                <span class="emojione-1F44D" title="8 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F44F" title="6 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-2B50" title="5 uses">
                    &#2B50                        </span>
                                                <span class="emojione-1F61E" title="4 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-1F525" title="4 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F4B0" title="4 uses">
                    &#1F4B0                        </span>
                                                <span class="emojione-1F305" title="3 uses">
                    &#1F305                        </span>
                                                <span class="emojione-1F3C4" title="3 uses">
                    &#1F3C4                        </span>
                                                <span class="emojione-1F4B2" title="3 uses">
                    &#1F4B2                        </span>
                                                <span class="emojione-1F614" title="3 uses">
                    &#1F614                        </span>
                                                <span class="emojione-1F602" title="3 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F41C" title="3 uses">
                    &#1F41C                        </span>
                                                <span class="emojione-1F30A" title="3 uses">
                    &#1F30A                        </span>
                                                <span class="emojione-1F4A5" title="3 uses">
                    &#1F4A5                        </span>
                                                <span class="emojione-1F493" title="3 uses">
                    &#1F493                        </span>
                                                <span class="emojione-1F697" title="2 uses">
                    &#1F697                        </span>
                                                <span class="emojione-1F37B" title="2 uses">
                    &#1F37B                        </span>
                                                <span class="emojione-263A" title="2 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F37A" title="2 uses">
                    &#1F37A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@AbigailFlora</span>
                        <span class="count">
                            35                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@mighty55</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@MissInterested</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@egards</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@TheEggOutWest</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@CMurtagh following ratio is <span class="important">74%</span></h2>
        <p>Based on 1203 followers and 888 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @CMurtagh tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        134 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.5%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.4%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        174 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.6%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        176 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.9%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        169 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.7%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        117 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.5%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        85 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.50%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Periscope</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#30days30pics</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#LA</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#HookEm</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SDCC</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">40%</span> of @CMurtagh's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @CMurtagh's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/613001239559716864/NiUf00PJ.jpg" class="profile-image">
                        <h3>LACoFD Lifeguards</h3>
                        <p class="username">@LACoLifeguards</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/646051131270037504/YWZwIv5M.jpg" class="profile-image">
                        <h3>Jordan</h3>
                        <p class="username">@mighty55</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/628240697057906689/K1pddZ32.png" class="profile-image">
                        <h3>World Surf League</h3>
                        <p class="username">@wsl</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@CMurtagh's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">70 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I've made it #birthday #lifeguard #TheHoff @DavidHasselhoff http://t.co/NpVSpZyIFQ&mdash; Colin Murtagh (@CMurtagh) <a href="https://twitter.com/CMurtagh/status/633675227910635520">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">45 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I was just kicked off a @Delta flight for trying to film a conflict with another passenger. Extremely disappointed in the airline.&mdash; Colin Murtagh (@CMurtagh) <a href="https://twitter.com/CMurtagh/status/636386441254178816">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">40 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@emilyfisker @kvincke @namnam @AbigailFlora @allieleww @kell @Elyssa @else #NomNomNom http://t.co/M5I87It4j2&mdash; Colin Murtagh (@CMurtagh) <a href="https://twitter.com/CMurtagh/status/591418734054612992">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">38 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Finished @LACoLifeguards Academy today. I'm now an Ocean Lifeguard #WatchTheWater http://t.co/jaNHLVUUaA&mdash; Colin Murtagh (@CMurtagh) <a href="https://twitter.com/CMurtagh/status/605217926354853888">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">36 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I did not get engaged today&mdash; Colin Murtagh (@CMurtagh) <a href="https://twitter.com/CMurtagh/status/628043459010498560">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/cmurtagh');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>