<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dj Walker-Morgan's (@Codepope) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Dj Walker-Morgan's (@Codepope) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Dj Walker-Morgan's (@Codepope) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/codepope" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/codepope&source=tweetbutton&text=Dj+Walker-Morgan%27s+%28%40Codepope%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/codepope" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/617063/1399389515/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/463699445020753920/VMK46fLd.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Dj Walker-Morgan</h1>
        <p class="username">@Codepope</p>
        <p>We analysed 999 tweets from @Codepope's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@dhmorton</span>
                        <span class="count">
                            56                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@MegaSlippers</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@MartinBelam</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@ralpost</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@jearle</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Codepope following ratio is <span class="important">76%</span></h2>
        <p>Based on 1433 followers and 1079 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Codepope tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:69.12%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        191 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.12%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.71%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.71%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.82%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        158 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.82%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        158 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.41%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        114 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.41%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.91%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        79 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.91%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.22%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        152 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.22%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#RaspIO_duino</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#FirstWorldBravery</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Arduboy</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Eurovision</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SnoopersCharter</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">3%</span> of @Codepope's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Codepope's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/628620055668989952/grRIgDjT.png" class="profile-image">
                        <h3>HackWimbledon</h3>
                        <p class="username">@HackWimbledon</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/548665855031402496/IDR_XsoL.jpeg" class="profile-image">
                        <h3>Shit Academics Say</h3>
                        <p class="username">@AcademicsSay</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/548475233137860608/vJGdpGLB.jpeg" class="profile-image">
                        <h3>Kia Makarechi</h3>
                        <p class="username">@Kia_Mak</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Codepope's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">53 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@pmarca @beaucronin @thegrugq not shown 15khz  pulsed magnet helping animate the robot http://t.co/MdUvkr6Otr - very clever&mdash; Dj Walker-Morgan (@Codepope) <a href="https://twitter.com/Codepope/status/604525472098189312">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">51 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@Number10gov @HouseofCommons He will then proceed to the ceremonial kicking of beggars and single mums on Westminster bridge.&mdash; Dj Walker-Morgan (@Codepope) <a href="https://twitter.com/Codepope/status/618689686899453952">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">50 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Oh look, there’s people out there who think electoral reform is like really important. WHERE THE HELL WERE YOU WHEN WE HAD VOTE ON IT?&mdash; Dj Walker-Morgan (@Codepope) <a href="https://twitter.com/Codepope/status/596609953491767296">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">49 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Jeremy [CH]unt seems to already be blaming the previous government for the failings in the NHS. “We’re eight days in”…&mdash; Dj Walker-Morgan (@Codepope) <a href="https://twitter.com/Codepope/status/600199740064714752">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">26 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The @Amazonuk Marketplace scam - Allowing non-EU sellers on, not displaying their non-EU status or the fact you are liable for customs.&mdash; Dj Walker-Morgan (@Codepope) <a href="https://twitter.com/Codepope/status/629211742267146240">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/codepope');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>