<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Converge's (@convergenet) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Converge's (@convergenet) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Converge's (@convergenet) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/convergenet" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/convergenet&source=tweetbutton&text=Converge%27s+%28%40convergenet%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/convergenet" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/81116485/1431341383/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/3332030929/e71449895e81ea1fd86a44364060fdfb.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Converge</h1>
        <p class="username">@convergenet</p>
        <p>We analysed 999 tweets from @convergenet's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@convergenet</span>
                        <span class="count">
                            93                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@gloucesterrugby</span>
                        <span class="count">
                            69                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@rugbyworldcup</span>
                        <span class="count">
                            57                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@TheNationalStar</span>
                        <span class="count">
                            52                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Circle2Success</span>
                        <span class="count">
                            41                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@convergenet following ratio is <span class="important">95%</span></h2>
        <p>Based on 559 followers and 529 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @convergenet tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:66.22%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        162 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.22%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.62%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        186 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.62%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.62%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        156 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.62%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.42%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        164 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.42%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:71.62%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        216 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.62%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:53.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        31 tweets
                    </div>
                </div>
                <div class="percentage">
                    3.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.41%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        84 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.41%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#RWC2015</span>
                        <span class="count">
                            69                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#fridayfunfact</span>
                        <span class="count">
                            54                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#thankSAll</span>
                        <span class="count">
                            40                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#goodtoconnect</span>
                        <span class="count">
                            35                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#GlosBiz</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">47%</span> of @convergenet's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @convergenet's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/452748594882179072/phQNYzmJ.jpeg" class="profile-image">
                        <h3>The Growth Hub</h3>
                        <p class="username">@Thegrowthhubbiz</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2930589637/673acd9d8ba094535b2b06423dca2d2e.jpeg" class="profile-image">
                        <h3>Cheltenham Chamber  </h3>
                        <p class="username">@CheltChamber</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/490495717203386368/p3AHPBoi.jpeg" class="profile-image">
                        <h3>Suzanne Hall-Gibbins</h3>
                        <p class="username">@Circle2Success</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@convergenet's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">50 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Looking forward to talking about Cyber Security at the @BizShowGlos with @BPE_Solicitors, Ashley Page, @Circle2Success @Glos_Police&mdash; Converge (@convergenet) <a href="https://twitter.com/convergenet/status/595899194004606977">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">36 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Good inspirational talks at the @AllGolds Breakfast meeting from Steve McCormack and Prof Derek Mowbray #allgoldsbiz&mdash; Converge (@convergenet) <a href="https://twitter.com/convergenet/status/492606421612388352">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">31 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">It's not about the sale, it's about the customer service http://t.co/nOWJzueA0K&mdash; Converge (@convergenet) <a href="https://twitter.com/convergenet/status/499494569768001536">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@chunfkong @MandCoJewellers @Mark_Blake @MarcusInStroud @officeworx @KimCypher @TalaScott @tayntonssols @RandallPayne And a happy Fri to you&mdash; Converge (@convergenet) <a href="https://twitter.com/convergenet/status/627063918352072704">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">23 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">My best RTs this week came from: @MandCoJewellers @chunfkong @PodCoffee @garethbalmer #thankSAll Who were yours? http://t.co/u6cAAoUW2K&mdash; Converge (@convergenet) <a href="https://twitter.com/convergenet/status/630329459636338688">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/convergenet');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>