<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dabney Donigan's (@dabneydoni) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Dabney Donigan's (@dabneydoni) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Dabney Donigan's (@dabneydoni) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/dabneydoni" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/dabneydoni&source=tweetbutton&text=Dabney+Donigan%27s+%28%40dabneydoni%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/dabneydoni" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/261965413/1421687848/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/557225931203289088/0q-RsNLu.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Dabney Donigan</h1>
        <p class="username">@dabneydoni</p>
        <p>We analysed 538 tweets from @dabneydoni's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@bigspaceship</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@dabneydoni</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@daretorant</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@nytimes</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@nvisser</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@dabneydoni following ratio is <span class="important">144%</span></h2>
        <p>Based on 411 followers and 590 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @dabneydoni tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:71.38%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        115 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.38%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.64%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        68 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.64%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.73%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        90 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.73%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        78 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.38%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        72 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.38%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.11%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        49 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.11%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.27%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        66 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.27%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#NYC</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Seahawks</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#UX</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Sandy</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#USOpen</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">37%</span> of @dabneydoni's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @dabneydoni's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/458981572243234816/oN5ra04N.png" class="profile-image">
                        <h3>Big Spaceship</h3>
                        <p class="username">@bigspaceship</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2183413578/WTFDali.png" class="profile-image">
                        <h3>WTF Art History</h3>
                        <p class="username">@wtfarthistory</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/633682686494662656/D2_lBoLs.jpg" class="profile-image">
                        <h3>Artsy</h3>
                        <p class="username">@artsy</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@dabneydoni's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">24 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">"Greatest myth ever: Mobile is just on-the-go." - @younglucas #UX #LearnedatGA&mdash; Dabney Donigan (@dabneydoni) <a href="https://twitter.com/dabneydoni/status/381481470281252864">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">23 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Happiness is knowing that @bigspaceship is (re)reading To Kill a Mockingbird + Go Set a Watchmen with you. We're redoing 8th grade together.&mdash; Dabney Donigan (@dabneydoni) <a href="https://twitter.com/dabneydoni/status/623246762917130240">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">It's never a bad time to have an existential crisis. http://t.co/8NvnUcfb7s&mdash; Dabney Donigan (@dabneydoni) <a href="https://twitter.com/dabneydoni/status/502173261074292736">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">11 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Honored to be selected as a member of the #iabmixxawards Screening Committee. Seeing some amazing digital creative work as we speak.&mdash; Dabney Donigan (@dabneydoni) <a href="https://twitter.com/dabneydoni/status/492343441473695744">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">11 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.@bigspaceship has started their #WorldCup pool. USA has a 0.4% chance — sold. (cred. @naimsays) http://t.co/ZpGFQ2N0k0&mdash; Dabney Donigan (@dabneydoni) <a href="https://twitter.com/dabneydoni/status/476162917159944193">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/dabneydoni');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>