<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dave Bird's (@davebirdphoto) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Dave Bird's (@davebirdphoto) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Dave Bird's (@davebirdphoto) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/davebirdphoto" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/davebirdphoto&source=tweetbutton&text=Dave+Bird%27s+%28%40davebirdphoto%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/davebirdphoto" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/162033344/1399556457/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/618399363698720768/w7Hmt16c.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Dave Bird</h1>
        <p class="username">@davebirdphoto</p>
        <p>We analysed 1000 tweets from @davebirdphoto's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F388" title="3 uses">
                    &#1F388                        </span>
                                                <span class="emojione-1F418" title="1 uses">
                    &#1F418                        </span>
                                                <span class="emojione-1F613" title="1 uses">
                    &#1F613                        </span>
                                                <span class="emojione-2764" title="1 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F631" title="1 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F3CA" title="1 uses">
                    &#1F3CA                        </span>
                                                <span class="emojione-1F62D" title="1 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-A9" title="1 uses">
                    &#A9                        </span>
                                                <span class="emojione-1F602" title="1 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F612" title="1 uses">
                    &#1F612                        </span>
                                                <span class="emojione-1F621" title="1 uses">
                    &#1F621                        </span>
                                                <span class="emojione-1F30A" title="1 uses">
                    &#1F30A                        </span>
                                                <span class="emojione-1F47B" title="1 uses">
                    &#1F47B                        </span>
                                                <span class="emojione-1F511" title="1 uses">
                    &#1F511                        </span>
                                                <span class="emojione-1F3B6" title="1 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F33F" title="1 uses">
                    &#1F33F                        </span>
                                                <span class="emojione-1F1EB1F1F7" title="1 uses">
                    &#1F1EB1F1F7                        </span>
                                                <span class="emojione-1F42F" title="1 uses">
                    &#1F42F                        </span>
                                                <span class="emojione-1F4F7" title="1 uses">
                    &#1F4F7                        </span>
                                                <span class="emojione-2708" title="1 uses">
                    &#2708                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@paul_clarke</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@davebirdphoto</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@MrPaulGroom</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@julesmattsson</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@WLennonPhoto</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@davebirdphoto following ratio is <span class="important">110%</span></h2>
        <p>Based on 2203 followers and 2403 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @davebirdphoto tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:66.7%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        167 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        182 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.3%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        203 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.6%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        116 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.6%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        146 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.9%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        109 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.7%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        77 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.70%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#travel</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#TheEPAs</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#SriLanka</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#eventprofs</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SitC2015</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">10%</span> of @davebirdphoto's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @davebirdphoto's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/550422784631787521/uqvR4oN-.jpeg" class="profile-image">
                        <h3>TenEighty UK</h3>
                        <p class="username">@TenEightyUK</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/636530866483675136/H8nhuEJH.jpg" class="profile-image">
                        <h3>Jules Mattsson</h3>
                        <p class="username">@julesmattsson</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/511474493567418369/IBRxU9AL.png" class="profile-image">
                        <h3>TheEPAs</h3>
                        <p class="username">@The_EPAs</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@davebirdphoto's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">299 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Probably the best review on @CotswoldOutdoor's site! http://t.co/x5YOEeONde&mdash; Dave Bird (@davebirdphoto) <a href="https://twitter.com/davebirdphoto/status/557225101297741825">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">217 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">My photo from @LondonLGBTPride just won Best Event Photography Of The Year 2015: Cultural Events! @The_EPAs http://t.co/0TWwYmEo50&mdash; Dave Bird (@davebirdphoto) <a href="https://twitter.com/davebirdphoto/status/588774270496542720">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">75 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Looking forward to shooting @LondonLGBTPride on Saturday. Would love to find the group in my award-winning photo! http://t.co/ugCZ7ziFR0&mdash; Dave Bird (@davebirdphoto) <a href="https://twitter.com/davebirdphoto/status/613664746152304640">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">65 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Good luck @CaptainKetch @ashandlouuk on your row across the Indian Ocean! http://t.co/ldZ14JOIoP #nothingsimpossible http://t.co/4R1fHQNigQ&mdash; Dave Bird (@davebirdphoto) <a href="https://twitter.com/davebirdphoto/status/592063624413323264">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">62 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Amazing to win a category and overall runner-up at the Event Photography Awards last night! http://t.co/trpKH9wBgq http://t.co/muOBZVA885&mdash; Dave Bird (@davebirdphoto) <a href="https://twitter.com/davebirdphoto/status/589060629555716097">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/davebirdphoto');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>