<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eimear Lambe✨'s (@eimslambe) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Eimear Lambe✨'s (@eimslambe) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Eimear Lambe✨'s (@eimslambe) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/eimslambe" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/eimslambe&source=tweetbutton&text=Eimear+Lambe%E2%9C%A8%27s+%28%40eimslambe%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/eimslambe" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/23682051/1434633630/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/603498307789402112/524Wi96w.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Eimear Lambe✨</h1>
        <p class="username">@eimslambe</p>
        <p>We analysed 1000 tweets from @eimslambe's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F389" title="29 uses">
                    &#1F389                        </span>
                                                <span class="emojione-2764" title="26 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F334" title="5 uses">
                    &#1F334                        </span>
                                                <span class="emojione-1F37B" title="4 uses">
                    &#1F37B                        </span>
                                                <span class="emojione-1F378" title="4 uses">
                    &#1F378                        </span>
                                                <span class="emojione-1F44F" title="4 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F490" title="4 uses">
                    &#1F490                        </span>
                                                <span class="emojione-1F44C" title="3 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F3E0" title="3 uses">
                    &#1F3E0                        </span>
                                                <span class="emojione-2600" title="3 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F61E" title="3 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-1F4DE" title="3 uses">
                    &#1F4DE                        </span>
                                                <span class="emojione-1F370" title="3 uses">
                    &#1F370                        </span>
                                                <span class="emojione-1F44A" title="3 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F337" title="2 uses">
                    &#1F337                        </span>
                                                <span class="emojione-1F351" title="2 uses">
                    &#1F351                        </span>
                                                <span class="emojione-1F377" title="2 uses">
                    &#1F377                        </span>
                                                <span class="emojione-1F355" title="2 uses">
                    &#1F355                        </span>
                                                <span class="emojione-1F481" title="2 uses">
                    &#1F481                        </span>
                                                <span class="emojione-1F483" title="2 uses">
                    &#1F483                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@benjackthomas</span>
                        <span class="count">
                            77                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@samuelofc</span>
                        <span class="count">
                            62                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@skillwill</span>
                        <span class="count">
                            49                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@olinewton</span>
                        <span class="count">
                            40                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@SanjM</span>
                        <span class="count">
                            35                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@eimslambe following ratio is <span class="important">40%</span></h2>
        <p>Based on 1682 followers and 659 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @eimslambe tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:61.5%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        115 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.4%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        124 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.9%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        179 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.3%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        183 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        180 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        101 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.8%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        118 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.80%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Periscope</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#LoveWhereYouWork</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#GE2015</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#LFW</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#PoweredByTweets</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">26%</span> of @eimslambe's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @eimslambe's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/590519909643321344/EXcIheQJ.jpg" class="profile-image">
                        <h3>Burberry</h3>
                        <p class="username">@Burberry</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/643310571522236416/-bbz3iNp.jpg" class="profile-image">
                        <h3>Bruce Daisley</h3>
                        <p class="username">@brucedaisley</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/536369378632032256/fleA5Ipm.jpeg" class="profile-image">
                        <h3>Kevin Weil</h3>
                        <p class="username">@kevinweil</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@eimslambe's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">672 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.@tomgreenlive periscopes from streets of SF, two fans find him, he hops in their car &amp; they periscope him. Amazing http://t.co/7tp5ltRNEk&mdash; Eimear Lambe✨ (@eimslambe) <a href="https://twitter.com/eimslambe/status/591311421025230848">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">173 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The lovely @TwitterUK on the way to #MediaWeekAwards, celebrating the one and only @LucyCDMosley #LoveWhereYouWork http://t.co/dzqM1my7Gm&mdash; Eimear Lambe✨ (@eimslambe) <a href="https://twitter.com/eimslambe/status/525345774578966528">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">114 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Omg! We've done it! Top prize in Ocean outdoor creative category! Go team! http://t.co/3lWnodCkKv&mdash; Eimear Lambe✨ (@eimslambe) <a href="https://twitter.com/eimslambe/status/520132167138291712">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">83 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">So much ❤️ and respect for @MonicaLewinsky  https://t.co/uovBfS1cgm&mdash; Eimear Lambe✨ (@eimslambe) <a href="https://twitter.com/eimslambe/status/614055677930176512">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">81 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#ThankYouDickC #LoveWhereYouWork http://t.co/LepfBbLpGD&mdash; Eimear Lambe✨ (@eimslambe) <a href="https://twitter.com/eimslambe/status/609096017410179073">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/eimslambe');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>