<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emily Clark's (@EmilyClark11) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Emily Clark's (@EmilyClark11) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Emily Clark's (@EmilyClark11) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/emilyclark11" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/emilyclark11&source=tweetbutton&text=Emily+Clark%27s+%28%40EmilyClark11%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/emilyclark11" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/34361967/1438007554/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/429983623769387008/zl5vzuuw.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Emily Clark</h1>
        <p class="username">@EmilyClark11</p>
        <p>We analysed 996 tweets from @EmilyClark11's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-270C" title="1 uses">
                    &#270C                        </span>
                                                <span class="emojione-1F44C" title="1 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F1FA1F1F8" title="1 uses">
                    &#1F1FA1F1F8                        </span>
                                                <span class="emojione-ROSTER" title="1 uses">
                    &#ROSTER                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@pitchlondon</span>
                        <span class="count">
                            41                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@tomrubashow</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@Gezza_O</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@tomkelk</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@JKenneyHerbert</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@EmilyClark11 following ratio is <span class="important">47%</span></h2>
        <p>Based on 941 followers and 438 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @EmilyClark11 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.77%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        177 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.77%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.97%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        179 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.97%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.28%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        202 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.28%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.67%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        166 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.67%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.46%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        144 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.46%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.52%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        55 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.33%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        73 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.33%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#socialmedia</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#NBA</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#WorldCup</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#digisport</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#DigiSport</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">28%</span> of @EmilyClark11's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @EmilyClark11's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/88302587/Pitch-Twittter.jpg" class="profile-image">
                        <h3>Pitch</h3>
                        <p class="username">@pitchlondon</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/473459897204363265/25gKH5iz.png" class="profile-image">
                        <h3>Grabyo</h3>
                        <p class="username">@Grabyo</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/428910369994584064/K5YNxQ91.png" class="profile-image">
                        <h3>The Offside Rule </h3>
                        <p class="username">@OffsideRulePod</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@EmilyClark11's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">278 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">This is brilliant from Audi reacting to the #Sochi14 Olympic Ring incident (via @StevenWoodgate) http://t.co/0lz1BqOZw4&mdash; Emily Clark (@EmilyClark11) <a href="https://twitter.com/EmilyClark11/status/432946612705718272">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">172 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Merry Christmas, from #Banksy. http://t.co/9O81z8YxTJ&mdash; Emily Clark (@EmilyClark11) <a href="https://twitter.com/EmilyClark11/status/412153205972168704">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">64 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">There was no point in me coming in to work early this morning. I'm just watching Steph Curry replays like... https://t.co/7cxV8b25Zd.&mdash; Emily Clark (@EmilyClark11) <a href="https://twitter.com/EmilyClark11/status/591505373904777216">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">58 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Interesting read on how ESPN plans to dominate the post-TV world: http://t.co/jfLoxo0AxJ.&mdash; Emily Clark (@EmilyClark11) <a href="https://twitter.com/EmilyClark11/status/620562610539352065">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">56 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Nice quote! 'Digital forms of communication and engagement should be a core skill, not a specialism' - @Wadds: http://t.co/eCyFVrqOxm.&mdash; Emily Clark (@EmilyClark11) <a href="https://twitter.com/EmilyClark11/status/524649593859215360">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/emilyclark11');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>