<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emily Aitchison's (@emilya) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Emily Aitchison's (@emilya) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Emily Aitchison's (@emilya) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/emilya" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/emilya&source=tweetbutton&text=Emily+Aitchison%27s+%28%40emilya%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/emilya" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/16927289/1369729733/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/3722199692/1eb73ef83b386d37bb35a9db87db44c9.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Emily Aitchison</h1>
        <p class="username">@emilya</p>
        <p>We analysed 658 tweets from @emilya's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@vickyperry</span>
                        <span class="count">
                            45                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@TheLukeGosling</span>
                        <span class="count">
                            39                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@RealWire</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@JustinReid</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@GilesS</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@emilya following ratio is <span class="important">101%</span></h2>
        <p>Based on 513 followers and 516 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @emilya tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:61.85%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        78 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.85%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.68%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        90 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.68%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.07%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        86 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.07%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:74.62%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        162 tweets
                    </div>
                </div>
                <div class="percentage">
                    24.62%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:77.81%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        183 tweets
                    </div>
                </div>
                <div class="percentage">
                    27.81%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:53.5%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        23 tweets
                    </div>
                </div>
                <div class="percentage">
                    3.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.47%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        36 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.47%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#FridayDrinks</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Lincoln</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#PR</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#4N</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#riverislandyourcouture</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">8%</span> of @emilya's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @emilya's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/620972522293579777/fmm-XZZS.jpg" class="profile-image">
                        <h3>Luke Gosling</h3>
                        <p class="username">@TheLukeGosling</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/465150417903443969/6sqfQF89.jpeg" class="profile-image">
                        <h3>B305Productions</h3>
                        <p class="username">@B305Productions</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1159985808/logo.clothes-on-film2-2.jpg" class="profile-image">
                        <h3>Clothes on Film</h3>
                        <p class="username">@Clothesonfilm</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@emilya's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">66 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#Missingcat Church Lane/Bailgate area #Lincoln. Her name is Blu, 18 month old, grey. Last seen on 31st October http://t.co/zO8vGXgRaB&mdash; Emily Aitchison (@emilya) <a href="https://twitter.com/emilya/status/531753547235610624">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">May the fourth cocktails @Bar_67 with @TheLukeGosling. New appreciation for star wars now http://t.co/Fb0VeN1G9y&mdash; Emily Aitchison (@emilya) <a href="https://twitter.com/emilya/status/463043873619849216">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">10 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Some of @RealWire team on #wearyourshirt day http://tweetphoto.com/19553387&mdash; Emily Aitchison (@emilya) <a href="https://twitter.com/emilya/status/12691657033">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">10 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">RT @timoncheese: Odeon cinemas hoping to buy out Reel at Newark &gt;Hope not, be end of cheap Monday/Wednesday tickets : (&mdash; Emily Aitchison (@emilya) <a href="https://twitter.com/emilya/status/96168695868555264">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">10 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">RT @Chui83: Back by popular demand - Google Pacman is now a permanent feature here, keep playing til you go insane http://bit.ly/aUcOC2&mdash; Emily Aitchison (@emilya) <a href="https://twitter.com/emilya/status/14681390405">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/emilya');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>