<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>francesca •'s (@Fabbs23) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="francesca •'s (@Fabbs23) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="francesca •'s (@Fabbs23) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/fabbs23" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/fabbs23&source=tweetbutton&text=francesca+%E2%80%A2%27s+%28%40Fabbs23%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/fabbs23" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/21851056/1394379064/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/633977036718108672/mDhL62li.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">francesca •</h1>
        <p class="username">@Fabbs23</p>
        <p>We analysed 1000 tweets from @Fabbs23's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F497" title="73 uses">
                    &#1F497                        </span>
                                                <span class="emojione-1F602" title="65 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F648" title="56 uses">
                    &#1F648                        </span>
                                                <span class="emojione-2600" title="46 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F60D" title="41 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-263A" title="40 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F44D" title="37 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F629" title="35 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F601" title="33 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F618" title="21 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F44C" title="20 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F62D" title="18 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F437" title="17 uses">
                    &#1F437                        </span>
                                                <span class="emojione-1F614" title="13 uses">
                    &#1F614                        </span>
                                                <span class="emojione-1F60A" title="13 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F4AA" title="13 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F631" title="13 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F64C" title="12 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F44F" title="11 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F499" title="10 uses">
                    &#1F499                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@stephaniekate24</span>
                        <span class="count">
                            93                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@Brcolabella</span>
                        <span class="count">
                            38                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@Wolfdog_girl</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@timwazbucket</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@JessicaS_Photo</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Fabbs23 following ratio is <span class="important">63%</span></h2>
        <p>Based on 788 followers and 493 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Fabbs23 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        174 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.1%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        121 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.1%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        141 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        185 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.3%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        113 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.2%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        122 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.4%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        144 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.40%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#leadersdebate</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#JeSuisCharlie</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#averybritishbrothel</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#LoveIsland</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#Eurovision</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">21%</span> of @Fabbs23's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Fabbs23's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3371186923/efeec72170f615ccbcb9d874d9d48dc0.jpeg" class="profile-image">
                        <h3>Channel 4 Racing</h3>
                        <p class="username">@Channel4Racing</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/449449240096702466/fNL08fs6.jpeg" class="profile-image">
                        <h3>Elizabeth Windsor</h3>
                        <p class="username">@Queen_UK</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/501697193317629952/40NfoAop.jpeg" class="profile-image">
                        <h3>Yell Business</h3>
                        <p class="username">@YellBusiness</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Fabbs23's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">33 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@JeffBrazier @ComeCoachWithMe http://t.co/u4a4DPthGy&mdash; francesca • (@Fabbs23) <a href="https://twitter.com/Fabbs23/status/528104520115830784">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Love the fact that @O2 has lost all signal and their advice is to turn the handset on and off! #techsavy&mdash; francesca • (@Fabbs23) <a href="https://twitter.com/Fabbs23/status/602875511057047552">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">14 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Raving from Saturday night! @djmspink @Maitaicourtyard http://t.co/Lat6AuslJy&mdash; francesca • (@Fabbs23) <a href="https://twitter.com/Fabbs23/status/539532079038730240">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">11 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">So I used a bit of @BLEACHLONDON this evening and now my hair is this colour .... #bruisedviolet #bleachlondon http://t.co/wrb6O4Xruo&mdash; francesca • (@Fabbs23) <a href="https://twitter.com/Fabbs23/status/623238837985255424">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">10 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I hate @myhermes ... The worst customer service I've ever experienced.&mdash; francesca • (@Fabbs23) <a href="https://twitter.com/Fabbs23/status/539782426919448577">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/fabbs23');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>