<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galaxy Chocolate's (@GalaxyChocolate) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Galaxy Chocolate's (@GalaxyChocolate) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Galaxy Chocolate's (@GalaxyChocolate) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/galaxychocolate" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/galaxychocolate&source=tweetbutton&text=Galaxy+Chocolate%27s+%28%40GalaxyChocolate%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/galaxychocolate" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/569967086/1414411816/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/509000247163359232/Vom47086.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Galaxy Chocolate</h1>
        <p class="username">@GalaxyChocolate</p>
        <p>We analysed 1000 tweets from @GalaxyChocolate's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-AE" title="3 uses">
                    &#AE                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@RED</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@GalaxyChocolate</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@ShazaKandakji</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Griffs_82</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@v_pendleton</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@GalaxyChocolate following ratio is <span class="important">14%</span></h2>
        <p>Based on 8678 followers and 1168 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @GalaxyChocolate tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:76.5%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        265 tweets
                    </div>
                </div>
                <div class="percentage">
                    26.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        180 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.6%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        146 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.9%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        159 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.3%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        123 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.4%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        64 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.3%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        63 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.30%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#GalaxyTreat</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#GalaxyRed</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#yummy</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#NationalMilkChocolateDay</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#chocolatecupcakes</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">2%</span> of @GalaxyChocolate's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @GalaxyChocolate's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/643410136783044608/hjJT2Cgu.jpg" class="profile-image">
                        <h3>Victoria Pendleton</h3>
                        <p class="username">@v_pendleton</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/641066416188325888/jHlHsZp_.jpg" class="profile-image">
                        <h3>Nat Affel</h3>
                        <p class="username">@affel</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/480797439050645504/B-BUP_BG.jpeg" class="profile-image">
                        <h3>Bake My Day</h3>
                        <p class="username">@bakemyday22</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@GalaxyChocolate's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">1273 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Discover the new Galaxy Duet. Watch the advert here: http://t.co/5jt6uy6bB4
https://t.co/dktxcDXIaB&mdash; Galaxy Chocolate (@GalaxyChocolate) <a href="https://twitter.com/GalaxyChocolate/status/645981650153664512">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">1222 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Minstrels or Counters, which would you choose? Tell us to win a #GalaxyTreat to share! http://t.co/9oHXRXWDnr&mdash; Galaxy Chocolate (@GalaxyChocolate) <a href="https://twitter.com/GalaxyChocolate/status/474868361206067200">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">369 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Welcome to our new bars for @RED designed by @MollieTheSats, @v_pendleton and @AleshaOfficial. Pick up yours today! http://t.co/YksQAHkePR&mdash; Galaxy Chocolate (@GalaxyChocolate) <a href="https://twitter.com/GalaxyChocolate/status/508676098146574336">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">283 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">We've got a white chocolate Gift For You, so for your chance to win, RT and tell us why you love Galaxy... http://t.co/JpKkpy0tyA&mdash; Galaxy Chocolate (@GalaxyChocolate) <a href="https://twitter.com/GalaxyChocolate/status/535870292082425856">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">250 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Galaxy is incredibly proud to be partnering with @RED to help prevent the transmission of HIV from mother to baby… http://t.co/D5m9rdVwEI&mdash; Galaxy Chocolate (@GalaxyChocolate) <a href="https://twitter.com/GalaxyChocolate/status/506849055360573440">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/galaxychocolate');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>