<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iain Liddle's (@IainLiddle) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Iain Liddle's (@IainLiddle) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Iain Liddle's (@IainLiddle) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/iainliddle" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/iainliddle&source=tweetbutton&text=Iain+Liddle%27s+%28%40IainLiddle%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/iainliddle" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14923935/1437940786/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/644132558872166400/XfwUMjDw.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Iain Liddle</h1>
        <p class="username">@IainLiddle</p>
        <p>We analysed 1000 tweets from @IainLiddle's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F353" title="40 uses">
                    &#1F353                        </span>
                                                <span class="emojione-1F366" title="18 uses">
                    &#1F366                        </span>
                                                <span class="emojione-2614" title="13 uses">
                    &#2614                        </span>
                                                <span class="emojione-1F388" title="8 uses">
                    &#1F388                        </span>
                                                <span class="emojione-1F525" title="7 uses">
                    &#1F525                        </span>
                                                <span class="emojione-2611" title="6 uses">
                    &#2611                        </span>
                                                <span class="emojione-1F44D" title="5 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F44A" title="5 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F44C" title="4 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F44F" title="4 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F389" title="4 uses">
                    &#1F389                        </span>
                                                <span class="emojione-26A1" title="3 uses">
                    &#26A1                        </span>
                                                <span class="emojione-27A1" title="1 uses">
                    &#27A1                        </span>
                                                <span class="emojione-3520E3" title="1 uses">
                    &#3520E3                        </span>
                                                <span class="emojione-3120E3" title="1 uses">
                    &#3120E3                        </span>
                                                <span class="emojione-3320E3" title="1 uses">
                    &#3320E3                        </span>
                                                <span class="emojione-3620E3" title="1 uses">
                    &#3620E3                        </span>
                                                <span class="emojione-3420E3" title="1 uses">
                    &#3420E3                        </span>
                                                <span class="emojione-3220E3" title="1 uses">
                    &#3220E3                        </span>
                                                <span class="emojione-1F1EC1F1E7" title="1 uses">
                    &#1F1EC1F1E7                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@CAFCofficial</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@ollygroome</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@RichCawleySLP</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@mattjobob</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@alextrickett</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@IainLiddle following ratio is <span class="important">55%</span></h2>
        <p>Based on 1809 followers and 992 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @IainLiddle tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:62.6%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        126 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.7%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        137 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.5%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        175 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.4%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        144 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.4%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        164 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.6%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        156 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.8%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        98 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.80%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#cafc</span>
                        <span class="count">
                            45                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#RWC2015</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Periscope</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Wimbledon</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#digisport</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">30%</span> of @IainLiddle's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @IainLiddle's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3112066863/107f7579440ab071f89d9017bca3881a.png" class="profile-image">
                        <h3>Rugby World Cup</h3>
                        <p class="username">@rugbyworldcup</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/644523987633086464/arzPwzv7.png" class="profile-image">
                        <h3>Mountain Dew®</h3>
                        <p class="username">@MountainDew</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/607998683322454016/0shbahv2.jpg" class="profile-image">
                        <h3>Lewis Wiltshire</h3>
                        <p class="username">@LewisWiltshire</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@IainLiddle's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">287 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">No woman, #NORCRY&mdash; Iain Liddle (@IainLiddle) <a href="https://twitter.com/IainLiddle/status/629539368886255616">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">96 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">"At this* level you'll be punished for not taking your chances."

*Every single level of every single sport.&mdash; Iain Liddle (@IainLiddle) <a href="https://twitter.com/IainLiddle/status/630144822729437185">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">78 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Absolute nonsense that @CAFCofficial were ever second favourites for relegation this season. Won't be after this. #cafc&mdash; Iain Liddle (@IainLiddle) <a href="https://twitter.com/IainLiddle/status/630042431090765824">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">75 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">This photo is Guy Luzon in a nutshell. Never met anyone more passionate about football. #cafc  https://t.co/9KxnIxHi6N&mdash; Iain Liddle (@IainLiddle) <a href="https://twitter.com/IainLiddle/status/635144174183018496">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">50 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Interesting comments on @russellcrowe's timeline about @LUFC at the moment. #LUFC&mdash; Iain Liddle (@IainLiddle) <a href="https://twitter.com/IainLiddle/status/636159713856647168">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/iainliddle');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>