<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jonny Butterworth's (@IamJonnyB1989) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Jonny Butterworth's (@IamJonnyB1989) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Jonny Butterworth's (@IamJonnyB1989) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/iamjonnyb1989" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/iamjonnyb1989&source=tweetbutton&text=Jonny+Butterworth%27s+%28%40IamJonnyB1989%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/iamjonnyb1989" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/341199153/1428311363/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/642349029733613568/ROKu34QD.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Jonny Butterworth</h1>
        <p class="username">@IamJonnyB1989</p>
        <p>We analysed 1000 tweets from @IamJonnyB1989's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="4 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F437" title="2 uses">
                    &#1F437                        </span>
                                                <span class="emojione-1F340" title="1 uses">
                    &#1F340                        </span>
                                                <span class="emojione-1F430" title="1 uses">
                    &#1F430                        </span>
                                                <span class="emojione-2757" title="1 uses">
                    &#2757                        </span>
                                                <span class="emojione-1F613" title="1 uses">
                    &#1F613                        </span>
                                                <span class="emojione-1F389" title="1 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F3B6" title="1 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F30B" title="1 uses">
                    &#1F30B                        </span>
                                                <span class="emojione-1F34C" title="1 uses">
                    &#1F34C                        </span>
                                                <span class="emojione-1F630" title="1 uses">
                    &#1F630                        </span>
                                                <span class="emojione-1F3B8" title="1 uses">
                    &#1F3B8                        </span>
                                                <span class="emojione-STORY" title="1 uses">
                    &#STORY                        </span>
                                                <span class="emojione-1F37B" title="1 uses">
                    &#1F37B                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@joe_firth</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@Hayles_101</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@FletchTM</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@MCRMetrolink</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@joneseuro</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@IamJonnyB1989 following ratio is <span class="important">238%</span></h2>
        <p>Based on 471 followers and 1117 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @IamJonnyB1989 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.5%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        175 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.1%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        151 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.1%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        161 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.8%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        128 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.1%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        141 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.3%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        113 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.30%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#mufc</span>
                        <span class="count">
                            81                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Eurovision2015</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#MUFC</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#travel</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#Eurovision</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">41%</span> of @IamJonnyB1989's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @IamJonnyB1989's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/621001338864967682/DWg_uEga.jpg" class="profile-image">
                        <h3>Leon James Kenny</h3>
                        <p class="username">@LeonJamesKenny</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/617767755761197059/CoNWxLG1.jpg" class="profile-image">
                        <h3>Black Sonic Revolver</h3>
                        <p class="username">@BSRevolver</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/378800000711677875/3ca723f7c65666862d172366bbe89b18.jpeg" class="profile-image">
                        <h3>SLV</h3>
                        <p class="username">@Slvolunteers</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@IamJonnyB1989's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">23 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">6 things to make your trip to Goa special (http://t.co/REkyPfcBT5) I wrote this a little while ago for @oneworld365. #travelguides&mdash; Jonny Butterworth (@IamJonnyB1989) <a href="https://twitter.com/IamJonnyB1989/status/642281101973680128">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">23 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I'm going to bed. But this is what witnessing the moon landings must have been like. #piggate #hameron&mdash; Jonny Butterworth (@IamJonnyB1989) <a href="https://twitter.com/IamJonnyB1989/status/645738308220395520">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If #stacydooley can be a documentary maker; anyone can.&mdash; Jonny Butterworth (@IamJonnyB1989) <a href="https://twitter.com/IamJonnyB1989/status/585218203573444608">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">And it's awesome how Twitter has reacted to the Bullshitt from the Sun et al. #JeSuisEd #milifandom #Miliband #MiliSmash #MiliBang #Millburn&mdash; Jonny Butterworth (@IamJonnyB1989) <a href="https://twitter.com/IamJonnyB1989/status/596045132845158401">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">16 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">While Sir David Attenborough is trending I will reaffirm my belief that he should be on currency by now! Get him on one of the notes!!&mdash; Jonny Butterworth (@IamJonnyB1989) <a href="https://twitter.com/IamJonnyB1989/status/621971762243325952">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/iamjonnyb1989');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>