<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gin soaked boy's (@integralist) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Gin soaked boy's (@integralist) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Gin soaked boy's (@integralist) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/integralist" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/integralist&source=tweetbutton&text=Gin+soaked+boy%27s+%28%40integralist%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/integralist" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/18293449/1351435157/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/629041283055620096/qPER0Amm.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Gin soaked boy</h1>
        <p class="username">@integralist</p>
        <p>We analysed 1000 tweets from @integralist's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F47A" title="2 uses">
                    &#1F47A                        </span>
                                                <span class="emojione-1F448" title="2 uses">
                    &#1F448                        </span>
                                                <span class="emojione-1F60A" title="2 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F633" title="1 uses">
                    &#1F633                        </span>
                                                <span class="emojione-1F602" title="1 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F419" title="1 uses">
                    &#1F419                        </span>
                                                <span class="emojione-1F496" title="1 uses">
                    &#1F496                        </span>
                                                <span class="emojione-1F42D" title="1 uses">
                    &#1F42D                        </span>
                                                <span class="emojione-1F638" title="1 uses">
                    &#1F638                        </span>
                                                <span class="emojione-1F38F" title="1 uses">
                    &#1F38F                        </span>
                                                <span class="emojione-1F4F1" title="1 uses">
                    &#1F4F1                        </span>
                                                <span class="emojione-1F476" title="1 uses">
                    &#1F476                        </span>
                                                <span class="emojione-1F431" title="1 uses">
                    &#1F431                        </span>
                                                <span class="emojione-1F45A" title="1 uses">
                    &#1F45A                        </span>
                                                <span class="emojione-1F50C" title="1 uses">
                    &#1F50C                        </span>
                                                <span class="emojione-1F45B" title="1 uses">
                    &#1F45B                        </span>
                                                <span class="emojione-1F4FA" title="1 uses">
                    &#1F4FA                        </span>
                                                <span class="emojione-1F50D" title="1 uses">
                    &#1F50D                        </span>
                                                <span class="emojione-1F514" title="1 uses">
                    &#1F514                        </span>
                                                <span class="emojione-1F37B" title="1 uses">
                    &#1F37B                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@sthulb</span>
                        <span class="count">
                            53                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@newsycbot</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@dblooman</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@golang</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@docker</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@integralist following ratio is <span class="important">8%</span></h2>
        <p>Based on 1996 followers and 146 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @integralist tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.1%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        141 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.9%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        149 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        140 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.1%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.7%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        157 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.3%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        163 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.9%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        119 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.90%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#golang</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#AWS</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#AWSSummit</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#aws</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#OpenSSL</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">11%</span> of @integralist's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @integralist's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/526110783822774272/_WLdrxCb.png" class="profile-image">
                        <h3>Hacker News YC</h3>
                        <p class="username">@newsycbot</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/618312830471770112/5xBZIrIS.png" class="profile-image">
                        <h3>Programming Clojure</h3>
                        <p class="username">@proginclojure</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/425700361488195584/oCfrAusL.png" class="profile-image">
                        <h3>nixCraft </h3>
                        <p class="username">@nixcraft</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@integralist's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">143 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Use JavaScript as it's too much to learn another language... http://t.co/XvuCOwdImh&mdash; Gin soaked boy (@integralist) <a href="https://twitter.com/integralist/status/611240310732161024">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">103 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Google Quietly Launches GitHub Competitor http://t.co/rUqGOjaa4r&mdash; Gin soaked boy (@integralist) <a href="https://twitter.com/integralist/status/619873451973734401">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">58 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">parentheses ( ) 
braces { } 
brackets &lt; &gt; 
square brackets [ ]&mdash; Gin soaked boy (@integralist) <a href="https://twitter.com/integralist/status/627386299138359296">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">39 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">http://t.co/WFQiuopSRP&mdash; Gin soaked boy (@integralist) <a href="https://twitter.com/integralist/status/628585246603235328">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">38 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">iPlayer CLI https://t.co/Zvc3RtGC5O&mdash; Gin soaked boy (@integralist) <a href="https://twitter.com/integralist/status/614326411566956544">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/integralist');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>