<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luke's (@ItsLukeYeah) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Luke's (@ItsLukeYeah) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Luke's (@ItsLukeYeah) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/itslukeyeah" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/itslukeyeah&source=tweetbutton&text=Luke%27s+%28%40ItsLukeYeah%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/itslukeyeah" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/25230265/1398046076/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/617643539606949888/g_XCcZfp.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Luke</h1>
        <p class="username">@ItsLukeYeah</p>
        <p>We analysed 999 tweets from @ItsLukeYeah's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60A" title="66 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F64C" title="56 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F44C" title="34 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F629" title="31 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F648" title="28 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F602" title="28 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F389" title="25 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F481" title="21 uses">
                    &#1F481                        </span>
                                                <span class="emojione-2764" title="18 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F440" title="16 uses">
                    &#1F440                        </span>
                                                <span class="emojione-1F612" title="12 uses">
                    &#1F612                        </span>
                                                <span class="emojione-1F601" title="10 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F483" title="9 uses">
                    &#1F483                        </span>
                                                <span class="emojione-1F64B" title="9 uses">
                    &#1F64B                        </span>
                                                <span class="emojione-1F61C" title="9 uses">
                    &#1F61C                        </span>
                                                <span class="emojione-1F637" title="8 uses">
                    &#1F637                        </span>
                                                <span class="emojione-1F4AA" title="8 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F60F" title="7 uses">
                    &#1F60F                        </span>
                                                <span class="emojione-1F604" title="6 uses">
                    &#1F604                        </span>
                                                <span class="emojione-1F44D" title="6 uses">
                    &#1F44D                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@ItsPaulineYeah</span>
                        <span class="count">
                            105                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@WSussexDan</span>
                        <span class="count">
                            44                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@pashahughesyx</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@RPaton_</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Martyn89</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@ItsLukeYeah following ratio is <span class="important">81%</span></h2>
        <p>Based on 1296 followers and 1044 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @ItsLukeYeah tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:60.11%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        101 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.11%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.81%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        108 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.81%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.61%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        146 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.61%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.72%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        167 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.72%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.11%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        141 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.11%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.91%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        149 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.91%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.72%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        187 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.72%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#LAT</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Eurorvision2015</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#GEO</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Eurovision</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#EurovisionGreatestHits</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">10%</span> of @ItsLukeYeah's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @ItsLukeYeah's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/646086691170684928/lrvImI1R.jpg" class="profile-image">
                        <h3>Cheeky P ✏️</h3>
                        <p class="username">@ItsPaulineYeah</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/646106102065721344/Lz6P1D7n.jpg" class="profile-image">
                        <h3>Olly</h3>
                        <p class="username">@WorldOfOlly</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/616147175987265536/EQm39fW7.png" class="profile-image">
                        <h3>9GAG</h3>
                        <p class="username">@9GAG</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@ItsLukeYeah's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">82 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Another baby born that's instantly richer than me #Yay #RoyalBaby&mdash; Luke (@ItsLukeYeah) <a href="https://twitter.com/ItsLukeYeah/status/594457995888762880">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">76 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">UK people, spare a moment: https://t.co/KkwSlybjy6 #refugeeswelcome&mdash; Luke (@ItsLukeYeah) <a href="https://twitter.com/ItsLukeYeah/status/639226404006137856">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">60 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Does the DFS sale ever actually end?&mdash; Luke (@ItsLukeYeah) <a href="https://twitter.com/ItsLukeYeah/status/622391327523774464">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">52 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">📷👀 http://t.co/VjWCCu8eFM&mdash; Luke (@ItsLukeYeah) <a href="https://twitter.com/ItsLukeYeah/status/587306367800729600">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">52 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Because there aren't enough selfies on Twitter already....and yes, I need a shave 👀 http://t.co/DouQMyx0pG&mdash; Luke (@ItsLukeYeah) <a href="https://twitter.com/ItsLukeYeah/status/601387588910510080">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/itslukeyeah');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>