<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jacob Whitney's (@JacobWhitney87) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Jacob Whitney's (@JacobWhitney87) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Jacob Whitney's (@JacobWhitney87) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/jacobwhitney87" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/jacobwhitney87&source=tweetbutton&text=Jacob+Whitney%27s+%28%40JacobWhitney87%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/jacobwhitney87" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/354899902/1442111844/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/646128545853521920/tEp_iY04.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Jacob Whitney</h1>
        <p class="username">@JacobWhitney87</p>
        <p>We analysed 944 tweets from @JacobWhitney87's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="66 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F62D" title="28 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F60D" title="22 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F60A" title="10 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F44C" title="6 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F525" title="6 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F4AF" title="6 uses">
                    &#1F4AF                        </span>
                                                <span class="emojione-1F624" title="5 uses">
                    &#1F624                        </span>
                                                <span class="emojione-1F622" title="5 uses">
                    &#1F622                        </span>
                                                <span class="emojione-1F629" title="5 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F60F" title="4 uses">
                    &#1F60F                        </span>
                                                <span class="emojione-1F632" title="4 uses">
                    &#1F632                        </span>
                                                <span class="emojione-1F637" title="4 uses">
                    &#1F637                        </span>
                                                <span class="emojione-274C" title="4 uses">
                    &#274C                        </span>
                                                <span class="emojione-1F631" title="3 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F44F" title="3 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F64C" title="3 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-2705" title="3 uses">
                    &#2705                        </span>
                                                <span class="emojione-2B55" title="3 uses">
                    &#2B55                        </span>
                                                <span class="emojione-1F1FA1F1F8" title="2 uses">
                    &#1F1FA1F1F8                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@WorIdStarComedy</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@SexualGif</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@SportsCenter</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Jack_Witri16</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@BrosConfessions</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@JacobWhitney87 following ratio is <span class="important">47%</span></h2>
        <p>Based on 407 followers and 191 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @JacobWhitney87 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.56%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        128 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.56%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        151 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.72%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        139 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.72%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.61%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        119 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.61%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.16%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        162 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.16%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.51%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        137 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.51%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.44%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        108 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.44%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#rangerfamily</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#OneFinalTeam</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#SugarBowl</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#rangerpride</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#makeachampion</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">10%</span> of @JacobWhitney87's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @JacobWhitney87's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/507250292006879232/bhXGxbMS.jpeg" class="profile-image">
                        <h3>WORLD STAR FANS</h3>
                        <p class="username">@WorIdStarComedy</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/539889638325096448/fF9YJ1ip.jpeg" class="profile-image">
                        <h3>Sexual Gifs</h3>
                        <p class="username">@SexualGif</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/641252681017856001/p6PL2KFg.jpg" class="profile-image">
                        <h3>SportsCenter</h3>
                        <p class="username">@SportsCenter</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@JacobWhitney87's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">407 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">god damn it Snobar http://t.co/QXBf4bVEVx&mdash; Jacob Whitney (@JacobWhitney87) <a href="https://twitter.com/JacobWhitney87/status/559749733011718145">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">42 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@Gabe_Almo I think you need to leave for it to get better&mdash; Jacob Whitney (@JacobWhitney87) <a href="https://twitter.com/JacobWhitney87/status/639995779709440000">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">36 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Only a Communist would make us go to school in this weather&mdash; Jacob Whitney (@JacobWhitney87) <a href="https://twitter.com/JacobWhitney87/status/553523476892381184">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">33 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Thank you for everyone who genuinely rooted for us. For the doubters, you can go fuck yourselves.&mdash; Jacob Whitney (@JacobWhitney87) <a href="https://twitter.com/JacobWhitney87/status/639985961108160512">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">28 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Me http://t.co/E9055RuZe7&mdash; Jacob Whitney (@JacobWhitney87) <a href="https://twitter.com/JacobWhitney87/status/619173871443316737">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/jacobwhitney87');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>