<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jake Rudman's (@JakeRudman) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Jake Rudman's (@JakeRudman) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Jake Rudman's (@JakeRudman) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/jakerudman" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/jakerudman&source=tweetbutton&text=Jake+Rudman%27s+%28%40JakeRudman%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/jakerudman" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/413462118/1365115380/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/637879068298489856/jOrmELic.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Jake Rudman</h1>
        <p class="username">@JakeRudman</p>
        <p>We analysed 54 tweets from @JakeRudman's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F434" title="2 uses">
                    &#1F434                        </span>
                                                <span class="emojione-1F602" title="1 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F3C8" title="1 uses">
                    &#1F3C8                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@EdHall92</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@OfficialPDC</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@joshxhowie</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@BartyMJ</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@StephenMerchant</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@JakeRudman following ratio is <span class="important">69%</span></h2>
        <p>Based on 73 followers and 50 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @JakeRudman tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.81%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        8 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.81%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.26%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        5 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.26%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.96%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        7 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.96%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:53.7%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        2 tweets
                    </div>
                </div>
                <div class="percentage">
                    3.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:72.22%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        12 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.22%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.67%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        9 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.67%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.37%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        11 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.37%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#haddock</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#HADDOCK</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#LoveTheDarts</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#AskSnakebite</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#BlackFriday</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">23%</span> of @JakeRudman's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @JakeRudman's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1123799232/JH-Web-1379.jpg" class="profile-image">
                        <h3>Josh Howie</h3>
                        <p class="username">@joshxhowie</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/642744174744313857/VaPUCm3l.jpg" class="profile-image">
                        <h3>Ricky Gervais</h3>
                        <p class="username">@rickygervais</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/625970374598074368/M-HxO_xq.jpg" class="profile-image">
                        <h3>Ben Tucker</h3>
                        <p class="username">@BenTucker_</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@JakeRudman's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Only a 10 minute delay on @greateranglia's service today. Things are improving. #shambles&mdash; Jake Rudman (@JakeRudman) <a href="https://twitter.com/JakeRudman/status/633349245173637120">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Twitters http://t.co/iJ6V4uXMFK&mdash; Jake Rudman (@JakeRudman) <a href="https://twitter.com/JakeRudman/status/591319142378123264">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@EdHall92 you're a glorified PA tbh, just doing what we tell you.&mdash; Jake Rudman (@JakeRudman) <a href="https://twitter.com/JakeRudman/status/587004962296717312">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Today has so much potential.&mdash; Jake Rudman (@JakeRudman) <a href="https://twitter.com/JakeRudman/status/629943374594875392">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Stacking cups and #haddock. So many movements at @OfficialPDC #lovethedarts #UKOpen&mdash; Jake Rudman (@JakeRudman) <a href="https://twitter.com/JakeRudman/status/574600894618144768">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/jakerudman');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>