<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>James Honess's (@jameshoness) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="James Honess's (@jameshoness) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="James Honess's (@jameshoness) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/jameshoness" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/jameshoness&source=tweetbutton&text=James+Honess%27s+%28%40jameshoness%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/jameshoness" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/229830906/1434192674/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/633682563844972544/lXF8_VdI.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">James Honess</h1>
        <p class="username">@jameshoness</p>
        <p>We analysed 998 tweets from @jameshoness's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F525" title="3 uses">
                    &#1F525                        </span>
                                                <span class="emojione-2122" title="1 uses">
                    &#2122                        </span>
                                                <span class="emojione-1F44A" title="1 uses">
                    &#1F44A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@KindredAgency</span>
                        <span class="count">
                            58                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@hamish_brown</span>
                        <span class="count">
                            53                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@SineadGray</span>
                        <span class="count">
                            51                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Gordon_official</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Jack_Drinkwater</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@jameshoness following ratio is <span class="important">124%</span></h2>
        <p>Based on 444 followers and 547 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @jameshoness tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.13%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.13%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.93%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        169 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.93%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.64%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        176 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.64%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.54%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        175 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.54%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.23%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        172 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.23%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.52%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        95 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.02%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        80 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.02%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#avfc</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#utv</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#AVFC</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#socialmedia</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#DrawMyWin</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">15%</span> of @jameshoness's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @jameshoness's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/433955869580328960/3xTUcfLW.jpeg" class="profile-image">
                        <h3>Kindred Agency</h3>
                        <p class="username">@KindredAgency</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/644444754370015232/1tZLbP40.jpg" class="profile-image">
                        <h3>rob delaney</h3>
                        <p class="username">@robdelaney</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/598879807707951104/q3nLMOXP.jpg" class="profile-image">
                        <h3>Sinead Gray</h3>
                        <p class="username">@SineadGray</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@jameshoness's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">72 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Channel 4's #Hunted is absolutely everywhere. Nicely done... http://t.co/2LIVqLyH5U&mdash; James Honess (@jameshoness) <a href="https://twitter.com/jameshoness/status/641649093798928384">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">29 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Looking forward to today's LIVE streamed Twitter activity at @PinewoodStudios for @TNLUK. All kicks off at 1pm... http://t.co/3xcQFw2DOy&mdash; James Honess (@jameshoness) <a href="https://twitter.com/jameshoness/status/586094541746401280">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">22 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Working w/ @drawnyourtweet today. Absolute pro. Follow @TNLUK &amp; the hashtag #DrawMyWin to see his live illustrations http://t.co/ORAiw1q9xS&mdash; James Honess (@jameshoness) <a href="https://twitter.com/jameshoness/status/524858208238981121">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">20 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@TimothyAbraham @MatKendrick I've got a spare ticket for the Arsenal game this weekend. £35. Please could you spread the word? Cheers #utv&mdash; James Honess (@jameshoness) <a href="https://twitter.com/jameshoness/status/304356232054075392">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">20 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Little trailer for MISSING, a new podcast we've been working on. Launches on @iTunes today... 👊 @KindredAgency https://t.co/1JoKyFvzcl&mdash; James Honess (@jameshoness) <a href="https://twitter.com/jameshoness/status/639345053639573504">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/jameshoness');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>