<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JayGarrett's (@JayGarrett) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="JayGarrett's (@JayGarrett) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="JayGarrett's (@JayGarrett) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/jaygarrett" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/jaygarrett&source=tweetbutton&text=JayGarrett%27s+%28%40JayGarrett%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/jaygarrett" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/12912892/1355259733/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/1486911131/ac9549b3-7ae5-4db2-98e4-2de818a54a9c.png" alt="" class="profile-image">
        <h1 class="typl8-beta">JayGarrett</h1>
        <p class="username">@JayGarrett</p>
        <p>We analysed 1000 tweets from @JayGarrett's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F604" title="1 uses">
                    &#1F604                        </span>
                                                <span class="emojione-1F603" title="1 uses">
                    &#1F603                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@GadgetyNewsCom</span>
                        <span class="count">
                            173                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@LackOfficial</span>
                        <span class="count">
                            38                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@JayGarrett</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@montynero</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@tank1958</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@JayGarrett following ratio is <span class="important">66%</span></h2>
        <p>Based on 1002 followers and 653 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @JayGarrett tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.1%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        141 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.5%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        185 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.3%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        183 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:72.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        225 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.5%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        135 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.8%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        78 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.3%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        53 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.30%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#tech</span>
                        <span class="count">
                            146                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#News</span>
                        <span class="count">
                            144                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Gadget</span>
                        <span class="count">
                            143                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#IFA</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#VieraVIPClub</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">33%</span> of @JayGarrett's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @JayGarrett's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/378800000431043197/ab335f204e2bf486687c336b53ef87d4.jpeg" class="profile-image">
                        <h3>Gadgety News</h3>
                        <p class="username">@GadgetyNewsCom</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/566183970555961344/XBVssxEy.jpeg" class="profile-image">
                        <h3>Lack Band</h3>
                        <p class="username">@LackOfficial</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/644145947342172161/6lgCJhvM.jpg" class="profile-image">
                        <h3>OPPO Headphones</h3>
                        <p class="username">@OPPOheadphones</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@JayGarrett's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">40 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Got excitements for @PunkCollective fun with @LackOfficial, @KindredShins, @MillieManders and @BeautifulGameUK tomorrow at @powerlunches&mdash; JayGarrett (@JayGarrett) <a href="https://twitter.com/JayGarrett/status/609330167215968257">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">26 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Some might say that I was misusing these PMC Speakers twotwo 5s but how did they handle it? @pmcspeakers http://t.co/T3FufytzoQ&mdash; JayGarrett (@JayGarrett) <a href="https://twitter.com/JayGarrett/status/606160971309191169">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">19 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Some awesome tunes that will fill #E17 at next month's The Stow Festival http://t.co/jbM5TXljOo&mdash; JayGarrett (@JayGarrett) <a href="https://twitter.com/JayGarrett/status/635460739294195712">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">19 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Twas a sad day when I had to return the PMC Speakers twotwo 5s. Review up soon! @pmcspeakers http://t.co/PKprgVFoqp&mdash; JayGarrett (@JayGarrett) <a href="https://twitter.com/JayGarrett/status/605324588667535360">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">19 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If you fancy help make The Stow Festival awesome - head on down to Chequers tomorrow :) http://t.co/w81SQo6e6v&mdash; JayGarrett (@JayGarrett) <a href="https://twitter.com/JayGarrett/status/643121686259363840">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/jaygarrett');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>