<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jonny Excell's (@jonnyexcell) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Jonny Excell's (@jonnyexcell) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Jonny Excell's (@jonnyexcell) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/jonnyexcell" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/jonnyexcell&source=tweetbutton&text=Jonny+Excell%27s+%28%40jonnyexcell%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/jonnyexcell" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/88548169/1360008262/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/543544246704558081/F94wRPjy.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Jonny Excell</h1>
        <p class="username">@jonnyexcell</p>
        <p>We analysed 998 tweets from @jonnyexcell's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="3 uses">
                    &#1F602                        </span>
                                                <span class="emojione-FOR" title="1 uses">
                    &#FOR                        </span>
                                                <span class="emojione-1F339" title="1 uses">
                    &#1F339                        </span>
                                                <span class="emojione-1F4A5" title="1 uses">
                    &#1F4A5                        </span>
                                                <span class="emojione-1F44F" title="1 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F474" title="1 uses">
                    &#1F474                        </span>
                                                <span class="emojione-1F44A" title="1 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F440" title="1 uses">
                    &#1F440                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@mattlittlechild</span>
                        <span class="count">
                            95                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@krislorenzon</span>
                        <span class="count">
                            65                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@NorthernMunky</span>
                        <span class="count">
                            48                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@HelloJP</span>
                        <span class="count">
                            46                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@andrewcocks</span>
                        <span class="count">
                            44                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@jonnyexcell following ratio is <span class="important">187%</span></h2>
        <p>Based on 605 followers and 1131 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @jonnyexcell tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:70.24%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        202 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.24%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.73%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.73%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.02%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        100 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.23%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        142 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.23%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.52%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        95 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.32%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        123 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.32%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.94%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        189 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.94%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#mandown</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#SuperBowl</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#hcafc</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#arsenal</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#quill</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">20%</span> of @jonnyexcell's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @jonnyexcell's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/546047577716969472/MFfB1iLS.jpeg" class="profile-image">
                        <h3>TopFilmTip</h3>
                        <p class="username">@TopFilmTip</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/556826698360967168/aGr_JQYO.jpeg" class="profile-image">
                        <h3>The Daily Mash</h3>
                        <p class="username">@thedailymash</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/520231535182499841/7S7Zmh-H.png" class="profile-image">
                        <h3>BuzzFeed UK</h3>
                        <p class="username">@BuzzFeedUK</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@jonnyexcell's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">75 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Gary Lewin goes off injured. Somebody get the Chelsea physio in #ENGvITA http://t.co/Rme6hmwnIT&mdash; Jonny Excell (@jonnyexcell) <a href="https://twitter.com/jonnyexcell/status/477947031550689280">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">34 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">"Come on, Jela. Come on, Jela. Come on, Jela. GO ON, ROBBIE". Steve Bruce eloquent as ever #hcafc #thfc https://t.co/xiydwO4LYj&mdash; Jonny Excell (@jonnyexcell) <a href="https://twitter.com/jonnyexcell/status/536561835429072897">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Unreal chat - people mistaken for footballers / managers. 'My guy gets fired a lot. So I get some breaks' says AVB http://t.co/5hYAdSSd5Q&mdash; Jonny Excell (@jonnyexcell) <a href="https://twitter.com/jonnyexcell/status/449549466623041536">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Pretty sure this will be my favourite #ashes photo whatever happens this summer @joeroot05 @Yorkshireccc http://t.co/UuPru47be9&mdash; Jonny Excell (@jonnyexcell) <a href="https://twitter.com/jonnyexcell/status/619819257635995648">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">So Stockport's lovely innit. http://t.co/QHerUxWbkX&mdash; Jonny Excell (@jonnyexcell) <a href="https://twitter.com/jonnyexcell/status/560736577434161152">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/jonnyexcell');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>