<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jean-Philippe Maheu's (@jpmaheu) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Jean-Philippe Maheu's (@jpmaheu) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Jean-Philippe Maheu's (@jpmaheu) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/jpmaheu" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/jpmaheu&source=tweetbutton&text=Jean-Philippe+Maheu%27s+%28%40jpmaheu%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/jpmaheu" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14534657/1402578400/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/496900106113667072/x3k0FaFj.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Jean-Philippe Maheu</h1>
        <p class="username">@jpmaheu</p>
        <p>We analysed 999 tweets from @jpmaheu's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="3 uses">
                    &#1F602                        </span>
                                                <span class="emojione-2764" title="2 uses">
                    &#2764                        </span>
                                                <span class="emojione-2935" title="1 uses">
                    &#2935                        </span>
                                                <span class="emojione-1F44A" title="1 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F303" title="1 uses">
                    &#1F303                        </span>
                                                <span class="emojione-1F4FA" title="1 uses">
                    &#1F4FA                        </span>
                                                <span class="emojione-1F389" title="1 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F3B6" title="1 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-26A1" title="1 uses">
                    &#26A1                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@roter</span>
                        <span class="count">
                            49                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@jpmaheu</span>
                        <span class="count">
                            39                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@sminero</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@twitter</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@stephanieprager</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@jpmaheu following ratio is <span class="important">35%</span></h2>
        <p>Based on 4102 followers and 1406 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @jpmaheu tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.52%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.11%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.11%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.12%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        151 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.12%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.82%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        198 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.02%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        150 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.31%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        93 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.31%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.11%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        121 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.11%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Periscope</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#M2M</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#SB49</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#UDECAM</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#brandbowl</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">37%</span> of @jpmaheu's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @jpmaheu's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/627352217478107136/geHFarYd.jpg" class="profile-image">
                        <h3>dave</h3>
                        <p class="username">@roter</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/539393773633953794/6pqkCgYO.jpeg" class="profile-image">
                        <h3>Parminder Singh</h3>
                        <p class="username">@parrysingh</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/623442707504078848/PCZrfhPR.jpg" class="profile-image">
                        <h3>Keith Weed</h3>
                        <p class="username">@keithweed</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@jpmaheu's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">304 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">beautiful drawings from @Ogilvy of world events w/ Twitter data in our @twitter #CannesLions suite cc @ThamKhaiMeng http://t.co/fsE4JSqrGr&mdash; Jean-Philippe Maheu (@jpmaheu) <a href="https://twitter.com/jpmaheu/status/612614868185694208">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">192 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Hey @Uber you charged me a $100 cleaning fee after a 25mn ride from my work back home? Cheating clients now? #fail http://t.co/OHVuxghh4M&mdash; Jean-Philippe Maheu (@jpmaheu) <a href="https://twitter.com/jpmaheu/status/583588967053942784">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">175 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Dinner with the best team in the business #twitter #CannesLions http://t.co/QOCCbzsMC6&mdash; Jean-Philippe Maheu (@jpmaheu) <a href="https://twitter.com/jpmaheu/status/612692142092238848">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">105 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Congrats to @TwitterJP for winning best video @BEYONDGSC #GSC15 cc @SasamotoYu @29man @haruchang @shoher http://t.co/4ugCerUiu2&mdash; Jean-Philippe Maheu (@jpmaheu) <a href="https://twitter.com/jpmaheu/status/626882008837271552">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">87 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Providing moral support to @TwitterNYC team of triathletes - go team! http://t.co/1mPvi7EpXg&mdash; Jean-Philippe Maheu (@jpmaheu) <a href="https://twitter.com/jpmaheu/status/622735105887485952">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/jpmaheu');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>