<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Katie Roden's (@KatRoden) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Katie Roden's (@KatRoden) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Katie Roden's (@KatRoden) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/katroden" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/katroden&source=tweetbutton&text=Katie+Roden%27s+%28%40KatRoden%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/katroden" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/15253693/1435179007/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/589516420314202112/gw8L4xqD.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Katie Roden</h1>
        <p class="username">@KatRoden</p>
        <p>We analysed 998 tweets from @KatRoden's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F389" title="6 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F378" title="3 uses">
                    &#1F378                        </span>
                                                <span class="emojione-1F3B6" title="1 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F3C6" title="1 uses">
                    &#1F3C6                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@samatlounge</span>
                        <span class="count">
                            79                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@4fifty1</span>
                        <span class="count">
                            69                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@thebeaconbike</span>
                        <span class="count">
                            44                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@ChrisGiles_</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@IsabelBerwick</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@KatRoden following ratio is <span class="important">171%</span></h2>
        <p>Based on 600 followers and 1026 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @KatRoden tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:62.02%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        120 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.93%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        159 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.93%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.73%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        127 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.73%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.64%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        196 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.64%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.34%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        183 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.34%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.23%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        132 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.23%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.12%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        81 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.12%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#authorbootcamp</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Periscope</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#socialbuzzawards</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#TeamWhale</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#myhour</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">15%</span> of @KatRoden's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @KatRoden's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/622850390225223680/m16KgKfs.jpg" class="profile-image">
                        <h3>Sam Missingham</h3>
                        <p class="username">@samatlounge</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/644058565284601856/4QBP2O_g.jpg" class="profile-image">
                        <h3>Jonny Geller</h3>
                        <p class="username">@JonnyGeller</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1906307078/chris_giles.jpg" class="profile-image">
                        <h3>Chris Giles</h3>
                        <p class="username">@ChrisGiles_</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@KatRoden's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">988 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">How splendid is this? My birthday present from @ChrisGiles_ - the original, magnificent cartoon by Richard Jolley http://t.co/UUZtEIhd3F&mdash; Katie Roden (@KatRoden) <a href="https://twitter.com/KatRoden/status/486047720726335488">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">176 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Re-hanging pictures and laughing again at my favourites. This... http://t.co/UzmYY9YMJx&mdash; Katie Roden (@KatRoden) <a href="https://twitter.com/KatRoden/status/573527203209674752">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">78 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Really sad about Blustons. Kentish Town Road will never be the same. Glad I bought THAT DRESS in time... http://t.co/bn6RkrzFJr&mdash; Katie Roden (@KatRoden) <a href="https://twitter.com/KatRoden/status/577457451550826496">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">54 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The team that tweeted this has just won best socially responsible initiative... Sigh #socialbuzzawards http://t.co/my067VPpxe&mdash; Katie Roden (@KatRoden) <a href="https://twitter.com/KatRoden/status/538097704556306433">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">49 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">That @4fifty1 doesn't 'alf talk sense..: How authors can nail social media - http://t.co/qj8tWqhx51 via @write_track&mdash; Katie Roden (@KatRoden) <a href="https://twitter.com/KatRoden/status/585860667971866625">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/katroden');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>