<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robert Kenny's (@kenturamon) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Robert Kenny's (@kenturamon) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Robert Kenny's (@kenturamon) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/kenturamon" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/kenturamon&source=tweetbutton&text=Robert+Kenny%27s+%28%40kenturamon%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/kenturamon" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/271339327/1360000249/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/1947369123/XP6y2OO4" alt="" class="profile-image">
        <h1 class="typl8-beta">Robert Kenny</h1>
        <p class="username">@kenturamon</p>
        <p>We analysed 998 tweets from @kenturamon's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@integralist</span>
                        <span class="count">
                            319                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@stevenjack85</span>
                        <span class="count">
                            172                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@sthulb</span>
                        <span class="count">
                            136                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@dblooman</span>
                        <span class="count">
                            72                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@tmaslen</span>
                        <span class="count">
                            65                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@kenturamon following ratio is <span class="important">97%</span></h2>
        <p>Based on 114 followers and 110 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @kenturamon tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.13%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        151 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.13%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.63%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        146 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.63%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.53%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.53%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.74%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        177 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.74%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.03%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        160 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.03%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.62%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        96 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.62%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.32%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        113 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.32%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#vote2014</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#piggate</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#jruby</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Ruby</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#ohyeah</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">2%</span> of @kenturamon's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @kenturamon's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/610611693807230976/d8uoq82s.jpg" class="profile-image">
                        <h3>Charles Nutter</h3>
                        <p class="username">@headius</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2900345382/16ffae8c667bdbc6a4969f6f02090652.png" class="profile-image">
                        <h3>Amazon Web Services</h3>
                        <p class="username">@awscloud</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/629041283055620096/qPER0Amm.jpg" class="profile-image">
                        <h3>Gin soaked boy</h3>
                        <p class="username">@integralist</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@kenturamon's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">90 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">From "Teach yourself Electronic Computers" published 1962: http://t.co/lJCeUtxlDZ&mdash; Robert Kenny (@kenturamon) <a href="https://twitter.com/kenturamon/status/445301744365760513">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">45 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">In order to not suck at deployment, I want to take the files from over here and put them over there, so that the files will be over there.&mdash; Robert Kenny (@kenturamon) <a href="https://twitter.com/kenturamon/status/426753345337176064">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">32 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Collaborative Editing in Vim: https://t.co/Z8l1FhlaU6&mdash; Robert Kenny (@kenturamon) <a href="https://twitter.com/kenturamon/status/485500192717025280">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">31 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I really prefer problems to challenges. Problems demand to be solved, challenges are calls to a contest. I'd rather fix things than compete.&mdash; Robert Kenny (@kenturamon) <a href="https://twitter.com/kenturamon/status/557998276705021952">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">30 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Holy shit concurrent programming is hard.&mdash; Robert Kenny (@kenturamon) <a href="https://twitter.com/kenturamon/status/441645472009445377">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/kenturamon');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>