<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lewis King's (@lewisking) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Lewis King's (@lewisking) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Lewis King's (@lewisking) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/lewisking" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/lewisking&source=tweetbutton&text=Lewis+King%27s+%28%40lewisking%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/lewisking" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/621990952329064449/HohbgQNZ.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Lewis King</h1>
        <p class="username">@lewisking</p>
        <p>We analysed 1000 tweets from @lewisking's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F389" title="12 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F629" title="6 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F525" title="3 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F64C" title="3 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F4BB" title="2 uses">
                    &#1F4BB                        </span>
                                                <span class="emojione-2600" title="2 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F62D" title="2 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F64A" title="2 uses">
                    &#1F64A                        </span>
                                                <span class="emojione-1F379" title="2 uses">
                    &#1F379                        </span>
                                                <span class="emojione-1F334" title="2 uses">
                    &#1F334                        </span>
                                                <span class="emojione-1F378" title="2 uses">
                    &#1F378                        </span>
                                                <span class="emojione-1F604" title="1 uses">
                    &#1F604                        </span>
                                                <span class="emojione-2122" title="1 uses">
                    &#2122                        </span>
                                                <span class="emojione-1F618" title="1 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F44C" title="1 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F44A" title="1 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F3B5" title="1 uses">
                    &#1F3B5                        </span>
                                                <span class="emojione-1F62B" title="1 uses">
                    &#1F62B                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@lukejones</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@rbin</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@lgladdy</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@scottnicol</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@marty</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@lewisking following ratio is <span class="important">20%</span></h2>
        <p>Based on 1893 followers and 369 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @lewisking tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:62.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        124 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.8%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        148 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.4%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        194 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.8%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        168 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.2%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        182 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.7%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        87 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.7%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        97 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.70%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Glastonbury</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#glastonbury</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#WWDC</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#slowhandclap</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#norespect</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">2%</span> of @lewisking's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @lewisking's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/618176002657787908/mEqN1NAK.jpg" class="profile-image">
                        <h3>Alex Jegtnes </h3>
                        <p class="username">@jegtnes</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/631824807236108288/gNREuYD5.png" class="profile-image">
                        <h3>Andy Kelly</h3>
                        <p class="username">@ultrabrilliant</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/641962912375001088/3rceyIlo.jpg" class="profile-image">
                        <h3>Dan Edwards</h3>
                        <p class="username">@de</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@lewisking's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">192 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Look who we just met… http://t.co/KEtttQDxBh&mdash; Lewis King (@lewisking) <a href="https://twitter.com/lewisking/status/643143558745169922">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">86 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Kind of crazy that the main train line from Bath to London currently looks like this… http://t.co/TeyF08Rejz&mdash; Lewis King (@lewisking) <a href="https://twitter.com/lewisking/status/622504677922500608">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">48 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Learning how to ride a bike with steering reversed takes a kid two weeks, an adult 8 months. https://t.co/v5KT249eeH&mdash; Lewis King (@lewisking) <a href="https://twitter.com/lewisking/status/600776736255639552">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">47 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">There's a girl eating a flower in this week's Lidl catalogue http://t.co/079YGKlYRp&mdash; Lewis King (@lewisking) <a href="https://twitter.com/lewisking/status/592399947577860096">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">23 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">"You are now watching the greatest rock star on the planet" hahahahaha please #glastonbury&mdash; Lewis King (@lewisking) <a href="https://twitter.com/lewisking/status/614929872650129409">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/lewisking');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>