<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chris Leydon's (@leydon) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Chris Leydon's (@leydon) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Chris Leydon's (@leydon) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/leydon" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/leydon&source=tweetbutton&text=Chris+Leydon%27s+%28%40leydon%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/leydon" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/18590172/1398254243/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/378800000313342950/87e32e2c0fb94f96495dda53ff8b809b.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Chris Leydon</h1>
        <p class="username">@leydon</p>
        <p>We analysed 1000 tweets from @leydon's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F44A" title="7 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-AE" title="1 uses">
                    &#AE                        </span>
                                                <span class="emojione-26A1" title="1 uses">
                    &#26A1                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@nathggns</span>
                        <span class="count">
                            84                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@joehudsonsmall</span>
                        <span class="count">
                            73                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@JSHiggins_</span>
                        <span class="count">
                            58                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@ClaudioAlbertin</span>
                        <span class="count">
                            34                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@TeamPangloss</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@leydon following ratio is <span class="important">37%</span></h2>
        <p>Based on 2712 followers and 977 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @leydon tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.8%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        178 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.1%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        151 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        150 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        170 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.6%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        136 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        101 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.4%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        114 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.40%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#lastfm</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#ApplePay</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#hackmakethebank</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#HackMakeTheBank</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#hnlondon</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">8%</span> of @leydon's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @leydon's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1580179958/Janna-NewProfilePic-lg-new.jpg" class="profile-image">
                        <h3>Janna Bastow</h3>
                        <p class="username">@simplybastow</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3509151118/5f7e91dea90a9ed940878b871fc70971.jpeg" class="profile-image">
                        <h3>Andy Plesser</h3>
                        <p class="username">@Beet_TV</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/120043984/rl_logo_orange.jpg" class="profile-image">
                        <h3>Radiolab</h3>
                        <p class="username">@Radiolab</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@leydon's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">29 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">All being well with the connection here, the #hackmakethebank presentations will be live streamed from 4pm today! http://t.co/ENnE2J7vqj&mdash; Chris Leydon (@leydon) <a href="https://twitter.com/leydon/status/566967158048325633">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">22 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Horrible black clouds over #Brighton and #Hove. Some sort of large fire. http://t.co/q3QmNlOqc0&mdash; Chris Leydon (@leydon) <a href="https://twitter.com/leydon/status/609040012693368833">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">20 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Want to use your #AppleWatch and #ApplePay on the Tube instead of an Oyster card? I hope you're left handed. http://t.co/paWVlLVWZY&mdash; Chris Leydon (@leydon) <a href="https://twitter.com/leydon/status/620737799352938497">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">18 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">My Top 3 #lastfm Artists: deadmau5 (9), Kygo (5) &amp; Breakbot feat. Irfane (3) #lastfm http://t.co/LDmtk31sIM&mdash; Chris Leydon (@leydon) <a href="https://twitter.com/leydon/status/592782325236244481">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">15 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Off to Belfast for #hackmakethebank! (@ London @HeathrowAirport (LHR) in Hounslow, London) https://t.co/g5cXCSoUkb&mdash; Chris Leydon (@leydon) <a href="https://twitter.com/leydon/status/566106677921845249">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/leydon');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>