<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fabrizio Rinaldi's (@linuz90) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Fabrizio Rinaldi's (@linuz90) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Fabrizio Rinaldi's (@linuz90) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/linuz90" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/linuz90&source=tweetbutton&text=Fabrizio+Rinaldi%27s+%28%40linuz90%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/linuz90" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/17650681/1435247646/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/641165929519431680/hBVFolNT.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Fabrizio Rinaldi</h1>
        <p class="username">@linuz90</p>
        <p>We analysed 1000 tweets from @linuz90's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2764" title="6 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F44D" title="6 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F601" title="3 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F44A" title="3 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F449" title="2 uses">
                    &#1F449                        </span>
                                                <span class="emojione-1F61C" title="2 uses">
                    &#1F61C                        </span>
                                                <span class="emojione-1F633" title="2 uses">
                    &#1F633                        </span>
                                                <span class="emojione-1F628" title="1 uses">
                    &#1F628                        </span>
                                                <span class="emojione-2122" title="1 uses">
                    &#2122                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@belial90</span>
                        <span class="count">
                            44                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@jajaranza</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@John_Doe_Snow</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@doney</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@LinusEdwards</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@linuz90 following ratio is <span class="important">16%</span></h2>
        <p>Based on 1284 followers and 201 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @linuz90 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.7%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.7%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        157 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.8%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        178 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.9%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        169 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.1%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        141 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.8%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        108 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        100 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.00%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Hannibal</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#TheSopranos</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#lestateaddosso</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#DiscoverWeekly</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#apple</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">2%</span> of @linuz90's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @linuz90's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/477425839810686977/C__FNUFz.png" class="profile-image">
                        <h3>Riccardo Mori</h3>
                        <p class="username">@morrick</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/586101688676831232/poPezAo4.jpg" class="profile-image">
                        <h3>Martin Bryant</h3>
                        <p class="username">@MartinSFP</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/633523488649711616/qSwLeYWX.jpg" class="profile-image">
                        <h3>WILL McCRABB</h3>
                        <p class="username">@mccrabb_will</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@linuz90's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">560 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">You can finally use WhatsApp on iPad via the web interface. Just use Safari 'Request Desktop Site' button http://t.co/1CJ3yGhsr8&mdash; Fabrizio Rinaldi (@linuz90) <a href="https://twitter.com/linuz90/status/635364135832698881">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">43 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I've made another timelapse, the best one yet, and I couldn't resist using the intro music from a certain TV show http://t.co/WlDOeEu4Xu&mdash; Fabrizio Rinaldi (@linuz90) <a href="https://twitter.com/linuz90/status/639529200471420928">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">31 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Coming back from the beach, MiniDV style http://t.co/6MfUcgT7oc&mdash; Fabrizio Rinaldi (@linuz90) <a href="https://twitter.com/linuz90/status/633649909384749057">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">27 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">"Siri, activate Low Power Mode when I'm under 30% battery"

"Siri, don't show me notifications if I'm watching a video"

#SiriWishList&mdash; Fabrizio Rinaldi (@linuz90) <a href="https://twitter.com/linuz90/status/640149774302347264">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I cut together 13 videos and made this Nike-style inspirational montage https://t.co/Fl4Ddji9bA I wrote the narration. Enjoy and share :)&mdash; Fabrizio Rinaldi (@linuz90) <a href="https://twitter.com/linuz90/status/634757640300662784">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/linuz90');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>