<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>luce's (@lucyknowles_1) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="luce's (@lucyknowles_1) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="luce's (@lucyknowles_1) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/lucyknowles_1" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/lucyknowles_1&source=tweetbutton&text=luce%27s+%28%40lucyknowles_1%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/lucyknowles_1" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/750931332/1442595375/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/645009625113325573/rzMRQQgD.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">luce</h1>
        <p class="username">@lucyknowles_1</p>
        <p>We analysed 985 tweets from @lucyknowles_1's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="95 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F629" title="35 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F49E" title="23 uses">
                    &#1F49E                        </span>
                                                <span class="emojione-1F60D" title="18 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-2764" title="17 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F497" title="17 uses">
                    &#1F497                        </span>
                                                <span class="emojione-1F62D" title="16 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F4A5" title="16 uses">
                    &#1F4A5                        </span>
                                                <span class="emojione-1F479" title="15 uses">
                    &#1F479                        </span>
                                                <span class="emojione-1F498" title="11 uses">
                    &#1F498                        </span>
                                                <span class="emojione-1F48B" title="10 uses">
                    &#1F48B                        </span>
                                                <span class="emojione-1F61D" title="10 uses">
                    &#1F61D                        </span>
                                                <span class="emojione-263A" title="9 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F494" title="9 uses">
                    &#1F494                        </span>
                                                <span class="emojione-1F496" title="9 uses">
                    &#1F496                        </span>
                                                <span class="emojione-1F637" title="9 uses">
                    &#1F637                        </span>
                                                <span class="emojione-1F648" title="8 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F44C" title="8 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F445" title="7 uses">
                    &#1F445                        </span>
                                                <span class="emojione-1F3B6" title="7 uses">
                    &#1F3B6                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@regancait1</span>
                        <span class="count">
                            98                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@chxrlrobinson</span>
                        <span class="count">
                            49                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@SoffieWarrd</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@bethslils</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@knowles_ellie</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@lucyknowles_1 following ratio is <span class="important">38%</span></h2>
        <p>Based on 505 followers and 191 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @lucyknowles_1 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.82%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        146 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.11%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        139 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.11%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.14%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        159 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.14%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        133 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.3%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.37%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        112 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.37%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.75%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        165 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.75%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#leadersdebate</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#MetGala2015</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#mic</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Election2015</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#TheVote</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">4%</span> of @lucyknowles_1's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @lucyknowles_1's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/628163430537629697/nlwX0ZGL.jpg" class="profile-image">
                        <h3>Ellie</h3>
                        <p class="username">@Elle_oscroft6</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/575250799707619328/W341-qJN.jpeg" class="profile-image">
                        <h3>Jme</h3>
                        <p class="username">@JmeBBK</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/540084001240010752/Qm7AFMOy.jpeg" class="profile-image">
                        <h3>Parklife 2015</h3>
                        <p class="username">@Parklifefest</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@lucyknowles_1's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">79 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">When you get your monitoring grades http://t.co/eKKmaJNuvH&mdash; luce (@lucyknowles_1) <a href="https://twitter.com/lucyknowles_1/status/522697876892561408">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">55 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">My baby brother has arrived!! Toby Knowles 💫💗&mdash; luce (@lucyknowles_1) <a href="https://twitter.com/lucyknowles_1/status/615955636619190272">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">52 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@NoodlesandTofu collision? Think you mean coalition? Do your research.&mdash; luce (@lucyknowles_1) <a href="https://twitter.com/lucyknowles_1/status/596645913403228161">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">47 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Can results day just not happen this year pls&mdash; luce (@lucyknowles_1) <a href="https://twitter.com/lucyknowles_1/status/626882735458623488">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">46 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">ʷʰʸ ᵗʰᵉ fᵘͨᵏ ᵘ ˡʸʸʸ'ⁿ,ʷʰʸ ᵘ ᵃˡʷᵃʸˢ ˡʸʸʸ'ⁿ ᵐᵐᵐᵐᵐᵐ ºʰᵐʸᵍºᵈ ˢᵗºp fᵘͨᵏ'ⁿ ˡʸʸʸ'ⁿ&mdash; luce (@lucyknowles_1) <a href="https://twitter.com/lucyknowles_1/status/640576862062792704">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/lucyknowles_1');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>