<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matt Muir's (@Matt_Muir) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Matt Muir's (@Matt_Muir) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Matt Muir's (@Matt_Muir) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/matt_muir" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/matt_muir&source=tweetbutton&text=Matt+Muir%27s+%28%40Matt_Muir%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/matt_muir" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/61186773/1398238742/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/1500446575/eye.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Matt Muir</h1>
        <p class="username">@Matt_Muir</p>
        <p>We analysed 1000 tweets from @Matt_Muir's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-JUST" title="1 uses">
                    &#JUST                        </span>
                                                <span class="emojione-BANTER" title="1 uses">
                    &#BANTER                        </span>
                                                <span class="emojione-URL" title="1 uses">
                    &#URL                        </span>
                                                <span class="emojione-MOSAIC" title="1 uses">
                    &#MOSAIC                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@joshglendinning</span>
                        <span class="count">
                            64                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@adjwilson</span>
                        <span class="count">
                            59                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@inthecompanyof</span>
                        <span class="count">
                            41                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@sadeagle</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@BetaRish</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Matt_Muir following ratio is <span class="important">87%</span></h2>
        <p>Based on 3985 followers and 3436 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Matt_Muir tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.1%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:74.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        242 tweets
                    </div>
                </div>
                <div class="percentage">
                    24.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:76.3%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        263 tweets
                    </div>
                </div>
                <div class="percentage">
                    26.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.7%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        207 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        130 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:52.6%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        26 tweets
                    </div>
                </div>
                <div class="percentage">
                    2.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50.1%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        1 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.10%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#klout70</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#goatse</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#fuckinginsightfulandinspirationaljesusilovecocaineandwhitewineonexpensesthankssirmartinsnifffffffffffffffffffff</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#poetry</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#deepdream</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">1%</span> of @Matt_Muir's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Matt_Muir's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1066319837/imperica-copy.gif" class="profile-image">
                        <h3>Imperica</h3>
                        <p class="username">@imperica</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/544444372830261248/hzqRyyMm.jpeg" class="profile-image">
                        <h3>WBDTeenFest</h3>
                        <p class="username">@WBDTeenFest</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/594139608847405056/2bjX0rNr.jpg" class="profile-image">
                        <h3>Get In The Sea</h3>
                        <p class="username">@getinthesea</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Matt_Muir's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">1191 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">This is a BRILLIANT idea. Notfound lets website admins advertise missing persons on their 404 pages: http://t.co/2wx0DOyEUs&mdash; Matt Muir (@Matt_Muir) <a href="https://twitter.com/Matt_Muir/status/606380674916872192">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">201 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">HTTP Status cats. Webdevs, you may like: https://t.co/lrYJ2ilJVR&mdash; Matt Muir (@Matt_Muir) <a href="https://twitter.com/Matt_Muir/status/639095123977089024">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">65 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Cattlerap - mixing the incredible sounds of cattle auctioneers with hiphop beats - is PREPOSTEROUSLY good: http://t.co/BQFenePjtK&mdash; Matt Muir (@Matt_Muir) <a href="https://twitter.com/Matt_Muir/status/600244310928400385">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">62 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">A water bottle which reminds you when to drink, because the future thinks you're a FUCKING IDIOT: https://t.co/rYeV1dyQ4T&mdash; Matt Muir (@Matt_Muir) <a href="https://twitter.com/Matt_Muir/status/606053719755657216">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">55 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">All of the empty, vacuous and hideously cunty quotes from Cannes you could hope for (and big Marty S): http://t.co/zSLW7yQtlA&mdash; Matt Muir (@Matt_Muir) <a href="https://twitter.com/Matt_Muir/status/613617291402604544">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/matt_muir');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>