<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Max's (@maxdkaplan) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Max's (@maxdkaplan) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Max's (@maxdkaplan) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/maxdkaplan" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/maxdkaplan&source=tweetbutton&text=Max%27s+%28%40maxdkaplan%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/maxdkaplan" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14644664/1431816040/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/625667605097910274/H5fDKLW4.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Max</h1>
        <p class="username">@maxdkaplan</p>
        <p>We analysed 1000 tweets from @maxdkaplan's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60D" title="4 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-2122" title="3 uses">
                    &#2122                        </span>
                                                <span class="emojione-1F64F" title="2 uses">
                    &#1F64F                        </span>
                                                <span class="emojione-1F44F" title="1 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F680" title="1 uses">
                    &#1F680                        </span>
                                                <span class="emojione-1F31F" title="1 uses">
                    &#1F31F                        </span>
                                                <span class="emojione-1F49B" title="1 uses">
                    &#1F49B                        </span>
                                                <span class="emojione-1F499" title="1 uses">
                    &#1F499                        </span>
                                                <span class="emojione-MOVIE" title="1 uses">
                    &#MOVIE                        </span>
                                                <span class="emojione-267B" title="1 uses">
                    &#267B                        </span>
                                                <span class="emojione-1F463" title="1 uses">
                    &#1F463                        </span>
                                                <span class="emojione-1F496" title="1 uses">
                    &#1F496                        </span>
                                                <span class="emojione-1F61A" title="1 uses">
                    &#1F61A                        </span>
                                                <span class="emojione-1F618" title="1 uses">
                    &#1F618                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@jsauluck</span>
                        <span class="count">
                            54                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@stephensimbari</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@Media__Steph</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@sarahsolfails</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@itgetsbedder</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@maxdkaplan following ratio is <span class="important">61%</span></h2>
        <p>Based on 1507 followers and 918 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @maxdkaplan tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.3%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        133 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        200 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        160 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.6%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        186 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.4%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        134 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.9%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        69 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.8%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        118 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.80%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#PrayForJCrew</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Disengaged</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#brands</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#DogMom</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#EDSFTG</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">6%</span> of @maxdkaplan's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @maxdkaplan's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/628622449438031873/eTsLTc1L.jpg" class="profile-image">
                        <h3>Media Steph</h3>
                        <p class="username">@Media__Steph</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/458981572243234816/oN5ra04N.png" class="profile-image">
                        <h3>Big Spaceship</h3>
                        <p class="username">@bigspaceship</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2284268541/nmhhn2abui99kh3t5nld.jpeg" class="profile-image">
                        <h3>Martha Stewart</h3>
                        <p class="username">@MarthaStewart</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@maxdkaplan's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">278 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Just think of all the 20-somethings with journalism degrees from elite schools who moved to NYC to cover Kermit the Frog's relationship&mdash; Max (@maxdkaplan) <a href="https://twitter.com/maxdkaplan/status/639054816023588864">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">193 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">*tinder CEO storms into marketing department*

GIVE ME THE TWITTER PASSWORD&mdash; Max (@maxdkaplan) <a href="https://twitter.com/maxdkaplan/status/631310572433317889">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">172 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">And as the republican debates raged on, I couldn't help but wonder: were my feelings toward Aidan Trumped by own borders patrolled by Big?&mdash; Max (@maxdkaplan) <a href="https://twitter.com/maxdkaplan/status/629470227336724480">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">146 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Taylor Swift's 2015 VMA brand http://t.co/zJfTO3abSa&mdash; Max (@maxdkaplan) <a href="https://twitter.com/maxdkaplan/status/638178756969017344">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">139 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">So what you're telling me is that Meek Mill is not an artisanal coffee shop in Gowanus&mdash; Max (@maxdkaplan) <a href="https://twitter.com/maxdkaplan/status/623869304891682816">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/maxdkaplan');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>