<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matt Taylor's (@mdtaylor) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Matt Taylor's (@mdtaylor) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Matt Taylor's (@mdtaylor) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/mdtaylor" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/mdtaylor&source=tweetbutton&text=Matt+Taylor%27s+%28%40mdtaylor%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/mdtaylor" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/22903391/1431791797/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/620241465902518272/Y7bFcTyW.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Matt Taylor</h1>
        <p class="username">@mdtaylor</p>
        <p>We analysed 1000 tweets from @mdtaylor's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F3C6" title="13 uses">
                    &#1F3C6                        </span>
                                                <span class="emojione-26BD" title="5 uses">
                    &#26BD                        </span>
                                                <span class="emojione-2714" title="3 uses">
                    &#2714                        </span>
                                                <span class="emojione-1F6A8" title="3 uses">
                    &#1F6A8                        </span>
                                                <span class="emojione-1F346" title="2 uses">
                    &#1F346                        </span>
                                                <span class="emojione-2764" title="2 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F44F" title="2 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F41D" title="2 uses">
                    &#1F41D                        </span>
                                                <span class="emojione-1F3B5" title="1 uses">
                    &#1F3B5                        </span>
                                                <span class="emojione-WORK" title="1 uses">
                    &#WORK                        </span>
                                                <span class="emojione-2600" title="1 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F44C" title="1 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F602" title="1 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F46E" title="1 uses">
                    &#1F46E                        </span>
                                                <span class="emojione-1F431" title="1 uses">
                    &#1F431                        </span>
                                                <span class="emojione-MEANS" title="1 uses">
                    &#MEANS                        </span>
                                                <span class="emojione-1F4A6" title="1 uses">
                    &#1F4A6                        </span>
                                                <span class="emojione-1F61E" title="1 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-1F3F0" title="1 uses">
                    &#1F3F0                        </span>
                                                <span class="emojione-1F37B" title="1 uses">
                    &#1F37B                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@jakesteadman</span>
                        <span class="count">
                            84                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@deanashraf</span>
                        <span class="count">
                            58                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@helenium</span>
                        <span class="count">
                            56                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@samuelofc</span>
                        <span class="count">
                            54                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@JonnieTaylor</span>
                        <span class="count">
                            54                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@mdtaylor following ratio is <span class="important">115%</span></h2>
        <p>Based on 995 followers and 1141 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @mdtaylor tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        134 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.5%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        125 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.2%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        162 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:73.7%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        237 tweets
                    </div>
                </div>
                <div class="percentage">
                    23.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.8%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        178 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.3%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        103 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.1%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        61 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.10%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#CannesLions</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#GE2015</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#PoweredByTweets</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#PowerOfNow</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#TweetBeats</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">17%</span> of @mdtaylor's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @mdtaylor's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3535492796/f2671fedf93e7f0c86b4e20b9b791aa1.png" class="profile-image">
                        <h3>Twitter Ads UK</h3>
                        <p class="username">@TwitterAdsUK</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/531882230440677376/HGgK3TBY.png" class="profile-image">
                        <h3>Twitter Advertising</h3>
                        <p class="username">@TwitterAds</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2284174643/t4f37ixzn1hnfr62iw7z.png" class="profile-image">
                        <h3>Twitter UK</h3>
                        <p class="username">@TwitterUK</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@mdtaylor's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">140 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Bloke walking down Shoreditch High Street FaceTiming someone at full volume on a selfie stick at full extension. Next level douchebaggery&mdash; Matt Taylor (@mdtaylor) <a href="https://twitter.com/mdtaylor/status/568163102669348865">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">103 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If you even have a passing interest in electronic music, I strongly advise watching @ChemBros live at #glasto now on @bbcthree. WHAT a show&mdash; Matt Taylor (@mdtaylor) <a href="https://twitter.com/mdtaylor/status/615273043011719168">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">102 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Last gig ever at Earls Court. Bombay Bicycle Club is the way to go out http://t.co/FceFHCJPMy&mdash; Matt Taylor (@mdtaylor) <a href="https://twitter.com/mdtaylor/status/543873773917966336">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">87 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Building explosion in NYC as seen through Periscope. Extraordinary connection to breaking news http://t.co/MYMb7swyrQ&mdash; Matt Taylor (@mdtaylor) <a href="https://twitter.com/mdtaylor/status/581185825779650560">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">53 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Wasp stuck in the tube carriage. Unbelievable scenes. The most panic you'll ever see from Brits&mdash; Matt Taylor (@mdtaylor) <a href="https://twitter.com/mdtaylor/status/624268503231660032">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/mdtaylor');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>