<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natasha Camp's (@MoustachaCramp) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Natasha Camp's (@MoustachaCramp) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Natasha Camp's (@MoustachaCramp) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/moustachacramp" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/moustachacramp&source=tweetbutton&text=Natasha+Camp%27s+%28%40MoustachaCramp%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/moustachacramp" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/20439958/1415608853/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/545920916304052224/oSsZYbf6.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Natasha Camp</h1>
        <p class="username">@MoustachaCramp</p>
        <p>We analysed 1000 tweets from @MoustachaCramp's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F609" title="28 uses">
                    &#1F609                        </span>
                                                <span class="emojione-1F61C" title="26 uses">
                    &#1F61C                        </span>
                                                <span class="emojione-2764" title="12 uses">
                    &#2764                        </span>
                                                <span class="emojione-2600" title="9 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F618" title="8 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F34D" title="7 uses">
                    &#1F34D                        </span>
                                                <span class="emojione-1F60A" title="7 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F388" title="7 uses">
                    &#1F388                        </span>
                                                <span class="emojione-1F629" title="5 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F693" title="5 uses">
                    &#1F693                        </span>
                                                <span class="emojione-1F61D" title="5 uses">
                    &#1F61D                        </span>
                                                <span class="emojione-1F37B" title="4 uses">
                    &#1F37B                        </span>
                                                <span class="emojione-1F602" title="4 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F3B6" title="4 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F4AA" title="4 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F440" title="3 uses">
                    &#1F440                        </span>
                                                <span class="emojione-1F622" title="3 uses">
                    &#1F622                        </span>
                                                <span class="emojione-1F389" title="2 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F495" title="2 uses">
                    &#1F495                        </span>
                                                <span class="emojione-1F349" title="2 uses">
                    &#1F349                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@rajdeans</span>
                        <span class="count">
                            78                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@catbrown</span>
                        <span class="count">
                            65                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@MicaleReid</span>
                        <span class="count">
                            56                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@LadyJ</span>
                        <span class="count">
                            55                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@benjackthomas</span>
                        <span class="count">
                            34                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@MoustachaCramp following ratio is <span class="important">78%</span></h2>
        <p>Based on 1888 followers and 1455 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @MoustachaCramp tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        154 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        132 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.9%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        179 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.9%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        179 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.7%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        91 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.8%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        118 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.80%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#duchennedash</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#DuchenneDash</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#cycling</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#meow</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SriLanka</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">23%</span> of @MoustachaCramp's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @MoustachaCramp's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3451300084/e1d8b5225f3a859fc387384cd1893c07.jpeg" class="profile-image">
                        <h3>Dara Nasr</h3>
                        <p class="username">@DaraNasr</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/623788519627075585/DeCcBGFs.jpg" class="profile-image">
                        <h3>Lindsey Munro</h3>
                        <p class="username">@LindseyNicole</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/583346421488861185/Pa2JNtJZ.jpg" class="profile-image">
                        <h3>Micale Reid</h3>
                        <p class="username">@MicaleReid</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@MoustachaCramp's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">402 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.@StolenRide Had #bike stolen in #Dalston. Only commuter bike but I love it lots. Could you RT pls? Ps baaaad photo! http://t.co/1tZpDv6OC1&mdash; Natasha Camp (@MoustachaCramp) <a href="https://twitter.com/MoustachaCramp/status/498574843865214976">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">113 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Made it! Love you all @DaraNasr @stigglor @MicaleReid @shoez #DuchenneDash http://t.co/sHN11EPZ9r&mdash; Natasha Camp (@MoustachaCramp) <a href="https://twitter.com/MoustachaCramp/status/607216105246048256">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">81 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Absolutely downloading the @MAJORLAZER app. I'm gonna lazer the crap out of my life ⚡️💥💫✨ http://t.co/yt2m8YAdp4&mdash; Natasha Camp (@MoustachaCramp) <a href="https://twitter.com/MoustachaCramp/status/492037468662018048">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">77 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Don't take #flirting tips from me http://t.co/IqoceAuM6w&mdash; Natasha Camp (@MoustachaCramp) <a href="https://twitter.com/MoustachaCramp/status/553310783002935296">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">75 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Well done @twitteruk for completing the #jpmcclondon You're all champs! http://t.co/JyfYJH9Xcv&mdash; Natasha Camp (@MoustachaCramp) <a href="https://twitter.com/MoustachaCramp/status/486953859374661632">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/moustachacramp');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>