<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySelfLuls's (@MySelfLuls) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="MySelfLuls's (@MySelfLuls) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="MySelfLuls's (@MySelfLuls) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/myselfluls" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/myselfluls&source=tweetbutton&text=MySelfLuls%27s+%28%40MySelfLuls%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/myselfluls" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/518662764/1392082398/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_4.png" alt="" class="profile-image">
        <h1 class="typl8-beta">MySelfLuls</h1>
        <p class="username">@MySelfLuls</p>
        <p>We analysed 21 tweets from @MySelfLuls's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2665" title="1 uses">
                    &#2665                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@DerpTrolling</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@RiotKengen</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@DashlaneSupport</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Sp4zie</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Wickdlol</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@MySelfLuls following ratio is <span class="important">1047%</span></h2>
        <p>Based on 13 followers and 136 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @MySelfLuls tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:54.76%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        1 tweets
                    </div>
                </div>
                <div class="percentage">
                    4.76%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:83.33%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        7 tweets
                    </div>
                </div>
                <div class="percentage">
                    33.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.52%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        2 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:78.57%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        6 tweets
                    </div>
                </div>
                <div class="percentage">
                    28.57%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        0 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.29%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        3 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.29%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.52%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        2 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.52%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#offline</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#twitch</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#gamersbook</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#razer</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#LeagueOfLegends</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">39%</span> of @MySelfLuls's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @MySelfLuls's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/462637150790373376/-Va-X2Y1.png" class="profile-image">
                        <h3>Sp4zie</h3>
                        <p class="username">@Sp4zie</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/515260182448717824/Rt03UCLs.png" class="profile-image">
                        <h3>PhantomL0rd</h3>
                        <p class="username">@PhantomL0rd</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@MySelfLuls's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@RiotKengen Just sent a message, thanks for the quick response :)&mdash; MySelfLuls (@MySelfLuls) <a href="https://twitter.com/MySelfLuls/status/502505647267909632">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@Gnarsies Call your ISP and get a new IP adress.Pay the little it requires to have a dynamic IP adress so it changes every month. I can help&mdash; MySelfLuls (@MySelfLuls) <a href="https://twitter.com/MySelfLuls/status/606455406219653120">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@RiotKengen Ayo could I get in touch with you related to something important?&mdash; MySelfLuls (@MySelfLuls) <a href="https://twitter.com/MySelfLuls/status/502505020387233792">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@Wickdlol Just about the confirmation thing - Here you go&mdash; MySelfLuls (@MySelfLuls) <a href="https://twitter.com/MySelfLuls/status/564486485693706241">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">0 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@DashlaneSupport Does Secure Notes support HTML so I can make it look slightly more pretty?&mdash; MySelfLuls (@MySelfLuls) <a href="https://twitter.com/MySelfLuls/status/564169753129152512">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/myselfluls');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>