<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nathan Bijnens's (@nathan_gs) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Nathan Bijnens's (@nathan_gs) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Nathan Bijnens's (@nathan_gs) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/nathan_gs" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/nathan_gs&source=tweetbutton&text=Nathan+Bijnens%27s+%28%40nathan_gs%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/nathan_gs" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14350934/1386853850/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/1138786836/41403_639988403_3941_q.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Nathan Bijnens</h1>
        <p class="username">@nathan_gs</p>
        <p>We analysed 1000 tweets from @nathan_gs's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2122" title="1 uses">
                    &#2122                        </span>
                                                <span class="emojione-1F388" title="1 uses">
                    &#1F388                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@fs111</span>
                        <span class="count">
                            79                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@nathan_gs</span>
                        <span class="count">
                            45                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@mathiasverraes</span>
                        <span class="count">
                            43                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@mhausenblas</span>
                        <span class="count">
                            39                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@noootsab</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@nathan_gs following ratio is <span class="important">67%</span></h2>
        <p>Based on 684 followers and 456 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @nathan_gs tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:61.5%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        115 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        200 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:71.5%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        215 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.6%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        176 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.9%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        159 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.3%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        63 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.2%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        72 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.20%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Storm</span>
                        <span class="count">
                            39                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Hadoop</span>
                        <span class="count">
                            35                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Spark</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#bigdata</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#BigData</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">31%</span> of @nathan_gs's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @nathan_gs's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1297082054/fs111-large.png" class="profile-image">
                        <h3>fs111</h3>
                        <p class="username">@fs111</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/537869305430298624/E7_bCs0e.png" class="profile-image">
                        <h3>Geert Noels</h3>
                        <p class="username">@GeertNoels</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/378800000425373239/7b2e5446bd40c9fe0840855d8af80cb1.jpeg" class="profile-image">
                        <h3>Michael Hausenblas</h3>
                        <p class="username">@mhausenblas</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@nathan_gs's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">71 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The slides for our #FOSDEM presentation: "A real time architecture using #Hadoop &amp; #Storm" are online. http://t.co/d50cM9Ob /cc @nathanmarz&mdash; Nathan Bijnens (@nathan_gs) <a href="https://twitter.com/nathan_gs/status/298118063637794816">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">47 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">My slides for A real-time (#LambdaArch) architecture using #Hadoop &amp; #Storm, presented during #nosql14 are online: http://t.co/wMzFjUXBN2&mdash; Nathan Bijnens (@nathan_gs) <a href="https://twitter.com/nathan_gs/status/461118457963356161">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">38 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">At the next @bigdatabe meetup on May 2th I will present "A real-time architecture using #Hadoop and #Storm.". http://t.co/FapVdD7CLE&mdash; Nathan Bijnens (@nathan_gs) <a href="https://twitter.com/nathan_gs/status/329197515658391552">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">38 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Want to get started with @ApacheDrill? Use @mhausenblas sandbox. http://t.co/ny0lJQH3SJ #jaxlondon&mdash; Nathan Bijnens (@nathan_gs) <a href="https://twitter.com/nathan_gs/status/395209507540049920">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">34 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">At @Virdata_IoT we are looking for a #Cassandra expert with a strong affinity for #Spark. https://t.co/5its2syQJ5&mdash; Nathan Bijnens (@nathan_gs) <a href="https://twitter.com/nathan_gs/status/590435141673209856">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/nathan_gs');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>