<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pascal Hartig's (@passy) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Pascal Hartig's (@passy) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Pascal Hartig's (@passy) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/passy" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/passy&source=tweetbutton&text=Pascal+Hartig%27s+%28%40passy%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/passy" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14383077/1441365446/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/552778370073632769/ePU-BgEt.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Pascal Hartig</h1>
        <p class="username">@passy</p>
        <p>We analysed 1000 tweets from @passy's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F389" title="4 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F382" title="3 uses">
                    &#1F382                        </span>
                                                <span class="emojione-2728" title="3 uses">
                    &#2728                        </span>
                                                <span class="emojione-1F525" title="3 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F44A" title="3 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F628" title="2 uses">
                    &#1F628                        </span>
                                                <span class="emojione-1F625" title="2 uses">
                    &#1F625                        </span>
                                                <span class="emojione-1F601" title="2 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F631" title="2 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F635" title="2 uses">
                    &#1F635                        </span>
                                                <span class="emojione-2615" title="2 uses">
                    &#2615                        </span>
                                                <span class="emojione-1F622" title="2 uses">
                    &#1F622                        </span>
                                                <span class="emojione-1F388" title="2 uses">
                    &#1F388                        </span>
                                                <span class="emojione-1F44F" title="2 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F60D" title="1 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F514" title="1 uses">
                    &#1F514                        </span>
                                                <span class="emojione-1F629" title="1 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-CAN" title="1 uses">
                    &#CAN                        </span>
                                                <span class="emojione-1F44D" title="1 uses">
                    &#1F44D                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@twtrdaithi</span>
                        <span class="count">
                            70                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@RebeccaW</span>
                        <span class="count">
                            45                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@phuunet</span>
                        <span class="count">
                            44                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@sindresorhus</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@addyosmani</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@passy following ratio is <span class="important">21%</span></h2>
        <p>Based on 3254 followers and 670 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @passy tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.1%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        171 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.5%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        175 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.5%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        165 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        190 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.4%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        114 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.4%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        104 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.1%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        81 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.10%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#edgeconf</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#NotMalta</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Malta</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#blocked</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#tubestrike</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">9%</span> of @passy's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @passy's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/378800000666093975/cbe970ce9a19d2c6bec0d06c6004ccf0.png" class="profile-image">
                        <h3>Jake Wharton</h3>
                        <p class="username">@JakeWharton</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/437691870433378304/3TY6tjoX.jpeg" class="profile-image">
                        <h3>Gabriel Gonzalez</h3>
                        <p class="username">@GabrielG439</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/566190931741650945/k3YS8Kk-.jpeg" class="profile-image">
                        <h3>Actualized Passy</h3>
                        <p class="username">@__passy</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@passy's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">274 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Meritocracy by @jessitron. It's 4 minutes. You have that time.

https://t.co/YO6VtVBniO&mdash; Pascal Hartig (@passy) <a href="https://twitter.com/passy/status/633560814675492864">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">255 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Holy shit, this is bad. Developer-focused exploit for Firefox found in the wild.

https://t.co/YsiV1ZwisC&mdash; Pascal Hartig (@passy) <a href="https://twitter.com/passy/status/629603479787581440">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">233 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The levels of arrogance and ignorance on Hacker News remain unchallenged. http://t.co/VvLzXzUAO5&mdash; Pascal Hartig (@passy) <a href="https://twitter.com/passy/status/644166043095711744">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">189 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I am weak. Can't not share. https://t.co/0dzD4mukGC&mdash; Pascal Hartig (@passy) <a href="https://twitter.com/passy/status/638281198427590656">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">177 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Now that we've agreed on calling them universal apps, it's time to learn what an isomorphism actually is: https://t.co/QV3RCOnJHC&mdash; Pascal Hartig (@passy) <a href="https://twitter.com/passy/status/623063569513455616">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/passy');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>