<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paul Taylor's (@paultays) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Paul Taylor's (@paultays) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Paul Taylor's (@paultays) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/paultays" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/paultays&source=tweetbutton&text=Paul+Taylor%27s+%28%40paultays%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/paultays" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/2426373824/mwzhuaf0aolx75pto7y8.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Paul Taylor</h1>
        <p class="username">@paultays</p>
        <p>We analysed 999 tweets from @paultays's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="29 uses">
                    &#1F602                        </span>
                                                <span class="emojione-26BD" title="28 uses">
                    &#26BD                        </span>
                                                <span class="emojione-1F625" title="24 uses">
                    &#1F625                        </span>
                                                <span class="emojione-1F44D" title="18 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F648" title="16 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F60A" title="15 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F4B0" title="13 uses">
                    &#1F4B0                        </span>
                                                <span class="emojione-1F61C" title="9 uses">
                    &#1F61C                        </span>
                                                <span class="emojione-1F64A" title="9 uses">
                    &#1F64A                        </span>
                                                <span class="emojione-1F4E6" title="7 uses">
                    &#1F4E6                        </span>
                                                <span class="emojione-1F525" title="6 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F44C" title="6 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F61E" title="6 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-1F37B" title="5 uses">
                    &#1F37B                        </span>
                                                <span class="emojione-1F427" title="5 uses">
                    &#1F427                        </span>
                                                <span class="emojione-1F381" title="4 uses">
                    &#1F381                        </span>
                                                <span class="emojione-1F605" title="4 uses">
                    &#1F605                        </span>
                                                <span class="emojione-1F44E" title="4 uses">
                    &#1F44E                        </span>
                                                <span class="emojione-1F528" title="4 uses">
                    &#1F528                        </span>
                                                <span class="emojione-1F60B" title="4 uses">
                    &#1F60B                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@SamSteff</span>
                        <span class="count">
                            99                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@OfficialMR3</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@djktwentyone</span>
                        <span class="count">
                            45                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@xEmilyHopkinsx</span>
                        <span class="count">
                            43                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@ClaireHodson</span>
                        <span class="count">
                            31                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@paultays following ratio is <span class="important">99%</span></h2>
        <p>Based on 396 followers and 391 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @paultays tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:66.32%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        163 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.32%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.91%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        139 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.91%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.51%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.51%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.31%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        103 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.31%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.71%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.71%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.91%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        129 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.91%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.32%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        173 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.32%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#lastfm</span>
                        <span class="count">
                            50                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#BEERS</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#glastonbury</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#xfactor</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#XFactorFinal</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">32%</span> of @paultays's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @paultays's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/453117190951014400/jUDTJYcs.jpeg" class="profile-image">
                        <h3>O2 Academy Brixton</h3>
                        <p class="username">@O2academybrix</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/615439129594105856/2D5J_x1b.png" class="profile-image">
                        <h3>lastminute.com</h3>
                        <p class="username">@lastminute_com</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/554752005239865344/yYgWxZ84.jpeg" class="profile-image">
                        <h3>Claire Hodson</h3>
                        <p class="username">@ClaireHodson</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@paultays's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">121 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">worth pointing out that the license fee is 39p a day. i defy anyone who says that isn't value for money #backthebbc&mdash; Paul Taylor (@paultays) <a href="https://twitter.com/paultays/status/621287415618117632">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">42 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">casually stood at the bar 🍻 and @bastilledan decides to perform from there 😂 #glastonbury #secretset http://t.co/51hCKfeSZ8&mdash; Paul Taylor (@paultays) <a href="https://twitter.com/paultays/status/614425086964170752">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">29 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">i think i've enjoyed the adverts more than the opening ceremony #worldcup2014&mdash; Paul Taylor (@paultays) <a href="https://twitter.com/paultays/status/477159224305516544">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">26 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@TicketmasterUK fka twigs (who was robbed in the best british female category)&mdash; Paul Taylor (@paultays) <a href="https://twitter.com/paultays/status/570692264885936128">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">well done to everyone at @O2 this week, for an excellently handled iphone launch. great plan to not reveal pricing and have a flimsy website&mdash; Paul Taylor (@paultays) <a href="https://twitter.com/paultays/status/510329416657141760">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/paultays');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>