<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paddy's (@pnjmcc) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Paddy's (@pnjmcc) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Paddy's (@pnjmcc) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/pnjmcc" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/pnjmcc&source=tweetbutton&text=Paddy%27s+%28%40pnjmcc%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/pnjmcc" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/1650001856/profile.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Paddy</h1>
        <p class="username">@pnjmcc</p>
        <p>We analysed 999 tweets from @pnjmcc's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@DAVco</span>
                        <span class="count">
                            155                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@samhogy</span>
                        <span class="count">
                            152                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@r_mcmahon</span>
                        <span class="count">
                            60                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@OliClark</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@ThreeUK</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@pnjmcc following ratio is <span class="important">69%</span></h2>
        <p>Based on 117 followers and 80 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @pnjmcc tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:66.52%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        165 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.02%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        200 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:72.52%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        225 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.92%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        179 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.92%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.22%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        182 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.22%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:52.2%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        22 tweets
                    </div>
                </div>
                <div class="percentage">
                    2.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:52.6%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        26 tweets
                    </div>
                </div>
                <div class="percentage">
                    2.60%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#pmqs</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#galaxysiii</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#leveson</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#London2012</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#reshuffle</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">11%</span> of @pnjmcc's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @pnjmcc's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/626711523554119680/YLA32zb7.jpg" class="profile-image">
                        <h3>StreetPass Newcastle</h3>
                        <p class="username">@StreetpassNCL</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1660354526/Photo_on_27-11-2011_at_10.03.jpg" class="profile-image">
                        <h3>Rory Cellan-Jones</h3>
                        <p class="username">@ruskin147</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/556826698360967168/aGr_JQYO.jpeg" class="profile-image">
                        <h3>The Daily Mash</h3>
                        <p class="username">@thedailymash</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@pnjmcc's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The sense of entitlement people seem to have about getting a #raspberrypi today is overwhelming.&mdash; Paddy (@pnjmcc) <a href="https://twitter.com/pnjmcc/status/174749321458225152">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">8 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Having The Ultimate Bacon Cheeseburger tonight, thanks to @shuttlecooked! http://t.co/ZNe3NepYtt&mdash; Paddy (@pnjmcc) <a href="https://twitter.com/pnjmcc/status/522709895007965185">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@Jimllpaintit  Dear Jim'll paint it, could you draw: Obama, in pyjamas, coming down the stairs.Obama, in pyjamas, Secret Service Teddy bears&mdash; Paddy (@pnjmcc) <a href="https://twitter.com/pnjmcc/status/613705177103769600">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">This has to be the greatest gif ever: http://t.co/hclcC9gA&mdash; Paddy (@pnjmcc) <a href="https://twitter.com/pnjmcc/status/217244063450152960">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">5 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@RSElectronics Hello, I just got an email saying time to order a R-Pi, I followed the link and the input field for auth code was disabled?&mdash; Paddy (@pnjmcc) <a href="https://twitter.com/pnjmcc/status/198333756405325824">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/pnjmcc');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>