<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>he canım's (@pulcu) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="he canım's (@pulcu) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="he canım's (@pulcu) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/pulcu" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/pulcu&source=tweetbutton&text=he+can%C4%B1m%27s+%28%40pulcu%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/pulcu" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/57028099/1407788327/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/498926371364556800/bsvtabfO.png" alt="" class="profile-image">
        <h1 class="typl8-beta">he canım</h1>
        <p class="username">@pulcu</p>
        <p>We analysed 813 tweets from @pulcu's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@zbdgb</span>
                        <span class="count">
                            120                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@kirmizihalit</span>
                        <span class="count">
                            60                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@YouTube</span>
                        <span class="count">
                            31                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@mariathekazikli</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@sozluk</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@pulcu following ratio is <span class="important">133%</span></h2>
        <p>Based on 169 followers and 224 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @pulcu tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:72.88%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        186 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.88%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:71.53%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        175 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.53%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.78%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        112 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.78%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.76%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        120 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.76%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.09%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        82 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.09%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.13%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        58 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.13%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.84%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        80 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.84%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#benceyalnizlik</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#bence90lar</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#seksenleriseviyorum</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#bencesahadışı</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#TRT1</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">4%</span> of @pulcu's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @pulcu's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/618918999347306496/xiFUDOTr.jpg" class="profile-image">
                        <h3>İLKER</h3>
                        <p class="username">@zbdgb</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1233632912/bu_uuuk.jpg" class="profile-image">
                        <h3>Bucuk Fanzin</h3>
                        <p class="username">@bucukfanzin</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3164549565/5dfa330181848873b3366d42e76eab0d.jpeg" class="profile-image">
                        <h3>Türk Kızı</h3>
                        <p class="username">@BenTurkKizi</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@pulcu's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@kaziklimaria temsili? http://t.co/PbfPIyMmTQ&mdash; he canım (@pulcu) <a href="https://twitter.com/pulcu/status/508737437682913280">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@zbdgb hacı günah silinmesi diye bir şey yok galiba. sevaplarını artırabiliyorsun sadece. oraya odaklan derim&mdash; he canım (@pulcu) <a href="https://twitter.com/pulcu/status/23083546833">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">9 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@kaziklimaria http://t.co/hDr5xScgaR&mdash; he canım (@pulcu) <a href="https://twitter.com/pulcu/status/511627097085710336">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@zbdgb börülce ile kerevizi bir tutmam ciğerimi dağladı.&mdash; he canım (@pulcu) <a href="https://twitter.com/pulcu/status/593770018149638146">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@kirmizihalit olm ben rashida için yazmak istemiştim onu. ama pırasayı da savunabilirim.&mdash; he canım (@pulcu) <a href="https://twitter.com/pulcu/status/552429801882284032">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/pulcu');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>