<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quaker Oats's (@QuakerOatsUK) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Quaker Oats's (@QuakerOatsUK) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Quaker Oats's (@QuakerOatsUK) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/quakeroatsuk" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/quakeroatsuk&source=tweetbutton&text=Quaker+Oats%27s+%28%40QuakerOatsUK%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/quakeroatsuk" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/234390504/1442917703/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/378800000803585152/c90069e419bc0cc9b938057fabc1f5a2.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Quaker Oats</h1>
        <p class="username">@QuakerOatsUK</p>
        <p>We analysed 353 tweets from @QuakerOatsUK's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-263A" title="1 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@larrylamb47</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@GeorgeLambShow</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@QuakerOatsUK</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@magic_breakfast</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Quaker</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@QuakerOatsUK following ratio is <span class="important">29%</span></h2>
        <p>Based on 2198 followers and 633 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @QuakerOatsUK tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:80.31%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        107 tweets
                    </div>
                </div>
                <div class="percentage">
                    30.31%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:72.38%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        79 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.38%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.26%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        68 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.26%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.16%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        50 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.16%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.92%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        35 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.92%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:51.42%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        5 tweets
                    </div>
                </div>
                <div class="percentage">
                    1.42%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:52.55%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        9 tweets
                    </div>
                </div>
                <div class="percentage">
                    2.55%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#LoveMondays</span>
                        <span class="count">
                            57                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#FeedTheirFuture</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#SuperStart</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#FruitFace</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#QuakerBreakfast</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">29%</span> of @QuakerOatsUK's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @QuakerOatsUK's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3662132059/2ed2ca60074e6970367ee614a716424f.png" class="profile-image">
                        <h3>Magic Breakfast</h3>
                        <p class="username">@magic_breakfast</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/648727138/Larry_at_comedy_awards.jpg" class="profile-image">
                        <h3>Larry Lamb</h3>
                        <p class="username">@larrylamb47</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/1750190648/twitter_pic.jpg" class="profile-image">
                        <h3>George Lamb</h3>
                        <p class="username">@GeorgeLambShow</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@QuakerOatsUK's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">699 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Every day over 500,000 UK children go to school hungry. Support Magic Breakfast to help stop this. #FeedTheirFuture http://t.co/5aswILx9l6&mdash; Quaker Oats (@QuakerOatsUK) <a href="https://twitter.com/QuakerOatsUK/status/557077700238921728">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">576 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">It’s looking crisp out there this morning, so keep the chill away with a Quaker Cuppa Porridge. http://t.co/wNccAI7uYr&mdash; Quaker Oats (@QuakerOatsUK) <a href="https://twitter.com/QuakerOatsUK/status/557802300693958656">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">341 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Just £3.50 donated to @magic_breakfast gives a child free nutritious breakfast for a month. http://t.co/VlcxLeOcR2 http://t.co/055Xeu6AAn&mdash; Quaker Oats (@QuakerOatsUK) <a href="https://twitter.com/QuakerOatsUK/status/562883294933446656">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">330 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Create your #FruitFace and grab a free pot of creamy porridge containing real fruit now http://t.co/ibSHUGS4ef http://t.co/YANYsGknSu&mdash; Quaker Oats (@QuakerOatsUK) <a href="https://twitter.com/QuakerOatsUK/status/426255534790959105">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">326 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">It's time to warm up on this frosty morning with our Oats So Simple Sachets. Which flavour have you gone for? http://t.co/ALCBtLQCll&mdash; Quaker Oats (@QuakerOatsUK) <a href="https://twitter.com/QuakerOatsUK/status/560693871630221312">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/quakeroatsuk');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>