<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ravi Pau's (@RavPau) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Ravi Pau's (@RavPau) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Ravi Pau's (@RavPau) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/ravpau" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/ravpau&source=tweetbutton&text=Ravi+Pau%27s+%28%40RavPau%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/ravpau" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/21711828/1413367946/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/619611372721192960/1y_P0lwN.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Ravi Pau</h1>
        <p class="username">@RavPau</p>
        <p>We analysed 1000 tweets from @RavPau's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="7 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F52B" title="5 uses">
                    &#1F52B                        </span>
                                                <span class="emojione-1F44F" title="1 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F64C" title="1 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F44C" title="1 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F4AA" title="1 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F377" title="1 uses">
                    &#1F377                        </span>
                                                <span class="emojione-1F495" title="1 uses">
                    &#1F495                        </span>
                                                <span class="emojione-1F481" title="1 uses">
                    &#1F481                        </span>
                                                <span class="emojione-1F389" title="1 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F46F" title="1 uses">
                    &#1F46F                        </span>
                                                <span class="emojione-1F61C" title="1 uses">
                    &#1F61C                        </span>
                                                <span class="emojione-1F374" title="1 uses">
                    &#1F374                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@alexsuttonx</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@Reena_Rai</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@PintsnPlates</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@chris_mandle</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@jamieklingler</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@RavPau following ratio is <span class="important">77%</span></h2>
        <p>Based on 862 followers and 661 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @RavPau tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.1%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        151 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.1%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        181 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.4%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        194 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.2%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        182 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.2%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        142 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.6%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        56 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.4%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        94 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.40%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Glastonbury</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#BattleForNumber10</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Clarkson</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Glasto2015</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#journorequest</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">27%</span> of @RavPau's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @RavPau's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/505486016858173440/HW2-q3KW.jpeg" class="profile-image">
                        <h3>Pints and Plates</h3>
                        <p class="username">@PintsnPlates</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/418143852310953984/cZA7Q5cD.jpeg" class="profile-image">
                        <h3>Will Vieri</h3>
                        <p class="username">@VieriTweets</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3630758032/92e698d97f27e14b981109a6218fb023.jpeg" class="profile-image">
                        <h3>Insider Comms</h3>
                        <p class="username">@Weareinsider</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@RavPau's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">150 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Loving this #JeSuisEd trend this morning: http://t.co/Qz9sBvh6KI&mdash; Ravi Pau (@RavPau) <a href="https://twitter.com/RavPau/status/595953442184687616">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Countdown today. #awks http://t.co/rUCf7ysT8j&mdash; Ravi Pau (@RavPau) <a href="https://twitter.com/RavPau/status/628252477675188224">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">21 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Am i the only one wondering how he got a car up there? #dragonsden&mdash; Ravi Pau (@RavPau) <a href="https://twitter.com/RavPau/status/630459257251622913">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">20 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Oh god. This is all building to a third series isn’t it? #BroadchurchFinale #Broadchurch&mdash; Ravi Pau (@RavPau) <a href="https://twitter.com/RavPau/status/569970833654980608">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">19 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.. @alexsuttonx and I have cracked it! #Dermot to Radio 2 Breakfast, which will become vacated by #ChrisEvans going to #TopGear.  Discuss.&mdash; Ravi Pau (@RavPau) <a href="https://twitter.com/RavPau/status/581505681569771520">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/ravpau');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>