<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rigil's (@Rigil) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Rigil's (@Rigil) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Rigil's (@Rigil) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/rigil" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/rigil&source=tweetbutton&text=Rigil%27s+%28%40Rigil%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/rigil" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/23096373/1441870811/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/600666922191982592/0b3ZN6GJ.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Rigil</h1>
        <p class="username">@Rigil</p>
        <p>We analysed 1000 tweets from @Rigil's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F64B" title="13 uses">
                    &#1F64B                        </span>
                                                <span class="emojione-1F389" title="6 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F3B5" title="6 uses">
                    &#1F3B5                        </span>
                                                <span class="emojione-1F60D" title="6 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-2764" title="5 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F364" title="5 uses">
                    &#1F364                        </span>
                                                <span class="emojione-1F429" title="4 uses">
                    &#1F429                        </span>
                                                <span class="emojione-1F331" title="4 uses">
                    &#1F331                        </span>
                                                <span class="emojione-1F388" title="4 uses">
                    &#1F388                        </span>
                                                <span class="emojione-1F4BE" title="3 uses">
                    &#1F4BE                        </span>
                                                <span class="emojione-1F5FF" title="2 uses">
                    &#1F5FF                        </span>
                                                <span class="emojione-1F431" title="2 uses">
                    &#1F431                        </span>
                                                <span class="emojione-1F486" title="2 uses">
                    &#1F486                        </span>
                                                <span class="emojione-1F616" title="2 uses">
                    &#1F616                        </span>
                                                <span class="emojione-1F45C" title="2 uses">
                    &#1F45C                        </span>
                                                <span class="emojione-1F4A4" title="2 uses">
                    &#1F4A4                        </span>
                                                <span class="emojione-1F428" title="1 uses">
                    &#1F428                        </span>
                                                <span class="emojione-1F43C" title="1 uses">
                    &#1F43C                        </span>
                                                <span class="emojione-1F44F" title="1 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F499" title="1 uses">
                    &#1F499                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@anthonysbaxter</span>
                        <span class="count">
                            63                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@YolkTheDog</span>
                        <span class="count">
                            41                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@KBedders</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@bethgordon</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@chiefbrody1984</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Rigil following ratio is <span class="important">51%</span></h2>
        <p>Based on 1855 followers and 943 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Rigil tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:58.7%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        87 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        102 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.3%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        123 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.7%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.8%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        178 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.7%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        187 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.6%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        176 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.60%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Periscope</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#NowPlaying</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#lastfm</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#MIC</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#Bedford</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">10%</span> of @Rigil's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Rigil's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/631894491172048897/ZGJ5lv2R.jpg" class="profile-image">
                        <h3>YolkTheDog</h3>
                        <p class="username">@YolkTheDog</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/643453357479358464/xfiq5IEy.jpg" class="profile-image">
                        <h3>Ed Brody</h3>
                        <p class="username">@chiefbrody1984</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/623786658815717376/tVucIcXO.jpg" class="profile-image">
                        <h3>Anthony Baxter</h3>
                        <p class="username">@anthonysbaxter</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Rigil's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">401 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Purity ring were insane. I liked the indoor firework lights and noises. http://t.co/6io921Ut5e&mdash; Rigil (@Rigil) <a href="https://twitter.com/Rigil/status/593885090440224768">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">75 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I'm going out as Sia's Maddie. http://t.co/DUHTHegL6n&mdash; Rigil (@Rigil) <a href="https://twitter.com/Rigil/status/634813934936195073">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">72 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Who will take this seat and be crowned, The next Stan. http://t.co/PsyRSGLS4T&mdash; Rigil (@Rigil) <a href="https://twitter.com/Rigil/status/640078747140521984">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">63 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">We did it. San Francisco is our crab shack! http://t.co/bcj6pXXAQh&mdash; Rigil (@Rigil) <a href="https://twitter.com/Rigil/status/591671470163558400">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">56 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">YUS! #Pride Unicorn Poo meringues by @Meringue_Girls. Thanks @JustEatMyTweet! http://t.co/A2foXl0rE2&mdash; Rigil (@Rigil) <a href="https://twitter.com/Rigil/status/614384972586188801">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/rigil');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>