<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rafi Jacoby's (@rjacoby) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Rafi Jacoby's (@rjacoby) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Rafi Jacoby's (@rjacoby) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/rjacoby" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/rjacoby&source=tweetbutton&text=Rafi+Jacoby%27s+%28%40rjacoby%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/rjacoby" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/7240112/1398352406/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/2645209037/060631635db569dd9a60a3b3fa5ffe28.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Rafi Jacoby</h1>
        <p class="username">@rjacoby</p>
        <p>We analysed 999 tweets from @rjacoby's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2764" title="3 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F429" title="3 uses">
                    &#1F429                        </span>
                                                <span class="emojione-1F525" title="2 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F601" title="2 uses">
                    &#1F601                        </span>
                                                <span class="emojione-2705" title="2 uses">
                    &#2705                        </span>
                                                <span class="emojione-2B50" title="2 uses">
                    &#2B50                        </span>
                                                <span class="emojione-2122" title="2 uses">
                    &#2122                        </span>
                                                <span class="emojione-1F431" title="2 uses">
                    &#1F431                        </span>
                                                <span class="emojione-1F36A" title="1 uses">
                    &#1F36A                        </span>
                                                <span class="emojione-WHEN" title="1 uses">
                    &#WHEN                        </span>
                                                <span class="emojione-1F640" title="1 uses">
                    &#1F640                        </span>
                                                <span class="emojione-1F42C" title="1 uses">
                    &#1F42C                        </span>
                                                <span class="emojione-1F41F" title="1 uses">
                    &#1F41F                        </span>
                                                <span class="emojione-1F60D" title="1 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F433" title="1 uses">
                    &#1F433                        </span>
                                                <span class="emojione-1F61E" title="1 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-1F612" title="1 uses">
                    &#1F612                        </span>
                                                <span class="emojione-1F4A8" title="1 uses">
                    &#1F4A8                        </span>
                                                <span class="emojione-1F609" title="1 uses">
                    &#1F609                        </span>
                                                <span class="emojione-1F393" title="1 uses">
                    &#1F393                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@McDonalds</span>
                        <span class="count">
                            67                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@midnight</span>
                        <span class="count">
                            46                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@twitterchicago</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@Jones</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@brookerules</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@rjacoby following ratio is <span class="important">135%</span></h2>
        <p>Based on 478 followers and 644 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @rjacoby tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:68.82%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        188 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.01%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        120 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.01%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.82%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        208 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.82%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.32%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        183 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.32%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.52%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.11%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        71 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.11%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.41%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        74 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.41%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#SciFiBands</span>
                        <span class="count">
                            43                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Periscope</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#beyond</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#BEYOND</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SB49</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">40%</span> of @rjacoby's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @rjacoby's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/646293082498015232/fXQadODX.png" class="profile-image">
                        <h3>McDonald's</h3>
                        <p class="username">@McDonalds</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/580808875521273856/FkdkRNTZ.jpg" class="profile-image">
                        <h3>You had one job</h3>
                        <p class="username">@_youhadonejob</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/491307798446092288/dt7Jprqx.jpeg" class="profile-image">
                        <h3>Ross Tucker</h3>
                        <p class="username">@RossTuckerNFL</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@rjacoby's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">64 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">What I've been working on? @McDonalds giving away something for the other ads in #SB49 #LiveStudio @twitterchicago http://t.co/ugHas2TKZ2&mdash; Rafi Jacoby (@rjacoby) <a href="https://twitter.com/rjacoby/status/562037622894104576">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">32 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@MaddowBlog The correct spelling of 'lectern'.&mdash; Rafi Jacoby (@rjacoby) <a href="https://twitter.com/rjacoby/status/644249491936186368">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">31 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Warming up for @fittertwitter #JPMCC with the @twitterchicago crew. http://t.co/ihM9gKD4ll&mdash; Rafi Jacoby (@rjacoby) <a href="https://twitter.com/rjacoby/status/601593838826876928">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">29 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Imitating a lawn flamingo. http://t.co/TAHt3l1KbO&mdash; Rafi Jacoby (@rjacoby) <a href="https://twitter.com/rjacoby/status/628007909117575170">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">28 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Milo: My friends will say who are you? And I'll say "I'm Twitter!"
@twitter @twitterchicago #hatchling http://t.co/5zJlR7KLRk&mdash; Rafi Jacoby (@rjacoby) <a href="https://twitter.com/rjacoby/status/545381062822879232">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/rjacoby');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>