<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roshni Kanabar's (@Roshni) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Roshni Kanabar's (@Roshni) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Roshni Kanabar's (@Roshni) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/roshni" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/roshni&source=tweetbutton&text=Roshni+Kanabar%27s+%28%40Roshni%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/roshni" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/35253380/1397135863/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/527924313744474113/cL0Zp6k-.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Roshni Kanabar</h1>
        <p class="username">@Roshni</p>
        <p>We analysed 1000 tweets from @Roshni's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F604" title="20 uses">
                    &#1F604                        </span>
                                                <span class="emojione-1F389" title="18 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F364" title="13 uses">
                    &#1F364                        </span>
                                                <span class="emojione-2764" title="11 uses">
                    &#2764                        </span>
                                                <span class="emojione-2600" title="10 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F355" title="5 uses">
                    &#1F355                        </span>
                                                <span class="emojione-1F44F" title="3 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F61E" title="3 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-2708" title="2 uses">
                    &#2708                        </span>
                                                <span class="emojione-1F602" title="2 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F378" title="2 uses">
                    &#1F378                        </span>
                                                <span class="emojione-1F35C" title="2 uses">
                    &#1F35C                        </span>
                                                <span class="emojione-1F4A9" title="2 uses">
                    &#1F4A9                        </span>
                                                <span class="emojione-1F373" title="2 uses">
                    &#1F373                        </span>
                                                <span class="emojione-1F36D" title="1 uses">
                    &#1F36D                        </span>
                                                <span class="emojione-2744" title="1 uses">
                    &#2744                        </span>
                                                <span class="emojione-1F379" title="1 uses">
                    &#1F379                        </span>
                                                <span class="emojione-1F60D" title="1 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F648" title="1 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F483" title="1 uses">
                    &#1F483                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@Josephacton</span>
                        <span class="count">
                            88                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@LadyJ</span>
                        <span class="count">
                            79                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@helenium</span>
                        <span class="count">
                            39                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@PinkGoesWink</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@RhiannaBaystead</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Roshni following ratio is <span class="important">125%</span></h2>
        <p>Based on 758 followers and 946 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Roshni tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.5%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.8%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        108 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.5%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.4%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        114 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.9%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        139 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.4%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        154 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.5%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        185 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.50%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#GBBO</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#cpfc</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#IndianSummers</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#CBB</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#Broadchurch</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">32%</span> of @Roshni's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Roshni's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/527924393293676544/CR14BHA7.jpeg" class="profile-image">
                        <h3>Joe Acton</h3>
                        <p class="username">@Josephacton</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/615558459845513216/b5UsgLhc.png" class="profile-image">
                        <h3>BuzzFeed</h3>
                        <p class="username">@BuzzFeed</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/641727861624307712/1AAeaV9y.png" class="profile-image">
                        <h3>BBC One</h3>
                        <p class="username">@BBCOne</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Roshni's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">105 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Happiness with @Josephacton http://t.co/dSg3nyNLHs&mdash; Roshni Kanabar (@Roshni) <a href="https://twitter.com/Roshni/status/541933319886479361">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">44 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Passed my driving test woop!! 🚗&mdash; Roshni Kanabar (@Roshni) <a href="https://twitter.com/Roshni/status/570907955375312896">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">37 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Great night at #furtherfaster @helenium nailed it! http://t.co/zjwlZKLpCm&mdash; Roshni Kanabar (@Roshni) <a href="https://twitter.com/Roshni/status/560945749547290625">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">32 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Napa valley with @KBedders http://t.co/lf0YzcWN0a&mdash; Roshni Kanabar (@Roshni) <a href="https://twitter.com/Roshni/status/627915070844989440">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">29 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Trying out the wedding suit @Josephacton http://t.co/xqjkQD2tgh&mdash; Roshni Kanabar (@Roshni) <a href="https://twitter.com/Roshni/status/549214139944828928">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/roshni');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>