<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sam Summers's (@SammyJSummers) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Sam Summers's (@SammyJSummers) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Sam Summers's (@SammyJSummers) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/sammyjsummers" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/sammyjsummers&source=tweetbutton&text=Sam+Summers%27s+%28%40SammyJSummers%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/sammyjsummers" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/41077475/1441558329/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/645540199783657472/Nfk3mqrl.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Sam Summers</h1>
        <p class="username">@SammyJSummers</p>
        <p>We analysed 999 tweets from @SammyJSummers's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F64C" title="99 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F602" title="94 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F60D" title="84 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F64A" title="83 uses">
                    &#1F64A                        </span>
                                                <span class="emojione-1F378" title="53 uses">
                    &#1F378                        </span>
                                                <span class="emojione-1F495" title="43 uses">
                    &#1F495                        </span>
                                                <span class="emojione-1F618" title="42 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F497" title="36 uses">
                    &#1F497                        </span>
                                                <span class="emojione-2764" title="27 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F377" title="23 uses">
                    &#1F377                        </span>
                                                <span class="emojione-1F60B" title="22 uses">
                    &#1F60B                        </span>
                                                <span class="emojione-1F44C" title="22 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F648" title="21 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F4AA" title="19 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F649" title="13 uses">
                    &#1F649                        </span>
                                                <span class="emojione-1F3B6" title="11 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F637" title="11 uses">
                    &#1F637                        </span>
                                                <span class="emojione-1F48D" title="10 uses">
                    &#1F48D                        </span>
                                                <span class="emojione-1F31F" title="10 uses">
                    &#1F31F                        </span>
                                                <span class="emojione-1F622" title="10 uses">
                    &#1F622                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@didjy2k</span>
                        <span class="count">
                            95                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@laurenwilden</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@AliMathers68</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@SammyJSummers</span>
                        <span class="count">
                            31                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@jbnield</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@SammyJSummers following ratio is <span class="important">69%</span></h2>
        <p>Based on 639 followers and 437 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @SammyJSummers tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.21%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        132 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.21%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.71%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        97 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.71%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.51%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.51%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.61%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        136 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.61%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.22%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        172 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.22%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.51%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.51%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.22%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        172 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.22%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#gloucester</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#Gloucester</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#JuicePlus</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#juiceplus</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#bossbabe</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">39%</span> of @SammyJSummers's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @SammyJSummers's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2689948123/6ffee16f8c24a438eedac169e5ce80f3.jpeg" class="profile-image">
                        <h3>Epic Women</h3>
                        <p class="username">@Epic_Women</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/612966318644568064/kPa2PQ5A.jpg" class="profile-image">
                        <h3>Lauren Wilden</h3>
                        <p class="username">@laurenwilden</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/632867669264474112/ZnsvRx16.jpg" class="profile-image">
                        <h3>danny walker</h3>
                        <p class="username">@didjy2k</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@SammyJSummers's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">88 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">'They wanted to die martyrs... Instead they died as vile, pathetic, murderous scum' #JeSuisCharlie 👏 http://t.co/zg6puLGFhj&mdash; Sam Summers (@SammyJSummers) <a href="https://twitter.com/SammyJSummers/status/553675065225904128">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">54 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#ChedNo people spend years trying to find the most basic of jobs after prison. Why should he go straight back to doing what he loves?!&mdash; Sam Summers (@SammyJSummers) <a href="https://twitter.com/SammyJSummers/status/553682045827047424">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">41 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Whoever is running the @Crowdfire FB page deserves a medal! 🙌🏼 amazing customer service!! The Twitter team could defo learn a thing or two!&mdash; Sam Summers (@SammyJSummers) <a href="https://twitter.com/SammyJSummers/status/590446354687729665">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">32 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I literally had no idea Queen Elizabeth II was a mechanic in the army during WWII 😱 my mind is blown! #bossbabe http://t.co/Wjzh7bX7XP&mdash; Sam Summers (@SammyJSummers) <a href="https://twitter.com/SammyJSummers/status/591654034651623424">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">26 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Well ladies, all the horror stories you hear about smear tests are false. It wasn't painful, it actually tickled at one point 😂&mdash; Sam Summers (@SammyJSummers) <a href="https://twitter.com/SammyJSummers/status/618102345138892800">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/sammyjsummers');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>