<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sam Sally Cha's (@samsal) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Sam Sally Cha's (@samsal) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Sam Sally Cha's (@samsal) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/samsal" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/samsal&source=tweetbutton&text=Sam+Sally+Cha%27s+%28%40samsal%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/samsal" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/16259498/1355372755/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/2982403512/47c7406e93d574f91b40003be677e1c4.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Sam Sally Cha</h1>
        <p class="username">@samsal</p>
        <p>We analysed 278 tweets from @samsal's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2728" title="2 uses">
                    &#2728                        </span>
                                                <span class="emojione-270C" title="1 uses">
                    &#270C                        </span>
                                                <span class="emojione-1F3E8" title="1 uses">
                    &#1F3E8                        </span>
                                                <span class="emojione-2601" title="1 uses">
                    &#2601                        </span>
                                                <span class="emojione-1F3BB" title="1 uses">
                    &#1F3BB                        </span>
                                                <span class="emojione-25FD" title="1 uses">
                    &#25FD                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@iambovine</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@pdglenn</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@keconn</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@bommycha</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@jasminechong</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@samsal following ratio is <span class="important">75%</span></h2>
        <p>Based on 254 followers and 190 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @samsal tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.67%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        38 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.67%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.63%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        49 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.63%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.87%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        33 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.87%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.55%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        46 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.55%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.39%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        40 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.39%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.03%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        39 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.03%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.87%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        33 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.87%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#japandroids</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#clientsfromhell</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#SWSX</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#TeamDenny</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SandyRelief</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">4%</span> of @samsal's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @samsal's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2833981819/3dbbffee1ceef7432f5cb6d23214c4ad.jpeg" class="profile-image">
                        <h3>Hannah Park</h3>
                        <p class="username">@iambovine</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2954374125/0afd5df8dea7c1818da1dcbc438f5a2a.jpeg" class="profile-image">
                        <h3>Modern Seinfeld</h3>
                        <p class="username">@SeinfeldToday</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/460880190487281665/m_tzb4wr.jpeg" class="profile-image">
                        <h3>CREATETHE GROUP</h3>
                        <p class="username">@CREATETHEGROUP</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@samsal's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">6 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Wait. Is this the first year that I don’t have to do a Super Bowl competitive? #byebyeadvertising&mdash; Sam Sally Cha (@samsal) <a href="https://twitter.com/samsal/status/298104421668249600">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">4 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">By the way, I’d always rather have a 81 degrees Christmas in California than a white Christmas anywhere else.&mdash; Sam Sally Cha (@samsal) <a href="https://twitter.com/samsal/status/415930338477477888">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">2 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">You guys, stop sending me emojis of grandmas on my birthday!!&mdash; Sam Sally Cha (@samsal) <a href="https://twitter.com/samsal/status/291930931776876544">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">2 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Lolz at the last Mindy episode. Peter wins. "I got a sex date with a 2, which means she's a Chicago 4, which means she's a Wisconsin 9."&mdash; Sam Sally Cha (@samsal) <a href="https://twitter.com/samsal/status/428929261584392192">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">2 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Operation Zero Dark Dirty Tree&mdash; Sam Sally Cha (@samsal) <a href="https://twitter.com/samsal/status/321746119484928000">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/samsal');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>