<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Samuel Bateman's (@samuelofc) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Samuel Bateman's (@samuelofc) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Samuel Bateman's (@samuelofc) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/samuelofc" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/samuelofc&source=tweetbutton&text=Samuel+Bateman%27s+%28%40samuelofc%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/samuelofc" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/117700355/1436219623/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/622322524597186560/me-SK_er.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Samuel Bateman</h1>
        <p class="username">@samuelofc</p>
        <p>We analysed 998 tweets from @samuelofc's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60D" title="60 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F389" title="45 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F602" title="35 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F525" title="27 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F41D" title="17 uses">
                    &#1F41D                        </span>
                                                <span class="emojione-1F44F" title="14 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F50A" title="10 uses">
                    &#1F50A                        </span>
                                                <span class="emojione-1F62B" title="9 uses">
                    &#1F62B                        </span>
                                                <span class="emojione-1F388" title="9 uses">
                    &#1F388                        </span>
                                                <span class="emojione-2600" title="8 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F637" title="8 uses">
                    &#1F637                        </span>
                                                <span class="emojione-1F629" title="7 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F4A6" title="6 uses">
                    &#1F4A6                        </span>
                                                <span class="emojione-1F6A8" title="6 uses">
                    &#1F6A8                        </span>
                                                <span class="emojione-1F3CA" title="5 uses">
                    &#1F3CA                        </span>
                                                <span class="emojione-1F3C4" title="5 uses">
                    &#1F3C4                        </span>
                                                <span class="emojione-1F37B" title="5 uses">
                    &#1F37B                        </span>
                                                <span class="emojione-1F64C" title="4 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F64F" title="4 uses">
                    &#1F64F                        </span>
                                                <span class="emojione-1F47B" title="3 uses">
                    &#1F47B                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@benjackthomas</span>
                        <span class="count">
                            51                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@stewartrussell</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@SanjM</span>
                        <span class="count">
                            45                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@samuelofc</span>
                        <span class="count">
                            42                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@chivers</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@samuelofc following ratio is <span class="important">48%</span></h2>
        <p>Based on 2081 followers and 996 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @samuelofc tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.53%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.53%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.33%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        173 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.93%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        159 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.93%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.43%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        164 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.43%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.33%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        153 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.42%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        94 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.42%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.02%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        100 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.02%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#PoweredByTweets</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#XboxE3</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#TrackOfTheDay</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#HUNTtheTRUTH</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#CannesLions</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">18%</span> of @samuelofc's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @samuelofc's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/557101821303734273/7WAw0ISe.jpeg" class="profile-image">
                        <h3>Ben Jack Thomas</h3>
                        <p class="username">@benjackthomas</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/640788244825788416/IyWnxqzO.png" class="profile-image">
                        <h3>Xbox UK</h3>
                        <p class="username">@xboxuk</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3535492796/f2671fedf93e7f0c86b4e20b9b791aa1.png" class="profile-image">
                        <h3>Twitter Ads UK</h3>
                        <p class="username">@TwitterAdsUK</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@samuelofc's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">258 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.@DJEZOfficial was seriously incredible @SankeysIbiza last night 😍🔊 http://t.co/G2uMrkXdnU&mdash; Samuel Bateman (@samuelofc) <a href="https://twitter.com/samuelofc/status/629624950110994432">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">101 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Periscope is now available for download. It's amazing, you will LOVE it.

https://t.co/5oPCAGBPhH&mdash; Samuel Bateman (@samuelofc) <a href="https://twitter.com/samuelofc/status/581097364095655937">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">91 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#ProTip: If you're on a Mac, press Ctrl + Cmd + Space and it'll open the Emoji Keyboard. http://t.co/pmORBm0gdm&mdash; Samuel Bateman (@samuelofc) <a href="https://twitter.com/samuelofc/status/592984262233710592">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">81 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#PutOutYourBats still makes the hair stand up on my neck every time I see it. #twitterstories&mdash; Samuel Bateman (@samuelofc) <a href="https://twitter.com/samuelofc/status/580781290699513856">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">38 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The Boiling Room is now open at Twitter UK. All for a good cause. http://t.co/06Wbq7BlM6&mdash; Samuel Bateman (@samuelofc) <a href="https://twitter.com/samuelofc/status/586222564751597571">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/samuelofc');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>