<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarah's (@Sarah_VCPR) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Sarah's (@Sarah_VCPR) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Sarah's (@Sarah_VCPR) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/sarah_vcpr" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/sarah_vcpr&source=tweetbutton&text=Sarah%27s+%28%40Sarah_VCPR%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/sarah_vcpr" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/1965040034/1399025454/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/576324753721438208/Wd29ynpo.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Sarah</h1>
        <p class="username">@Sarah_VCPR</p>
        <p>We analysed 1000 tweets from @Sarah_VCPR's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F377" title="5 uses">
                    &#1F377                        </span>
                                                <span class="emojione-1F483" title="3 uses">
                    &#1F483                        </span>
                                                <span class="emojione-1F4DD" title="1 uses">
                    &#1F4DD                        </span>
                                                <span class="emojione-1F499" title="1 uses">
                    &#1F499                        </span>
                                                <span class="emojione-1F49B" title="1 uses">
                    &#1F49B                        </span>
                                                <span class="emojione-1F4DA" title="1 uses">
                    &#1F4DA                        </span>
                                                <span class="emojione-1F4D6" title="1 uses">
                    &#1F4D6                        </span>
                                                <span class="emojione-1F469" title="1 uses">
                    &#1F469                        </span>
                                                <span class="emojione-1F44F" title="1 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-2764" title="1 uses">
                    &#2764                        </span>
                                                <span class="emojione-2600" title="1 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F44A" title="1 uses">
                    &#1F44A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@vouchercodespro</span>
                        <span class="count">
                            154                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@marksandspencer</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@VCP_Adam</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@ThomsonHolidays</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@VCP_Tracy</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Sarah_VCPR follows back <span class="important">272%</span> of users.</h2>
        <p>Based on 251 followers and 681 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Sarah_VCPR tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        144 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        112 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.9%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        199 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.3%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        173 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.6%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        166 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.60%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.4%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        114 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.2%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        92 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.20%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#fashion</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#love</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#summer</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#frugalfeb</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#shopping</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">40%</span> of @Sarah_VCPR's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Sarah_VCPR's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/527827918504751105/Fp6nPqHd.jpeg" class="profile-image">
                        <h3>vouchercodespro</h3>
                        <p class="username">@vouchercodespro</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/462166302782533632/hHA60Twf.png" class="profile-image">
                        <h3>Tracy </h3>
                        <p class="username">@VCP_Tracy</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/570618500176031744/AokSoJpj.png" class="profile-image">
                        <h3>Abbie Clark</h3>
                        <p class="username">@VCP_Abbie</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Sarah_VCPR's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">27 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">We have a visitor in the @vouchercodespro office today!! #puppyparty #love @VCP_Joe is v happy http://t.co/IRRLX4FjJg&mdash; Sarah (@Sarah_VCPR) <a href="https://twitter.com/Sarah_VCPR/status/632144806442045440">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">16 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Why is drinking 7 glasses of water a day such a challenge when I can quite happily do the same with wine in one night?&mdash; Sarah (@Sarah_VCPR) <a href="https://twitter.com/Sarah_VCPR/status/633357823364214784">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">15 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Stuck for something to watch this evening? Take our Sky Christmas movie quiz! http://t.co/nX3Iv4oZJx http://t.co/er0QZJ6CVW&mdash; Sarah (@Sarah_VCPR) <a href="https://twitter.com/Sarah_VCPR/status/547414791242153984">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">15 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">RT @vouchercodespro: The greatest meme to come out of Eastenders' live show last night #WhoKilledLucy http://t.co/k1lfQ3p37f&mdash; Sarah (@Sarah_VCPR) <a href="https://twitter.com/Sarah_VCPR/status/568717760743780352">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">12 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Get your Xmas movies sorted with Sky who are offering 6 Months half price original bundle &amp; Movies with £100 voucher! http://t.co/eB91iEtqbB&mdash; Sarah (@Sarah_VCPR) <a href="https://twitter.com/Sarah_VCPR/status/538293936436297728">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/sarah_vcpr');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>