<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarah Kemmett's (@sarahk0905) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Sarah Kemmett's (@sarahk0905) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Sarah Kemmett's (@sarahk0905) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/sarahk0905" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/sarahk0905&source=tweetbutton&text=Sarah+Kemmett%27s+%28%40sarahk0905%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/sarahk0905" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/116207940/1380402053/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/1136450182/Sarah.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Sarah Kemmett</h1>
        <p class="username">@sarahk0905</p>
        <p>We analysed 1000 tweets from @sarahk0905's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F384" title="320 uses">
                    &#1F384                        </span>
                                                <span class="emojione-1F385" title="269 uses">
                    &#1F385                        </span>
                                                <span class="emojione-1F31F" title="152 uses">
                    &#1F31F                        </span>
                                                <span class="emojione-1F381" title="92 uses">
                    &#1F381                        </span>
                                                <span class="emojione-1F60A" title="75 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F495" title="71 uses">
                    &#1F495                        </span>
                                                <span class="emojione-1F44D" title="44 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F514" title="44 uses">
                    &#1F514                        </span>
                                                <span class="emojione-26C4" title="43 uses">
                    &#26C4                        </span>
                                                <span class="emojione-1F60D" title="39 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F389" title="30 uses">
                    &#1F389                        </span>
                                                <span class="emojione-2600" title="24 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F49D" title="19 uses">
                    &#1F49D                        </span>
                                                <span class="emojione-1F374" title="17 uses">
                    &#1F374                        </span>
                                                <span class="emojione-1F49C" title="12 uses">
                    &#1F49C                        </span>
                                                <span class="emojione-1F606" title="12 uses">
                    &#1F606                        </span>
                                                <span class="emojione-1F4A4" title="11 uses">
                    &#1F4A4                        </span>
                                                <span class="emojione-1F379" title="10 uses">
                    &#1F379                        </span>
                                                <span class="emojione-1F496" title="9 uses">
                    &#1F496                        </span>
                                                <span class="emojione-1F525" title="9 uses">
                    &#1F525                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@Glawstowin</span>
                        <span class="count">
                            484                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@gloucesterrugby</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@afoodfestival</span>
                        <span class="count">
                            42                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@miss_ellen_d</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@RufusCarter</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@sarahk0905 following ratio is <span class="important">239%</span></h2>
        <p>Based on 429 followers and 1025 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @sarahk0905 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:58.9%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        89 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.1%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.9%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        129 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        125 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.5%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:72.9%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        229 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.2%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        152 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.20%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#rugbyunited</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#RWC2015</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#escapetofrance</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#shirelife</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#CHRISTMAS</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">41%</span> of @sarahk0905's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @sarahk0905's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/641671963052797952/CojpN08z.jpg" class="profile-image">
                        <h3>Trevor</h3>
                        <p class="username">@Glawstowin</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/626692874231521280/-Ks0Vedj.jpg" class="profile-image">
                        <h3>Gloucester Rugby</h3>
                        <p class="username">@gloucesterrugby</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/639911104970391552/7vjbrRpV.jpg" class="profile-image">
                        <h3>#rugbyunited®</h3>
                        <p class="username">@rugbyunited</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@sarahk0905's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">105 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Kingsholm is looking great in the run-up to #RWC2015 - very exciting!! @Glawstowin @gloucesterrugby http://t.co/Ym0gGamLUW&mdash; Sarah Kemmett (@sarahk0905) <a href="https://twitter.com/sarahk0905/status/644195042261901312">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">99 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#WearTheRose #carrythemhome @canterburyNZ @EnglandRugby #rugbyunited http://t.co/B21RhCOzGn&mdash; Sarah Kemmett (@sarahk0905) <a href="https://twitter.com/sarahk0905/status/579328504996724737">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">57 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@trevorlarge and @RugbyWal #rugbyunited #WalesvNZ http://t.co/1d9LdY1lmy&mdash; Sarah Kemmett (@sarahk0905) <a href="https://twitter.com/sarahk0905/status/536143286566932480">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">54 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@trevorlarge and @RugbyEng showing their good sides #rugbyunited http://t.co/mLJiWdPIWV&mdash; Sarah Kemmett (@sarahk0905) <a href="https://twitter.com/sarahk0905/status/533317931787370496">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">37 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Congratulations to @gloucesterrugby and to Jonny May on your 50th club try 🎉🎉🎉 http://t.co/KAX4s0n9h3&mdash; Sarah Kemmett (@sarahk0905) <a href="https://twitter.com/sarahk0905/status/602520029272403971">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/sarahk0905');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>