<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selin's (@selinc__) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Selin's (@selinc__) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Selin's (@selinc__) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/selinc__" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/selinc__&source=tweetbutton&text=Selin%27s+%28%40selinc__%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/selinc__" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/365350106/1442221189/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/643506044791037952/x_1vLHbW.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Selin</h1>
        <p class="username">@selinc__</p>
        <p>We analysed 998 tweets from @selinc__'s account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F46F" title="10 uses">
                    &#1F46F                        </span>
                                                <span class="emojione-2764" title="8 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F35D" title="8 uses">
                    &#1F35D                        </span>
                                                <span class="emojione-1F33D" title="8 uses">
                    &#1F33D                        </span>
                                                <span class="emojione-1F379" title="7 uses">
                    &#1F379                        </span>
                                                <span class="emojione-1F355" title="7 uses">
                    &#1F355                        </span>
                                                <span class="emojione-1F483" title="7 uses">
                    &#1F483                        </span>
                                                <span class="emojione-1F629" title="6 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F497" title="6 uses">
                    &#1F497                        </span>
                                                <span class="emojione-1F648" title="6 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F64A" title="5 uses">
                    &#1F64A                        </span>
                                                <span class="emojione-1F62D" title="5 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F48A" title="5 uses">
                    &#1F48A                        </span>
                                                <span class="emojione-1F468" title="5 uses">
                    &#1F468                        </span>
                                                <span class="emojione-2614" title="4 uses">
                    &#2614                        </span>
                                                <span class="emojione-1F35F" title="4 uses">
                    &#1F35F                        </span>
                                                <span class="emojione-1F60A" title="4 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F4C7" title="4 uses">
                    &#1F4C7                        </span>
                                                <span class="emojione-2600" title="4 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F354" title="4 uses">
                    &#1F354                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@lucyparts</span>
                        <span class="count">
                            48                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@CallumCollie</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@beckycoyne</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@ASOS_HeretoHelp</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@natalie_jane</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@selinc__ following ratio is <span class="important">85%</span></h2>
        <p>Based on 593 followers and 501 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @selinc__ tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.64%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        176 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.64%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.33%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        153 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.73%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.73%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.23%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        132 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.23%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.63%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        146 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.63%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.52%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        105 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.93%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        139 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.93%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#lbloggers</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#UKStorm2013</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#GE2015</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#tubestrike</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SkinnyBirdWatching</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">21%</span> of @selinc__'s tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @selinc__'s tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2996456104/b707959f192bba5c31c07058f91a183b.png" class="profile-image">
                        <h3>VeryBritishProblems</h3>
                        <p class="username">@SoVeryBritish</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/625663507015598080/94jo0131.jpg" class="profile-image">
                        <h3>ASOS</h3>
                        <p class="username">@ASOS</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/644176920049905664/N-PDtJ58.jpg" class="profile-image">
                        <h3>Stylist Magazine</h3>
                        <p class="username">@StylistMagazine</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@selinc__'s most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">800 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Think we don't need feminism? Take a look at #grabbed via @EverydaySexism.&mdash; Selin (@selinc__) <a href="https://twitter.com/selinc__/status/464445320869711873">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">142 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">No, I still don't support #nomakeupselfies in aid of cancer - and here's why: http://t.co/rP7JdUNjdO #lbloggers&mdash; Selin (@selinc__) <a href="https://twitter.com/selinc__/status/447867300767862784">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">116 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Sometimes in life, you've just got to stop and ask yourself: "What would Jennifer Lawrence do?"&mdash; Selin (@selinc__) <a href="https://twitter.com/selinc__/status/431920676002201600">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">112 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Why are there so many bodycon party dresses around? Some of us are planning on having festive food babies and cannot wear such nonsense.&mdash; Selin (@selinc__) <a href="https://twitter.com/selinc__/status/407196552768532481">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">59 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">'Journalism is printing what someone else does not want printed: everything else is public relations.' - George Orwell #JeSuisCharlie&mdash; Selin (@selinc__) <a href="https://twitter.com/selinc__/status/552855313268105218">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/selinc__');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>