<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shannon Peerless's (@ShazzaYeti) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Shannon Peerless's (@ShazzaYeti) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Shannon Peerless's (@ShazzaYeti) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/shazzayeti" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/shazzayeti&source=tweetbutton&text=Shannon+Peerless%27s+%28%40ShazzaYeti%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/shazzayeti" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/46072535/1401264293/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/523121432918634496/ToS_v249.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Shannon Peerless</h1>
        <p class="username">@ShazzaYeti</p>
        <p>We analysed 999 tweets from @ShazzaYeti's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60A" title="7 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F60D" title="5 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F389" title="2 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F604" title="1 uses">
                    &#1F604                        </span>
                                                <span class="emojione-2600" title="1 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F44D" title="1 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F603" title="1 uses">
                    &#1F603                        </span>
                                                <span class="emojione-1F388" title="1 uses">
                    &#1F388                        </span>
                                                <span class="emojione-1F49C" title="1 uses">
                    &#1F49C                        </span>
                                                <span class="emojione-1F602" title="1 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F349" title="1 uses">
                    &#1F349                        </span>
                                                <span class="emojione-1F37A" title="1 uses">
                    &#1F37A                        </span>
                                                <span class="emojione-2615" title="1 uses">
                    &#2615                        </span>
                                                <span class="emojione-1F3C0" title="1 uses">
                    &#1F3C0                        </span>
                                                <span class="emojione-1F48B" title="1 uses">
                    &#1F48B                        </span>
                                                <span class="emojione-1F370" title="1 uses">
                    &#1F370                        </span>
                                                <span class="emojione-1F431" title="1 uses">
                    &#1F431                        </span>
                                                <span class="emojione-1F46B" title="1 uses">
                    &#1F46B                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@10Yetis</span>
                        <span class="count">
                            149                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@laurenwilden</span>
                        <span class="count">
                            56                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@emmalouisekent</span>
                        <span class="count">
                            42                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@ionastjoseph</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@CharMerryfield</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@ShazzaYeti follows back <span class="important">126%</span> of users.</h2>
        <p>Based on 1168 followers and 1464 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @ShazzaYeti tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.02%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        150 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.02%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.32%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        163 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.32%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.52%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        205 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.22%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        202 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.22%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.92%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        189 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.92%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:53.8%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        38 tweets
                    </div>
                </div>
                <div class="percentage">
                    3.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.21%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        52 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.21%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#PR</span>
                        <span class="count">
                            55                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#glosbiz</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#kitten</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#instacat</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#cat</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">25%</span> of @ShazzaYeti's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @ShazzaYeti's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/572842107908288512/Xs5uH-o_.jpeg" class="profile-image">
                        <h3>Andy Barr</h3>
                        <p class="username">@10Yetis</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/580382511823478784/dZnf-xBM.jpg" class="profile-image">
                        <h3>Rich Leigh</h3>
                        <p class="username">@RichLeighPR</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2640452991/f4d59707133ccbd6dd2607454f843be1.png" class="profile-image">
                        <h3>SoGlos</h3>
                        <p class="username">@soglos</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@ShazzaYeti's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">260 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I climbed inside a very small grit box, all in the name of a winter warmers money saving video http://t.co/k8lIsD05 via @MyVoucherCodes&mdash; Shannon Peerless (@ShazzaYeti) <a href="https://twitter.com/ShazzaYeti/status/275913863176802304">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">65 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">24 Things A PR Person Will Instantly Relate To - Written by me on BuzzFeed Community http://t.co/OQiCYpjnoE&mdash; Shannon Peerless (@ShazzaYeti) <a href="https://twitter.com/ShazzaYeti/status/445533428188848128">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">63 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I won!!!!!!!!!!! #GlosBizAwards http://t.co/iNGXqFFR5p&mdash; Shannon Peerless (@ShazzaYeti) <a href="https://twitter.com/ShazzaYeti/status/517788191513149440">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">45 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Has The Sun online confused a smirking Rio Ferdinand with a "knife maniac"? http://t.co/X4poIhPtoi&mdash; Shannon Peerless (@ShazzaYeti) <a href="https://twitter.com/ShazzaYeti/status/362105473190752256">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">35 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Anyone know a Gloucester venue that'd be good for an engagement party? Ideally that does DJ and buffet as part of package. Please RT.&mdash; Shannon Peerless (@ShazzaYeti) <a href="https://twitter.com/ShazzaYeti/status/357494047499239426">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/shazzayeti');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>