<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omar Catalan's (@Shoemakerlevi) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Omar Catalan's (@Shoemakerlevi) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Omar Catalan's (@Shoemakerlevi) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/shoemakerlevi" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/shoemakerlevi&source=tweetbutton&text=Omar+Catalan%27s+%28%40Shoemakerlevi%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/shoemakerlevi" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/136496646/1439437859/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/631632671697858560/YjHXKgwW.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Omar Catalan</h1>
        <p class="username">@Shoemakerlevi</p>
        <p>We analysed 998 tweets from @Shoemakerlevi's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="24 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F62D" title="9 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F605" title="4 uses">
                    &#1F605                        </span>
                                                <span class="emojione-1F511" title="4 uses">
                    &#1F511                        </span>
                                                <span class="emojione-1F44C" title="3 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F604" title="3 uses">
                    &#1F604                        </span>
                                                <span class="emojione-1F635" title="3 uses">
                    &#1F635                        </span>
                                                <span class="emojione-1F60D" title="3 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F631" title="3 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F512" title="2 uses">
                    &#1F512                        </span>
                                                <span class="emojione-1F60C" title="2 uses">
                    &#1F60C                        </span>
                                                <span class="emojione-1F510" title="2 uses">
                    &#1F510                        </span>
                                                <span class="emojione-2708" title="2 uses">
                    &#2708                        </span>
                                                <span class="emojione-1F606" title="2 uses">
                    &#1F606                        </span>
                                                <span class="emojione-1F628" title="2 uses">
                    &#1F628                        </span>
                                                <span class="emojione-A9" title="1 uses">
                    &#A9                        </span>
                                                <span class="emojione-1F197" title="1 uses">
                    &#1F197                        </span>
                                                <span class="emojione-2139" title="1 uses">
                    &#2139                        </span>
                                                <span class="emojione-1F6AB" title="1 uses">
                    &#1F6AB                        </span>
                                                <span class="emojione-PAD" title="1 uses">
                    &#PAD                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@_youhadonejob</span>
                        <span class="count">
                            59                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@antijokeapple</span>
                        <span class="count">
                            52                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@MKBHD</span>
                        <span class="count">
                            34                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@samsheffer</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@tymoss</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Shoemakerlevi following ratio is <span class="important">50%</span></h2>
        <p>Based on 461 followers and 230 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Shoemakerlevi tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.13%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        171 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.13%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.23%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        152 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.23%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:77.96%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        279 tweets
                    </div>
                </div>
                <div class="percentage">
                    27.96%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.53%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        125 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.53%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.22%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        82 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.22%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.72%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        97 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.72%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.22%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        92 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.22%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#GrowingUpMexican</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#AppleEvent</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Tesla</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#WWDC15</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#NoEraPenal</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">12%</span> of @Shoemakerlevi's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Shoemakerlevi's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/580808875521273856/FkdkRNTZ.jpg" class="profile-image">
                        <h3>You had one job</h3>
                        <p class="username">@_youhadonejob</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/564965361825505280/ir5T57EE.jpeg" class="profile-image">
                        <h3>anti joke apple</h3>
                        <p class="username">@antijokeapple</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/633982449857331202/TB_VHVCR.png" class="profile-image">
                        <h3>Marques Brownlee</h3>
                        <p class="username">@MKBHD</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Shoemakerlevi's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">41 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Tipico @GanqueGaming asustado http://t.co/2MT3Wv93YO&mdash; Omar Catalan (@Shoemakerlevi) <a href="https://twitter.com/Shoemakerlevi/status/619716779493822464">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">40 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@GanqueGaming 777 http://t.co/3rcsUg5QqN&mdash; Omar Catalan (@Shoemakerlevi) <a href="https://twitter.com/Shoemakerlevi/status/624405166716907520">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@icloudmexico Telcel en Puebla (Internet Ilimitado) ( ͡° ͜ʖ ͡°) http://t.co/3hHCYM6z3O&mdash; Omar Catalan (@Shoemakerlevi) <a href="https://twitter.com/Shoemakerlevi/status/633746157924028418">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">4 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@ForbesTech Agar.io!!!&mdash; Omar Catalan (@Shoemakerlevi) <a href="https://twitter.com/Shoemakerlevi/status/633143440318926848">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">4 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@elijahsblog @tymoss the most acurate one 👌🏼&mdash; Omar Catalan (@Shoemakerlevi) <a href="https://twitter.com/Shoemakerlevi/status/616468178529456128">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/shoemakerlevi');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>