<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sam Hutchings's (@Smutchings) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Sam Hutchings's (@Smutchings) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Sam Hutchings's (@Smutchings) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/smutchings" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/smutchings&source=tweetbutton&text=Sam+Hutchings%27s+%28%40Smutchings%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/smutchings" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14501084/1427561493/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/581861186418921472/1_61fHi1.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Sam Hutchings</h1>
        <p class="username">@Smutchings</p>
        <p>We analysed 1000 tweets from @Smutchings's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F601" title="10 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F609" title="8 uses">
                    &#1F609                        </span>
                                                <span class="emojione-1F4AA" title="4 uses">
                    &#1F4AA                        </span>
                                                <span class="emojione-1F61D" title="3 uses">
                    &#1F61D                        </span>
                                                <span class="emojione-1F468" title="2 uses">
                    &#1F468                        </span>
                                                <span class="emojione-1F614" title="2 uses">
                    &#1F614                        </span>
                                                <span class="emojione-1F618" title="2 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F64C" title="2 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F602" title="2 uses">
                    &#1F602                        </span>
                                                <span class="emojione-2764" title="2 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F622" title="2 uses">
                    &#1F622                        </span>
                                                <span class="emojione-1F4B5" title="1 uses">
                    &#1F4B5                        </span>
                                                <span class="emojione-1F635" title="1 uses">
                    &#1F635                        </span>
                                                <span class="emojione-1F375" title="1 uses">
                    &#1F375                        </span>
                                                <span class="emojione-1F4A9" title="1 uses">
                    &#1F4A9                        </span>
                                                <span class="emojione-1F60F" title="1 uses">
                    &#1F60F                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F423" title="1 uses">
                    &#1F423                        </span>
                                                <span class="emojione-1F357" title="1 uses">
                    &#1F357                        </span>
                                                <span class="emojione-1F631" title="1 uses">
                    &#1F631                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@manuelspaan</span>
                        <span class="count">
                            78                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@gvssr</span>
                        <span class="count">
                            76                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@zcichy</span>
                        <span class="count">
                            66                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@OhMDee</span>
                        <span class="count">
                            61                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@HarshilShah1910</span>
                        <span class="count">
                            56                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Smutchings following ratio is <span class="important">8%</span></h2>
        <p>Based on 1092 followers and 83 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Smutchings tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:66.7%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        167 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        162 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.5%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.8%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        148 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.5%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        145 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        110 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.3%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        113 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.30%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#iOS9</span>
                        <span class="count">
                            3                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#a11y</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#AppleEvent</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#CorporateSurveillance</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#Stress</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">3%</span> of @Smutchings's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Smutchings's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/433476281980571648/GedUrUcy.jpeg" class="profile-image">
                        <h3>Dan</h3>
                        <p class="username">@OhMDee</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/545652091776008192/7YwlPB_k.jpeg" class="profile-image">
                        <h3>Manuel Spaan</h3>
                        <p class="username">@manuelspaan</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/642745743250472960/d-u_dFqd.jpg" class="profile-image">
                        <h3>Denys Zhadanov</h3>
                        <p class="username">@DenZhadanov</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Smutchings's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">61 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">A content blocker being the #1 paid app on the App Store shows one thing: People are willing to pay to not be sold.&mdash; Sam Hutchings (@Smutchings) <a href="https://twitter.com/Smutchings/status/644493343272103937">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">35 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">iOS 9 is just two weeks away. Are you and your App Store descriptions ready?

If not, read my top tips post: http://t.co/DGruLBP86Q&mdash; Sam Hutchings (@Smutchings) <a href="https://twitter.com/Smutchings/status/639011720418226176">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">29 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Have you thought about what a style guide could bring to your writing &amp; business?

First in a short series of posts: http://t.co/ji43e2sykw&mdash; Sam Hutchings (@Smutchings) <a href="https://twitter.com/Smutchings/status/636535315457552384">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">14 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">First thing you want to do after accepting a LinkedIn invite? See their profile.

Last thing LinkedIn will let you do? See their profile.&mdash; Sam Hutchings (@Smutchings) <a href="https://twitter.com/Smutchings/status/636276764453548032">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">14 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Some countries are using Ashley Madison leak data to arrest people - mainly homosexual people.

But giving out all your data is safe, right?&mdash; Sam Hutchings (@Smutchings) <a href="https://twitter.com/Smutchings/status/635411617979727872">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/smutchings');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>