<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex Pollock's (@socialPolly) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Alex Pollock's (@socialPolly) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Alex Pollock's (@socialPolly) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/socialpolly" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/socialpolly&source=tweetbutton&text=Alex+Pollock%27s+%28%40socialPolly%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/socialpolly" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/19704260/1419859310/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/594911627243323392/CzegbPJl.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Alex Pollock</h1>
        <p class="username">@socialPolly</p>
        <p>We analysed 999 tweets from @socialPolly's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F44C" title="15 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F44A" title="9 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F602" title="7 uses">
                    &#1F602                        </span>
                                                <span class="emojione-2611" title="4 uses">
                    &#2611                        </span>
                                                <span class="emojione-2708" title="4 uses">
                    &#2708                        </span>
                                                <span class="emojione-1F44D" title="3 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F1FA1F1F8" title="2 uses">
                    &#1F1FA1F1F8                        </span>
                                                <span class="emojione-1F481" title="2 uses">
                    &#1F481                        </span>
                                                <span class="emojione-1F632" title="2 uses">
                    &#1F632                        </span>
                                                <span class="emojione-1F64C" title="2 uses">
                    &#1F64C                        </span>
                                                <span class="emojione-1F1EC1F1E7" title="2 uses">
                    &#1F1EC1F1E7                        </span>
                                                <span class="emojione-263A" title="2 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F625" title="2 uses">
                    &#1F625                        </span>
                                                <span class="emojione-1F41F" title="2 uses">
                    &#1F41F                        </span>
                                                <span class="emojione-2615" title="2 uses">
                    &#2615                        </span>
                                                <span class="emojione-1F427" title="1 uses">
                    &#1F427                        </span>
                                                <span class="emojione-2693" title="1 uses">
                    &#2693                        </span>
                                                <span class="emojione-1F1EA1F1F8" title="1 uses">
                    &#1F1EA1F1F8                        </span>
                                                <span class="emojione-1F498" title="1 uses">
                    &#1F498                        </span>
                                                <span class="emojione-2728" title="1 uses">
                    &#2728                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@GenuineGrabe</span>
                        <span class="count">
                            34                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@KLM_UK</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@secret_escapes</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@British_Airways</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@ThreeUKSupport</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@socialPolly following ratio is <span class="important">9%</span></h2>
        <p>Based on 9223 followers and 753 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @socialPolly tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.21%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        132 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.21%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:75.33%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        253 tweets
                    </div>
                </div>
                <div class="percentage">
                    25.33%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.71%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        117 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.71%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:72.52%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        225 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.52%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.11%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.11%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.41%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        54 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.41%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.71%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        87 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.71%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#ttot</span>
                        <span class="count">
                            57                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#TTOT</span>
                        <span class="count">
                            49                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#KLMToAlberta</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Dubai</span>
                        <span class="count">
                            33                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#luxtravelchat</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">41%</span> of @socialPolly's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @socialPolly's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/643403647636869121/lOmiizQV.png" class="profile-image">
                        <h3>innocent drinks</h3>
                        <p class="username">@innocent</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3461603777/e2907c0596bb1d9c0d84bd0ba8c5e2b6.jpeg" class="profile-image">
                        <h3>Fairford Town FC</h3>
                        <p class="username">@FairfordTownFC</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/615249865115877376/-1WHbWHq.jpg" class="profile-image">
                        <h3>Chris Kent</h3>
                        <p class="username">@Kentworthy</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@socialPolly's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">145 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">11% of #dragonsden tweets tonight have mentioned X Factor or Britain's Got Talent.&mdash; Alex Pollock (@socialPolly) <a href="https://twitter.com/socialPolly/status/620324255117508608">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">59 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I don't think I could be a teacher. Another group of professionals we massively take for granted in the UK these days. #EducatingCardiff&mdash; Alex Pollock (@socialPolly) <a href="https://twitter.com/socialPolly/status/636279317589311488">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">47 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Struggling with your writing/grammar/creativity? Check @ProductHunt's Tools for Writers http://t.co/WnwWFBI376 #CMGR #socialmedia #ttot&mdash; Alex Pollock (@socialPolly) <a href="https://twitter.com/socialPolly/status/618395601848414208">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">44 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If you struggle with basic maths and basic business, DO NOT go on #DragonsDen.
We learnt this in Series 1.&mdash; Alex Pollock (@socialPolly) <a href="https://twitter.com/socialPolly/status/620317140676157440">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">24 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">All information on our challenge can be found on the flyer! @TheThreePeaks @SavetheChildren http://t.co/MHNuqPUogb&mdash; Alex Pollock (@socialPolly) <a href="https://twitter.com/socialPolly/status/618727189190692864">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/socialpolly');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>