<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SoGlos's (@soglos) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="SoGlos's (@soglos) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="SoGlos's (@soglos) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/soglos" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/soglos&source=tweetbutton&text=SoGlos%27s+%28%40soglos%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/soglos" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/21425712/1413883249/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/2640452991/f4d59707133ccbd6dd2607454f843be1.png" alt="" class="profile-image">
        <h1 class="typl8-beta">SoGlos</h1>
        <p class="username">@soglos</p>
        <p>We analysed 1000 tweets from @soglos's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F389" title="1 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F370" title="1 uses">
                    &#1F370                        </span>
                                                <span class="emojione-1F60D" title="1 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F3CA" title="1 uses">
                    &#1F3CA                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@soglos</span>
                        <span class="count">
                            73                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@gloucesterrugby</span>
                        <span class="count">
                            50                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@Everymanchelt</span>
                        <span class="count">
                            39                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@GlosGuildhall</span>
                        <span class="count">
                            37                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@lidocheltenham</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@soglos following ratio is <span class="important">6%</span></h2>
        <p>Based on 17400 followers and 976 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @soglos tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:72.5%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        225 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:71.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        212 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        100 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.1%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        141 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.8%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        198 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        71 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.3%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        53 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.30%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#Gloucestershire</span>
                        <span class="count">
                            106                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#glospotd</span>
                        <span class="count">
                            96                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Gloucester</span>
                        <span class="count">
                            95                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Cheltenham</span>
                        <span class="count">
                            94                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#RWC2015</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">62%</span> of @soglos's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @soglos's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/756222850/g.jpg" class="profile-image">
                        <h3>Gloucester Guildhall</h3>
                        <p class="username">@GlosGuildhall</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/3379154961/b9feb5b68101b9bf837f7de9fdde1363.jpeg" class="profile-image">
                        <h3>Jason I J Smith</h3>
                        <p class="username">@JasonIJSmith</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/626692874231521280/-Ks0Vedj.jpg" class="profile-image">
                        <h3>Gloucester Rugby</h3>
                        <p class="username">@gloucesterrugby</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@soglos's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">159 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Gloucester Docks at night is just magical. No wonder it is used as a film location so often. #gloucester #glospotd http://t.co/2L9yWAeLED&mdash; SoGlos (@soglos) <a href="https://twitter.com/soglos/status/630854898662404096">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">96 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#Cheltenham's parks are blooming marvellous in the summer. #glospotd https://t.co/4UkGFqNtq1 http://t.co/9LXei458oE&mdash; SoGlos (@soglos) <a href="https://twitter.com/soglos/status/618524403152875521">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">87 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#Gloucester History festival kicks off today, with 100s of events scheduled across the city. http://t.co/va5kVr4LDY http://t.co/uBfVthQpgr&mdash; SoGlos (@soglos) <a href="https://twitter.com/soglos/status/640073271107538944">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">87 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Admiring the eclectic and affordable work at #Cheltenham Art in the Park. Plenty of buying going on. #glospotd http://t.co/1CD1QFD2B9&mdash; SoGlos (@soglos) <a href="https://twitter.com/soglos/status/615166808983773184">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">85 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Happy #NationalCreamTeaDay! Here's a host of delicious spots to indulge in #Gloucestershire. http://t.co/hJoIy6iBno http://t.co/DNABWyUzUY&mdash; SoGlos (@soglos) <a href="https://twitter.com/soglos/status/614346722538561536">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/soglos');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>