<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TammyLynn Kwan's (@TammyLynn_17) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="TammyLynn Kwan's (@TammyLynn_17) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="TammyLynn Kwan's (@TammyLynn_17) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/tammylynn_17" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/tammylynn_17&source=tweetbutton&text=TammyLynn+Kwan%27s+%28%40TammyLynn_17%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/tammylynn_17" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/20599282/1398247737/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/617818124226818048/9cA_t7cX.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">TammyLynn Kwan</h1>
        <p class="username">@TammyLynn_17</p>
        <p>We analysed 1000 tweets from @TammyLynn_17's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@Stroud_Fringe</span>
                        <span class="count">
                            140                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@MartinKPearson</span>
                        <span class="count">
                            62                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@TammyLynn_17</span>
                        <span class="count">
                            42                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@stroudbn</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@BBCGlos</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@TammyLynn_17 following ratio is <span class="important">100%</span></h2>
        <p>Based on 2629 followers and 2623 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @TammyLynn_17 tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.2%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        132 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.3%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        153 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:75.7%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        257 tweets
                    </div>
                </div>
                <div class="percentage">
                    25.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.3%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        143 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.7%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        97 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        111 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:60.7%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        107 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.70%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#CotswoldsHour</span>
                        <span class="count">
                            60                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#GlosHour</span>
                        <span class="count">
                            43                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#StroudFringe</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#GlosBiz</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#Stroud</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">37%</span> of @TammyLynn_17's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @TammyLynn_17's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/479183238343045120/NyqkQkZ1.png" class="profile-image">
                        <h3>Stroud Fringe 2015</h3>
                        <p class="username">@Stroud_Fringe</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/504264331479896064/rU5UQntk.jpeg" class="profile-image">
                        <h3>Stroud Businesswomen</h3>
                        <p class="username">@stroudbn</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2475556906/qw69fggw5f4qxix47hig.jpeg" class="profile-image">
                        <h3>PeterKVT80</h3>
                        <p class="username">@PeterKVT80</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@TammyLynn_17's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">85 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I'm so sorry, I couldn't resist this #pigture. #hameron #piggate "He put what where?!!" http://t.co/NI07a03gKu&mdash; TammyLynn Kwan (@TammyLynn_17) <a href="https://twitter.com/TammyLynn_17/status/645864638282887168">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">67 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">What an amazing fun &amp; moving speaker @MrJamieMcDonald is for the @SuperheroFdn. We @stroudbn thank you! http://t.co/o4gaZQo5k6&mdash; TammyLynn Kwan (@TammyLynn_17) <a href="https://twitter.com/TammyLynn_17/status/614035422361059328">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">66 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Loving the @BigRedBusBar &amp; @Jazz__Mino at the @Stroud_Fringe Canal stage. #StroudFringe http://t.co/CyYZF8Vuec&mdash; TammyLynn Kwan (@TammyLynn_17) <a href="https://twitter.com/TammyLynn_17/status/637356523602231297">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">62 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.@BBCGlos #Farmers should be paid a decent price for #Milk. Either we as consumers pay now or farmers stop providing milk &amp; prices skyrocket&mdash; TammyLynn Kwan (@TammyLynn_17) <a href="https://twitter.com/TammyLynn_17/status/630648504604602368">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">56 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Who's this tasting the new @StroudBrewery @Stroud_Fringe Beer? ;-) @benfalconer #CotswoldsHour http://t.co/nk7KXgJqQc&mdash; TammyLynn Kwan (@TammyLynn_17) <a href="https://twitter.com/TammyLynn_17/status/634090716000600064">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/tammylynn_17');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>