<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mark Carroll's (@themarkcarroll) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Mark Carroll's (@themarkcarroll) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Mark Carroll's (@themarkcarroll) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/themarkcarroll" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/themarkcarroll&source=tweetbutton&text=Mark+Carroll%27s+%28%40themarkcarroll%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/themarkcarroll" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/20685688/1395442969/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/2898994542/36a59c2a635beee2b6efeed7543b356c.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Mark Carroll</h1>
        <p class="username">@themarkcarroll</p>
        <p>We analysed 1000 tweets from @themarkcarroll's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F44D" title="73 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F44C" title="18 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F4B0" title="18 uses">
                    &#1F4B0                        </span>
                                                <span class="emojione-1F697" title="15 uses">
                    &#1F697                        </span>
                                                <span class="emojione-1F699" title="11 uses">
                    &#1F699                        </span>
                                                <span class="emojione-1F37B" title="11 uses">
                    &#1F37B                        </span>
                                                <span class="emojione-1F633" title="11 uses">
                    &#1F633                        </span>
                                                <span class="emojione-1F44F" title="8 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F695" title="7 uses">
                    &#1F695                        </span>
                                                <span class="emojione-1F432" title="6 uses">
                    &#1F432                        </span>
                                                <span class="emojione-1F631" title="6 uses">
                    &#1F631                        </span>
                                                <span class="emojione-1F4B3" title="6 uses">
                    &#1F4B3                        </span>
                                                <span class="emojione-1F60D" title="6 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F614" title="6 uses">
                    &#1F614                        </span>
                                                <span class="emojione-1F4B8" title="6 uses">
                    &#1F4B8                        </span>
                                                <span class="emojione-1F4AF" title="5 uses">
                    &#1F4AF                        </span>
                                                <span class="emojione-2611" title="5 uses">
                    &#2611                        </span>
                                                <span class="emojione-1F61E" title="5 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-1F37A" title="4 uses">
                    &#1F37A                        </span>
                                                <span class="emojione-1F601" title="4 uses">
                    &#1F601                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@AlexWillimott</span>
                        <span class="count">
                            46                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@iamjohngreen</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@imjustmike</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@themarkcarroll</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@pedalandpeaks</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@themarkcarroll following ratio is <span class="important">94%</span></h2>
        <p>Based on 1016 followers and 948 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @themarkcarroll tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        154 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.2%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        142 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.5%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        155 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.4%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        134 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:62.2%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        122 tweets
                    </div>
                </div>
                <div class="percentage">
                    12.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.3%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        163 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        130 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.00%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#WordWatching</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#PoweredByTweets</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#poweredbytweets</span>
                        <span class="count">
                            6                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#EveryDayThings</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#PanelPicker</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">13%</span> of @themarkcarroll's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @themarkcarroll's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/510419767770238977/8wN_QDHb.jpeg" class="profile-image">
                        <h3>John Green</h3>
                        <p class="username">@iamjohngreen</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/553591576945885186/gtGVMAV8.jpeg" class="profile-image">
                        <h3>H+K Strategies UK</h3>
                        <p class="username">@HK_London</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/443752682369478657/p1Ank-Cj.jpeg" class="profile-image">
                        <h3>James Whatley</h3>
                        <p class="username">@Whatleydude</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@themarkcarroll's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">98 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Got a walking trip in the Peak District later this year, seems like a sensible option http://t.co/6czbKp3ux2 http://t.co/KbVSJwT5dc&mdash; Mark Carroll (@themarkcarroll) <a href="https://twitter.com/themarkcarroll/status/587694590393630720">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">48 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">What's the future of influencer marketing? #advertising #bloggers http://t.co/g9TucUMq8Y by @imjustmike (I was not paid to tweet this)&mdash; Mark Carroll (@themarkcarroll) <a href="https://twitter.com/themarkcarroll/status/593400012907880448">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">36 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Second place for #WORDWATCHING coming to a London Design Festival near you! 😝 👌🏻👍🏻 #poweredbytweets http://t.co/1vcRgZK3Ng&mdash; Mark Carroll (@themarkcarroll) <a href="https://twitter.com/themarkcarroll/status/615956364825899008">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">31 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">In 1975, this Kodak employee invented the digital camera. His bosses made him hide it  http://t.co/DjVwuLVFSy http://t.co/FBkwWBxx13&mdash; Mark Carroll (@themarkcarroll) <a href="https://twitter.com/themarkcarroll/status/635930205689892865">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Aerial Summer Symmetry Photography http://t.co/qWcoHMqt49 lovely 😍 http://t.co/lxLkRqPeMv&mdash; Mark Carroll (@themarkcarroll) <a href="https://twitter.com/themarkcarroll/status/635555630304989184">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/themarkcarroll');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>