<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tim Horwood's (@timhorwood) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Tim Horwood's (@timhorwood) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Tim Horwood's (@timhorwood) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/timhorwood" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/timhorwood&source=tweetbutton&text=Tim+Horwood%27s+%28%40timhorwood%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/timhorwood" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/257586100/1348523464/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/618387886317137920/bnep_dGv.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Tim Horwood</h1>
        <p class="username">@timhorwood</p>
        <p>We analysed 420 tweets from @timhorwood's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@samdbeckham</span>
                        <span class="count">
                            90                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@markhankins1982</span>
                        <span class="count">
                            69                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@spoiltbyjenni</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@tombpevans</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@booduu</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@timhorwood following ratio is <span class="important">465%</span></h2>
        <p>Based on 97 followers and 451 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @timhorwood tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.86%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        75 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.86%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.62%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        74 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.62%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.76%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        62 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.76%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.86%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        75 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.86%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.38%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        73 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.38%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.1%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        34 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.43%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        27 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.43%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#HA2014</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#toystory</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#gta</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#COYS</span>
                        <span class="count">
                            2                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#PFA</span>
                        <span class="count">
                            1                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">10%</span> of @timhorwood's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @timhorwood's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/628581334362005506/LPXthglL.png" class="profile-image">
                        <h3>Paddy Power</h3>
                        <p class="username">@paddypower</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2787458135/889540a40debce92b4c8015c4d7767a2.jpeg" class="profile-image">
                        <h3>Bob Ross</h3>
                        <p class="username">@BobRoss</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/551454671236497408/adafif5a.jpeg" class="profile-image">
                        <h3>TheSPORTbible</h3>
                        <p class="username">@TSBible</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@timhorwood's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">7 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">One of the coolest agency sites I have seen http://t.co/mVjthXpy68&mdash; Tim Horwood (@timhorwood) <a href="https://twitter.com/timhorwood/status/364707559149543424">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">5 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@samdbeckham that youmightnotneedjquery reminded me of this, http://t.co/CfVR78IjgB&mdash; Tim Horwood (@timhorwood) <a href="https://twitter.com/timhorwood/status/429193637646184449">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">5 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">amazing http://t.co/j3gFENIQX0&mdash; Tim Horwood (@timhorwood) <a href="https://twitter.com/timhorwood/status/347989012620931074">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">5 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">“@Sineadey: I've managed to get through 22 years without watching home alone.” How??&mdash; Tim Horwood (@timhorwood) <a href="https://twitter.com/timhorwood/status/270244257145688065">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">5 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Ignition Festival - Newcastle Racecourse, Gosforth Park 6th - 7th August 2011 http://t.co/yfM1OE3 via @IgnitionFest&mdash; Tim Horwood (@timhorwood) <a href="https://twitter.com/timhorwood/status/79549072268197888">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/timhorwood');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>