<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tommy's (@TommyMWillis) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Tommy's (@TommyMWillis) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Tommy's (@TommyMWillis) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/tommymwillis" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/tommymwillis&source=tweetbutton&text=Tommy%27s+%28%40TommyMWillis%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/tommymwillis" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/20946432/1431350158/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/644584466690777088/jaihNcAd.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Tommy</h1>
        <p class="username">@TommyMWillis</p>
        <p>We analysed 1000 tweets from @TommyMWillis's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-26BD" title="8 uses">
                    &#26BD                        </span>
                                                <span class="emojione-1F601" title="4 uses">
                    &#1F601                        </span>
                                                <span class="emojione-1F602" title="3 uses">
                    &#1F602                        </span>
                                                <span class="emojione-2764" title="3 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F603" title="3 uses">
                    &#1F603                        </span>
                                                <span class="emojione-1F44F" title="3 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F60D" title="2 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F62D" title="2 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F44C" title="2 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F44D" title="2 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-2708" title="2 uses">
                    &#2708                        </span>
                                                <span class="emojione-1F633" title="1 uses">
                    &#1F633                        </span>
                                                <span class="emojione-1F4B0" title="1 uses">
                    &#1F4B0                        </span>
                                                <span class="emojione-1F3B2" title="1 uses">
                    &#1F3B2                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F385" title="1 uses">
                    &#1F385                        </span>
                                                <span class="emojione-1F440" title="1 uses">
                    &#1F440                        </span>
                                                <span class="emojione-1F47B" title="1 uses">
                    &#1F47B                        </span>
                                                <span class="emojione-263A" title="1 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F4AA" title="1 uses">
                    &#1F4AA                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@samyiannis</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@Arsenal</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@GuinnessGB</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@SheaWarnes</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@paddypower</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@TommyMWillis following ratio is <span class="important">163%</span></h2>
        <p>Based on 729 followers and 1184 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @TommyMWillis tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:65.2%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        152 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.8%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        148 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.4%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        154 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.8%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        158 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:61.9%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        119 tweets
                    </div>
                </div>
                <div class="percentage">
                    11.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.4%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        134 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:63.5%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        135 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.50%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#sxsw</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#SXSW</span>
                        <span class="count">
                            23                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#afc</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#AFC</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#FurtherFaster</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">50%</span> of @TommyMWillis's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @TommyMWillis's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/378800000640607416/b16137c8686cef76570a5dc302a5ee4b.jpeg" class="profile-image">
                        <h3>Guinness GB</h3>
                        <p class="username">@GuinnessGB</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/532478312791040000/VZVhvMh2.png" class="profile-image">
                        <h3>Arsenal FC</h3>
                        <p class="username">@Arsenal</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/628581334362005506/LPXthglL.png" class="profile-image">
                        <h3>Paddy Power</h3>
                        <p class="username">@paddypower</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@TommyMWillis's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">209 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">600 people ready to quit the city and become farmers in the Lake District thanks to @herdyshepherd1 #TwitterStories&mdash; Tommy (@TommyMWillis) <a href="https://twitter.com/TommyMWillis/status/580775655652085760">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">167 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Launch buzz for Sainsbury's 2014 Christmas advert! #ChristmasIsForSharing https://t.co/ZhfX5O815Q&mdash; Tommy (@TommyMWillis) <a href="https://twitter.com/TommyMWillis/status/532620742916317184">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">64 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Here are some #Wimbledon stars with their tennis rackets photoshopped out for no reason at all... http://t.co/cIzOPgmTRH&mdash; Tommy (@TommyMWillis) <a href="https://twitter.com/TommyMWillis/status/618799406054289408">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">51 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Sainsbury's #ChristmasIsForSharing is number 1 trend in the UK! http://t.co/MC25tSrkZn&mdash; Tommy (@TommyMWillis) <a href="https://twitter.com/TommyMWillis/status/532623175767826433">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">40 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Almost 2.5m YouTube views for Sainsbury's #ChristmasIsForSharing advert in 24 hours. A masterpiece. Proud @AMV_BBDO https://t.co/4AxwGdoqwL&mdash; Tommy (@TommyMWillis) <a href="https://twitter.com/TommyMWillis/status/533015467829760000">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/tommymwillis');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>