<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tom Snee's (@TomSnee) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Tom Snee's (@TomSnee) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Tom Snee's (@TomSnee) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/tomsnee" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/tomsnee&source=tweetbutton&text=Tom+Snee%27s+%28%40TomSnee%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/tomsnee" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/99161360/1442150431/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/643051628535394304/vO27NZh3.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Tom Snee</h1>
        <p class="username">@TomSnee</p>
        <p>We analysed 1000 tweets from @TomSnee's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F44D" title="22 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F648" title="17 uses">
                    &#1F648                        </span>
                                                <span class="emojione-1F3C8" title="8 uses">
                    &#1F3C8                        </span>
                                                <span class="emojione-2764" title="6 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F44F" title="4 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F61E" title="3 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-1F609" title="2 uses">
                    &#1F609                        </span>
                                                <span class="emojione-26BD" title="2 uses">
                    &#26BD                        </span>
                                                <span class="emojione-1F4B2" title="1 uses">
                    &#1F4B2                        </span>
                                                <span class="emojione-1F606" title="1 uses">
                    &#1F606                        </span>
                                                <span class="emojione-1F483" title="1 uses">
                    &#1F483                        </span>
                                                <span class="emojione-BEFORE" title="1 uses">
                    &#BEFORE                        </span>
                                                <span class="emojione-1F62D" title="1 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F382" title="1 uses">
                    &#1F382                        </span>
                                                <span class="emojione-1F602" title="1 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F37B" title="1 uses">
                    &#1F37B                        </span>
                                                <span class="emojione-1F494" title="1 uses">
                    &#1F494                        </span>
                                                <span class="emojione-1F440" title="1 uses">
                    &#1F440                        </span>
                                                <span class="emojione-1F60D" title="1 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F633" title="1 uses">
                    &#1F633                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@GrahamSmyth</span>
                        <span class="count">
                            48                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@GainsTrinityFC</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@TheBenShepherd</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@TomSnee</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@LewisCox_star</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@TomSnee following ratio is <span class="important">24%</span></h2>
        <p>Based on 2563 followers and 605 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @TomSnee tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:60.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        104 tweets
                    </div>
                </div>
                <div class="percentage">
                    10.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        160 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.8%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        188 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.8%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        158 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.1%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        161 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.4%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        164 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.5%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        65 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.50%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#nffc</span>
                        <span class="count">
                            41                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#EvoStikNPL</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Ashes</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#NFL</span>
                        <span class="count">
                            11                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#NFFC</span>
                        <span class="count">
                            10                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">30%</span> of @TomSnee's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @TomSnee's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/601040163297452033/DPX3FDxQ.jpg" class="profile-image">
                        <h3>Marshalls CC</h3>
                        <p class="username">@MarshallsCC</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/378800000244667269/5da0205f170b88ca9db86c8eb644cf27.jpeg" class="profile-image">
                        <h3>Graham Smyth</h3>
                        <p class="username">@GrahamSmyth</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/597690130590076928/Cxg-EYVf.jpg" class="profile-image">
                        <h3>Mark Duffy</h3>
                        <p class="username">@DuffersSport</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@TomSnee's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">84 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Most surprising part of Stereo Kicks breaking up? That they were still together. They're no @OTYOfficial... #xfactor&mdash; Tom Snee (@TomSnee) <a href="https://twitter.com/TomSnee/status/622329730809917440">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">72 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Michael Chopra joining Alloa is something you'd see on a lengthy Football Manager save, like Abel Xavier managing Stocksbridge Park Steels.&mdash; Tom Snee (@TomSnee) <a href="https://twitter.com/TomSnee/status/577880910797910016">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">48 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">😮 Trinity release Mike Emery two days before first game of the season. Very harsh on a player that has been incredibly loyal #thankyoumike&mdash; Tom Snee (@TomSnee) <a href="https://twitter.com/TomSnee/status/629399715243692032">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">38 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Is my iPhone 5 going to keel over if I install #iOS9? Battery life currently very unpredictable, phone often ends up hotter than the sun.&mdash; Tom Snee (@TomSnee) <a href="https://twitter.com/TomSnee/status/644275272288706561">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">36 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Lee Hendrie is running the London Marathon supporting @CureLeukaemia, inspired by his good mate @StanPetrov19. A worthy cause indeed.&mdash; Tom Snee (@TomSnee) <a href="https://twitter.com/TomSnee/status/584288912010567680">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/tomsnee');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>