<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tim Maytom's (@trivia_lad) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Tim Maytom's (@trivia_lad) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Tim Maytom's (@trivia_lad) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/trivia_lad" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/trivia_lad&source=tweetbutton&text=Tim+Maytom%27s+%28%40trivia_lad%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/trivia_lad" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/22347131/1398895162/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/528548953449435136/XlDXTq5F.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Tim Maytom</h1>
        <p class="username">@trivia_lad</p>
        <p>We analysed 1000 tweets from @trivia_lad's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                    </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@AdlaiM</span>
                        <span class="count">
                            58                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@tambourine</span>
                        <span class="count">
                            42                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@AlexJaySpencer</span>
                        <span class="count">
                            40                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@meckett</span>
                        <span class="count">
                            35                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@frazbelina</span>
                        <span class="count">
                            35                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@trivia_lad following ratio is <span class="important">168%</span></h2>
        <p>Based on 298 followers and 498 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @trivia_lad tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:71.4%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        214 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.3%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        163 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.2%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        182 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.4%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        144 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.9%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        149 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.4%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        64 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:58.4%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        84 tweets
                    </div>
                </div>
                <div class="percentage">
                    8.40%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#GBBO</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#musicmonday</span>
                        <span class="count">
                            20                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#SummerSlam</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#lastfm</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#SuperBowlXLIX</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">13%</span> of @trivia_lad's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @trivia_lad's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/605416624674373633/O11iO7oy.jpg" class="profile-image">
                        <h3>SecuriTay</h3>
                        <p class="username">@SwiftOnSecurity</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/2229163569/Me_500kb.jpg" class="profile-image">
                        <h3>Alex Spencer</h3>
                        <p class="username">@AlexJaySpencer</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/635488250547802112/-OE0mUMT.jpg" class="profile-image">
                        <h3>Gary Whitta</h3>
                        <p class="username">@garywhitta</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@trivia_lad's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">175 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">In non-pig news, DWP ruled directly responsible for man's suicide following 'fit for work' ruling http://t.co/oAodB1U66Q&mdash; Tim Maytom (@trivia_lad) <a href="https://twitter.com/trivia_lad/status/645924052880728064">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">26 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">*sound of Millennials coldly laughing at stock market tumble because we never had any money to start with*&mdash; Tim Maytom (@trivia_lad) <a href="https://twitter.com/trivia_lad/status/635816396203687936">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">18 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Tyger, tyger, burning bright,
In the forests of the night, 
If my train rolls off the track, 
Pick it up, pick it up, pick it up LET'S GO&mdash; Tim Maytom (@trivia_lad) <a href="https://twitter.com/trivia_lad/status/629331902562963456">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">15 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I'm trying to put on a screening of DOPE at @CinemaCityNrw - please spread the word (and buy tickets, natch) https://t.co/9G1zRGNBzl&mdash; Tim Maytom (@trivia_lad) <a href="https://twitter.com/trivia_lad/status/638657309057662976">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">13 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Groove is in the heart, the kidneys, and now it's spreading to the liver. At this stage, there's very little left we can do for him.&mdash; Tim Maytom (@trivia_lad) <a href="https://twitter.com/trivia_lad/status/606760634768887808">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/trivia_lad');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>