<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASocialMediaAgency's (@TweetsFromASMA) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="ASocialMediaAgency's (@TweetsFromASMA) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="ASocialMediaAgency's (@TweetsFromASMA) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/tweetsfromasma" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/tweetsfromasma&source=tweetbutton&text=ASocialMediaAgency%27s+%28%40TweetsFromASMA%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/tweetsfromasma" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/1307983776/1370524104/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/3438686026/12d0f974b09b4666b2f074ce9f1cc7b1.png" alt="" class="profile-image">
        <h1 class="typl8-beta">ASocialMediaAgency</h1>
        <p class="username">@TweetsFromASMA</p>
        <p>We analysed 1000 tweets from @TweetsFromASMA's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2122" title="2 uses">
                    &#2122                        </span>
                                                <span class="emojione-AE" title="2 uses">
                    &#AE                        </span>
                                                <span class="emojione-1F37B" title="2 uses">
                    &#1F37B                        </span>
                                                <span class="emojione-VIA" title="1 uses">
                    &#VIA                        </span>
                                                <span class="emojione-1F621" title="1 uses">
                    &#1F621                        </span>
                                                <span class="emojione-1F609" title="1 uses">
                    &#1F609                        </span>
                                                <span class="emojione-1F37A" title="1 uses">
                    &#1F37A                        </span>
                                                <span class="emojione-STAT" title="1 uses">
                    &#STAT                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@10Yetis</span>
                        <span class="count">
                            31                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@TheDrum</span>
                        <span class="count">
                            30                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@ionastjoseph</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@mashable</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@TweetsFromASMA</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@TweetsFromASMA following ratio is <span class="important">203%</span></h2>
        <p>Based on 355 followers and 718 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @TweetsFromASMA tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.5%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        175 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:72.9%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        229 tweets
                    </div>
                </div>
                <div class="percentage">
                    22.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.3%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        203 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.4%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        204 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.1%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        181 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50.2%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        2 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.20%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50.6%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        6 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.60%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#socialmedia</span>
                        <span class="count">
                            72                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#SocialMedia</span>
                        <span class="count">
                            29                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#news</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#Facebook</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#content</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">34%</span> of @TweetsFromASMA's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @TweetsFromASMA's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/572842107908288512/Xs5uH-o_.jpeg" class="profile-image">
                        <h3>Andy Barr</h3>
                        <p class="username">@10Yetis</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/558554839106342913/7cibqGV8.jpeg" class="profile-image">
                        <h3>The Drum</h3>
                        <p class="username">@TheDrum</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/611518230331527168/2zCLxWaJ.jpg" class="profile-image">
                        <h3>Iona St. Joseph</h3>
                        <p class="username">@ionastjoseph</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@TweetsFromASMA's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">48 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If @carlsberg did men's toiletries, oh wait... http://t.co/V74dM5VIz4 #beauty #beer http://t.co/mNbZMFWCnT&mdash; ASocialMediaAgency (@TweetsFromASMA) <a href="https://twitter.com/TweetsFromASMA/status/614359835384147968">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">44 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Better #content means better #business! #socialmedia http://t.co/BgkhZlLZwK&mdash; ASocialMediaAgency (@TweetsFromASMA) <a href="https://twitter.com/TweetsFromASMA/status/603154250580041729">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">35 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">In response to a man saying WeBuyAnyCar wouldn't buy his toy car, they've launched http://t.co/no3D59d5dA. Brilliant (via @catherineelaine)&mdash; ASocialMediaAgency (@TweetsFromASMA) <a href="https://twitter.com/TweetsFromASMA/status/384981737589075971">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">32 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">We're going to buy our #Valentine Wham!'s entire back catalogue. 

Stuck for gift ideas? This has all the answers.

http://t.co/PdZJ5ncQge&mdash; ASocialMediaAgency (@TweetsFromASMA) <a href="https://twitter.com/TweetsFromASMA/status/433206657058111488">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">30 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Here are today's Likes and Fails
Selfies galore, Prince Andrew and James Franco feature. 

http://t.co/IEX1AbpNbY http://t.co/9d7RPqnHOY&mdash; ASocialMediaAgency (@TweetsFromASMA) <a href="https://twitter.com/TweetsFromASMA/status/451691719260532737">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/tweetsfromasma');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>