<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rebecca Pelan's (@VCP_Rebecca) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Rebecca Pelan's (@VCP_Rebecca) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Rebecca Pelan's (@VCP_Rebecca) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/vcp_rebecca" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/vcp_rebecca&source=tweetbutton&text=Rebecca+Pelan%27s+%28%40VCP_Rebecca%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/vcp_rebecca" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/2653917762/1424786271/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/570223854081945600/Xy5CpCVZ.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Rebecca Pelan</h1>
        <p class="username">@VCP_Rebecca</p>
        <p>We analysed 444 tweets from @VCP_Rebecca's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F377" title="5 uses">
                    &#1F377                        </span>
                                                <span class="emojione-1F44F" title="2 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F621" title="1 uses">
                    &#1F621                        </span>
                                                <span class="emojione-1F631" title="1 uses">
                    &#1F631                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@vouchercodespro</span>
                        <span class="count">
                            93                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@vcp_vicky</span>
                        <span class="count">
                            26                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@VCP_Tracy</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@VCP_Abbie</span>
                        <span class="count">
                            17                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@VCP_Joe</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@VCP_Rebecca follows back <span class="important">91%</span> of users.</h2>
        <p>Based on 1479 followers and 1332 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @VCP_Rebecca tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:67.57%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        78 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.57%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.69%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        83 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.69%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:77.48%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        122 tweets
                    </div>
                </div>
                <div class="percentage">
                    27.48%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        91 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:65.54%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        69 tweets
                    </div>
                </div>
                <div class="percentage">
                    15.54%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        0 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:50.23%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        1 tweets
                    </div>
                </div>
                <div class="percentage">
                    0.23%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#bbloggers</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#fbloggers</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#Christmas</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#vouchercodes</span>
                        <span class="count">
                            7                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#summer</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">62%</span> of @VCP_Rebecca's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @VCP_Rebecca's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/527827918504751105/Fp6nPqHd.jpeg" class="profile-image">
                        <h3>vouchercodespro</h3>
                        <p class="username">@vouchercodespro</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/463691221647372288/m-UOlRQ-.png" class="profile-image">
                        <h3>Victoria </h3>
                        <p class="username">@vcp_vicky</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/462166302782533632/hHA60Twf.png" class="profile-image">
                        <h3>Tracy </h3>
                        <p class="username">@VCP_Tracy</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@VCP_Rebecca's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">104 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#RelationshipGoalsIn3Words 
Carl and Ellie http://t.co/UCiwaT7p5i&mdash; Rebecca Pelan (@VCP_Rebecca) <a href="https://twitter.com/VCP_Rebecca/status/636490001224757248">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">39 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Thanks to all the great foodies involved @emily_etc @laura_howtocook @CarlyRowena @HungryLittleOne to name a few. https://t.co/CHojJvVHUP&mdash; Rebecca Pelan (@VCP_Rebecca) <a href="https://twitter.com/VCP_Rebecca/status/614024938509500416">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">36 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Did anybody else think this was the greatest thing to ever happen in school? #ThrowbackThursday @scholasticuk http://t.co/dsuuZT4DVa&mdash; Rebecca Pelan (@VCP_Rebecca) <a href="https://twitter.com/VCP_Rebecca/status/573516941542948864">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">29 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The ULTIMATE beauty A to Z. Featuring some awesome #bbloggers @OisforOttilie @becstwrt @katiesimmons1 @Beautybykaris http://t.co/o1T51QjUqa&mdash; Rebecca Pelan (@VCP_Rebecca) <a href="https://twitter.com/VCP_Rebecca/status/608226322964430848">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">25 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">No more room on my shelves so having to get even more inventive with my book storage #bookwormproblems #WorldBookDay http://t.co/J8zlhd7HqD&mdash; Rebecca Pelan (@VCP_Rebecca) <a href="https://twitter.com/VCP_Rebecca/status/573491592889286656">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/vcp_rebecca');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>