<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abbie Clark's (@VCP_Abbie) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Abbie Clark's (@VCP_Abbie) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Abbie Clark's (@VCP_Abbie) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/vcp_abbie" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/vcp_abbie&source=tweetbutton&text=Abbie+Clark%27s+%28%40VCP_Abbie%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/vcp_abbie" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/2410869750/1399023873/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/570618500176031744/AokSoJpj.png" alt="" class="profile-image">
        <h1 class="typl8-beta">Abbie Clark</h1>
        <p class="username">@VCP_Abbie</p>
        <p>We analysed 998 tweets from @VCP_Abbie's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60D" title="5 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F64A" title="3 uses">
                    &#1F64A                        </span>
                                                <span class="emojione-1F481" title="2 uses">
                    &#1F481                        </span>
                                                <span class="emojione-1F602" title="2 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F604" title="2 uses">
                    &#1F604                        </span>
                                                <span class="emojione-2615" title="2 uses">
                    &#2615                        </span>
                                                <span class="emojione-1F44F" title="2 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-1F440" title="1 uses">
                    &#1F440                        </span>
                                                <span class="emojione-1F389" title="1 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F383" title="1 uses">
                    &#1F383                        </span>
                                                <span class="emojione-1F603" title="1 uses">
                    &#1F603                        </span>
                                                <span class="emojione-1F47B" title="1 uses">
                    &#1F47B                        </span>
                                                <span class="emojione-1F381" title="1 uses">
                    &#1F381                        </span>
                                                <span class="emojione-2600" title="1 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F30A" title="1 uses">
                    &#1F30A                        </span>
                                                <span class="emojione-1F334" title="1 uses">
                    &#1F334                        </span>
                                                <span class="emojione-1F629" title="1 uses">
                    &#1F629                        </span>
                                                <span class="emojione-1F44D" title="1 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-263A" title="1 uses">
                    &#263A                        </span>
                                                <span class="emojione-1F459" title="1 uses">
                    &#1F459                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@vouchercodespro</span>
                        <span class="count">
                            112                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@VCP_Joe</span>
                        <span class="count">
                            51                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@marksandspencer</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@RedLetterDaysUK</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Debenhams</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@VCP_Abbie follows back <span class="important">93%</span> of users.</h2>
        <p>Based on 2389 followers and 2203 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @VCP_Abbie tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.53%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        135 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.53%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.04%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        180 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.04%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:74.05%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        240 tweets
                    </div>
                </div>
                <div class="percentage">
                    24.05%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.83%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        168 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.83%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.73%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.73%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.71%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        67 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.71%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.11%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        61 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.11%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#exclusive</span>
                        <span class="count">
                            65                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#bbloggers</span>
                        <span class="count">
                            50                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#RT</span>
                        <span class="count">
                            47                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#fbloggers</span>
                        <span class="count">
                            45                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#giftideas</span>
                        <span class="count">
                            44                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">67%</span> of @VCP_Abbie's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @VCP_Abbie's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/527827918504751105/Fp6nPqHd.jpeg" class="profile-image">
                        <h3>vouchercodespro</h3>
                        <p class="username">@vouchercodespro</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/601734761183367168/KCZVUcEA.png" class="profile-image">
                        <h3>Joe Griffiths</h3>
                        <p class="username">@VCP_Joe</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/462166302782533632/hHA60Twf.png" class="profile-image">
                        <h3>Tracy </h3>
                        <p class="username">@VCP_Tracy</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@VCP_Abbie's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">31 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Good news #bbloggers our A-Z #beauty glossary is here with plenty of tips &amp; products for you http://t.co/Yw3pl12IsD http://t.co/XOfkukMlhT&mdash; Abbie Clark (@VCP_Abbie) <a href="https://twitter.com/VCP_Abbie/status/601044879309930496">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">27 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Beauty starts from within, but makeup sure helps! Get 20% off @Beauty_Experts http://t.co/p1QD5yAhrS #bbloggers http://t.co/6Hu3et47Y2&mdash; Abbie Clark (@VCP_Abbie) <a href="https://twitter.com/VCP_Abbie/status/612198637662273536">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">23 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Mother's Day is approaching so get 15% off a bouquet of flowers @Debenhams http://t.co/9dvZJvZ32V #exclusive http://t.co/HntLGfqxZP&mdash; Abbie Clark (@VCP_Abbie) <a href="https://twitter.com/VCP_Abbie/status/569849907626020864">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">22 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">There's still time to get this gorgeous outfit from @NewLookFashion and get a juicy 25% off http://t.co/uBcyJm427P http://t.co/LB5sU1yZzk&mdash; Abbie Clark (@VCP_Abbie) <a href="https://twitter.com/VCP_Abbie/status/612681860536209408">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">22 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">100 #giftideas for a #wedding that will have the newlyweds saying "I do" http://t.co/XRT80AA9aQ  #weddingtips http://t.co/VH98ZxjtRk&mdash; Abbie Clark (@VCP_Abbie) <a href="https://twitter.com/VCP_Abbie/status/514427413754036224">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/vcp_abbie');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>