<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vikki Chowney's (@vikkichowney) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Vikki Chowney's (@vikkichowney) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Vikki Chowney's (@vikkichowney) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/vikkichowney" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/vikkichowney&source=tweetbutton&text=Vikki+Chowney%27s+%28%40vikkichowney%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/vikkichowney" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/14778455/1428491652/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/531181882113679361/TMc3-t0-.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Vikki Chowney</h1>
        <p class="username">@vikkichowney</p>
        <p>We analysed 1000 tweets from @vikkichowney's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F60D" title="18 uses">
                    &#1F60D                        </span>
                                                <span class="emojione-1F389" title="11 uses">
                    &#1F389                        </span>
                                                <span class="emojione-1F609" title="9 uses">
                    &#1F609                        </span>
                                                <span class="emojione-1F44D" title="9 uses">
                    &#1F44D                        </span>
                                                <span class="emojione-1F44C" title="7 uses">
                    &#1F44C                        </span>
                                                <span class="emojione-1F44A" title="7 uses">
                    &#1F44A                        </span>
                                                <span class="emojione-1F60A" title="6 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F382" title="5 uses">
                    &#1F382                        </span>
                                                <span class="emojione-2600" title="5 uses">
                    &#2600                        </span>
                                                <span class="emojione-1F613" title="4 uses">
                    &#1F613                        </span>
                                                <span class="emojione-26F5" title="4 uses">
                    &#26F5                        </span>
                                                <span class="emojione-1F525" title="3 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F3BE" title="3 uses">
                    &#1F3BE                        </span>
                                                <span class="emojione-1F497" title="3 uses">
                    &#1F497                        </span>
                                                <span class="emojione-1F603" title="3 uses">
                    &#1F603                        </span>
                                                <span class="emojione-1F36A" title="3 uses">
                    &#1F36A                        </span>
                                                <span class="emojione-1F469" title="2 uses">
                    &#1F469                        </span>
                                                <span class="emojione-1F64A" title="2 uses">
                    &#1F64A                        </span>
                                                <span class="emojione-1F47B" title="2 uses">
                    &#1F47B                        </span>
                                                <span class="emojione-1F44F" title="2 uses">
                    &#1F44F                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@HK_London</span>
                        <span class="count">
                            46                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@Boudiccafoods</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@missparsnip</span>
                        <span class="count">
                            21                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@vikkichowney</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Creative_Uncle</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@vikkichowney following ratio is <span class="important">14%</span></h2>
        <p>Based on 11749 followers and 1617 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @vikkichowney tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.1%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        131 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.10%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:70.3%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        203 tweets
                    </div>
                </div>
                <div class="percentage">
                    20.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.7%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        177 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.7%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        197 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:66.8%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        168 tweets
                    </div>
                </div>
                <div class="percentage">
                    16.80%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:55.3%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        53 tweets
                    </div>
                </div>
                <div class="percentage">
                    5.30%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.1%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        71 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.10%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#CannesLions</span>
                        <span class="count">
                            27                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#HereLondon</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#hksxsw</span>
                        <span class="count">
                            18                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#madtech</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#hkRoadtoRio</span>
                        <span class="count">
                            13                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">32%</span> of @vikkichowney's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @vikkichowney's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/609706767296110593/y3zE_JHK.jpg" class="profile-image">
                        <h3>Boudicca Foods</h3>
                        <p class="username">@Boudiccafoods</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/553591576945885186/gtGVMAV8.jpeg" class="profile-image">
                        <h3>H+K Strategies UK</h3>
                        <p class="username">@HK_London</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/605658778747473921/sldCUma5.png" class="profile-image">
                        <h3>Russell Goldsmith</h3>
                        <p class="username">@RussGoldsmith</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@vikkichowney's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">92 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Brain fuel from @jimmyicedcoffee #NOM @ The Guardian https://t.co/PZGPmOuNUk&mdash; Vikki Chowney (@vikkichowney) <a href="https://twitter.com/vikkichowney/status/582595596151844864">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">87 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">All community managers &amp; social media managers should be observing @innocent's tweets from this morning + responses. Best practice FTW.&mdash; Vikki Chowney (@vikkichowney) <a href="https://twitter.com/vikkichowney/status/629218880918061056">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">48 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Post-panel selfies with these amazing women #SMWLDN http://t.co/gFrbelp0in&mdash; Vikki Chowney (@vikkichowney) <a href="https://twitter.com/vikkichowney/status/644082319532392448">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">45 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">'Brands must learn to edit' - my favourite mantra of the moment from Tyler Brule, perfectly reflects the SXSW focus on content strat #hksxsw&mdash; Vikki Chowney (@vikkichowney) <a href="https://twitter.com/vikkichowney/status/586085432187887616">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">44 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Fancy hearing my take on #SXSW2015? Come to @HK_London for my breakfast debrief! RSVP to hk.events@hkstrategies.com http://t.co/EZu9ku5r16&mdash; Vikki Chowney (@vikkichowney) <a href="https://twitter.com/vikkichowney/status/582974544719273984">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/vikkichowney');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>