<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angharad Welsh's (@Welsh_PR) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Angharad Welsh's (@Welsh_PR) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Angharad Welsh's (@Welsh_PR) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/welsh_pr" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/welsh_pr&source=tweetbutton&text=Angharad+Welsh%27s+%28%40Welsh_PR%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/welsh_pr" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/6315102/1429613119/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/615164849300049920/xX60F9F0.jpg" alt="" class="profile-image">
        <h1 class="typl8-beta">Angharad Welsh</h1>
        <p class="username">@Welsh_PR</p>
        <p>We analysed 1000 tweets from @Welsh_PR's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-2764" title="18 uses">
                    &#2764                        </span>
                                                <span class="emojione-1F436" title="16 uses">
                    &#1F436                        </span>
                                                <span class="emojione-1F60A" title="15 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F43E" title="11 uses">
                    &#1F43E                        </span>
                                                <span class="emojione-1F378" title="8 uses">
                    &#1F378                        </span>
                                                <span class="emojione-1F62D" title="7 uses">
                    &#1F62D                        </span>
                                                <span class="emojione-1F46B" title="6 uses">
                    &#1F46B                        </span>
                                                <span class="emojione-1F483" title="6 uses">
                    &#1F483                        </span>
                                                <span class="emojione-1F61E" title="4 uses">
                    &#1F61E                        </span>
                                                <span class="emojione-2615" title="4 uses">
                    &#2615                        </span>
                                                <span class="emojione-1F382" title="4 uses">
                    &#1F382                        </span>
                                                <span class="emojione-1F614" title="3 uses">
                    &#1F614                        </span>
                                                <span class="emojione-1F637" title="3 uses">
                    &#1F637                        </span>
                                                <span class="emojione-1F618" title="3 uses">
                    &#1F618                        </span>
                                                <span class="emojione-1F451" title="3 uses">
                    &#1F451                        </span>
                                                <span class="emojione-1F381" title="3 uses">
                    &#1F381                        </span>
                                                <span class="emojione-1F4D6" title="3 uses">
                    &#1F4D6                        </span>
                                                <span class="emojione-1F469" title="2 uses">
                    &#1F469                        </span>
                                                <span class="emojione-1F389" title="2 uses">
                    &#1F389                        </span>
                                                <span class="emojione-2708" title="2 uses">
                    &#2708                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@emma_conway</span>
                        <span class="count">
                            57                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@TheCheltonian</span>
                        <span class="count">
                            38                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@wadds</span>
                        <span class="count">
                            28                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@10Yetis</span>
                        <span class="count">
                            25                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@Welsh_PR</span>
                        <span class="count">
                            24                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@Welsh_PR following ratio is <span class="important">69%</span></h2>
        <p>Based on 1733 followers and 1188 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @Welsh_PR tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:64%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        140 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.00%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.7%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        147 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.70%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.5%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        185 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:71.5%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        215 tweets
                    </div>
                </div>
                <div class="percentage">
                    21.50%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.4%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        174 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.40%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:56.9%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        69 tweets
                    </div>
                </div>
                <div class="percentage">
                    6.90%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        70 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.00%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#PRstack</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#dogsofinstagram</span>
                        <span class="count">
                            16                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#nofilter</span>
                        <span class="count">
                            15                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#PR</span>
                        <span class="count">
                            12                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#amreading</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">37%</span> of @Welsh_PR's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @Welsh_PR's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/644113782608891904/7Myc1IaV.jpg" class="profile-image">
                        <h3>The Cheltonian</h3>
                        <p class="username">@TheCheltonian</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/554966680267276288/5bIRfKwv.jpeg" class="profile-image">
                        <h3>Gravitas PR</h3>
                        <p class="username">@gravitasPR</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/581934976222011392/8IcH_zJh.jpg" class="profile-image">
                        <h3>Stephen Waddington</h3>
                        <p class="username">@wadds</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@Welsh_PR's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">58 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">#refugeeswelcome, always. Just ask yourself, if your family was in danger would you want a fellow human being to help you? Then help them.&mdash; Angharad Welsh (@Welsh_PR) <a href="https://twitter.com/Welsh_PR/status/639453543443922944">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">33 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">This is how imma rock up to my polling station tonight #GE2015 #votingmatters http://t.co/hgnSYqaUi0&mdash; Angharad Welsh (@Welsh_PR) <a href="https://twitter.com/Welsh_PR/status/596219407153700864">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">24 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Strong piece from @LBQblog after Katie Hopkins says writing about makeup is not a career http://t.co/HqtUdq4ozM #bbloggers&mdash; Angharad Welsh (@Welsh_PR) <a href="https://twitter.com/Welsh_PR/status/572336128939982848">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">24 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Finally @fleetstreetfox makes sense of the Proudman problem - great article http://t.co/s9kgjV6dJc&mdash; Angharad Welsh (@Welsh_PR) <a href="https://twitter.com/Welsh_PR/status/642253885785026560">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">24 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Watching #leadersdebate in the hope of making a voting decision. So far I'm heckling more than these guys http://t.co/zf0BhOOqmv&mdash; Angharad Welsh (@Welsh_PR) <a href="https://twitter.com/Welsh_PR/status/583715540348317697">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/welsh_pr');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>