<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Will O'Hara's (@willohara) Life on Twitter profile. Get insights into your Twitter profile at</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic|Merriweather:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://lifeontwitter.com/assets/css/main.css">

    <link rel="shortcut icon" href="http://lifeontwitter.com/assets/images/favicon.ico" type="image/icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-width=320px">
    <meta name="title" content="Will O'Hara's (@willohara) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta name="description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />


    <meta property="og:title" name="og:title" content="Will O'Hara's (@willohara) Life on Twitter profile. Get insights into your Twitter profile at" />
    <meta property="og:description" name="og:description" content="Life on Twitter analyses your Twitter profile and tells you how you use the platform. Get insights into your Twitter profile" />
    <meta property="twitter:url" name="twitter:url" content="http://lifeontwitter.com/user/willohara" />
    <meta propert="og:image" name="og:image" content="http://lifeontwitter.com/assets/images/share-img.jpg" />
    <meta property="twitter:image:src" name="twitter:image:src" content="http://lifeontwitter.com/assets/images/share-img.jpg">
    <meta property="og:image:type" name="og:image:type" content="image/jpeg">
    <meta property="twitter:card" name="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" name="twitter:site" content="@lifeontwitter" />

</head>
<body>
<div class="top">
    <div class="container">
        <a href="http://lifeontwitter.com/" class="logo resp-small-hide">
            <img src="http://lifeontwitter.com/assets/images/icon.png" alt="Life on Twitter">
        </a>
        <div class="share-strip">
            <a href="http://twitter.com/intent/tweet?url=http://lifeontwitter.com/user/willohara&source=tweetbutton&text=Will+O%27Hara%27s+%28%40willohara%29+Life+on+Twitter+profile.+Get+insights+into+your+Twitter+profile+at" class="cta cta-twitter solid" target="_blank"><i class="icon-twitter"></i> Tweet</a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://lifeontwitter.com/user/willohara" class="cta cta-fb solid"  target="_blank"><i class="icon-facebook"></i> Share</a>
        </div>
    </div>
</div>
<div class="hero profile" style="background-image:url(https://pbs.twimg.com/profile_banners/15649870/1389822644/web_retina);">
    <div class="overlay">
    </div>
    <div class="container">
        <img src="https://pbs.twimg.com/profile_images/538462303742857216/9_RAvBc1.jpeg" alt="" class="profile-image">
        <h1 class="typl8-beta">Will O'Hara</h1>
        <p class="username">@willohara</p>
        <p>We analysed 996 tweets from @willohara's account. After some great data analysis we found out some pretty cool stats.</p>
    </div>
    <div class="scroll-more">
    </div>
</div>
<div class="section-small">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <h2>Most used Emojis</h2>
                <p>*Includes RT's*</p>
            </div>
                            <div class="popular-emojis">
                                            <span class="emojione-1F602" title="4 uses">
                    &#1F602                        </span>
                                                <span class="emojione-1F44F" title="3 uses">
                    &#1F44F                        </span>
                                                <span class="emojione-25B6" title="2 uses">
                    &#25B6                        </span>
                                                <span class="emojione-1F495" title="1 uses">
                    &#1F495                        </span>
                                                <span class="emojione-27A1" title="1 uses">
                    &#27A1                        </span>
                                                <span class="emojione-A9" title="1 uses">
                    &#A9                        </span>
                                                <span class="emojione-1F60A" title="1 uses">
                    &#1F60A                        </span>
                                                <span class="emojione-1F525" title="1 uses">
                    &#1F525                        </span>
                                                <span class="emojione-1F3B6" title="1 uses">
                    &#1F3B6                        </span>
                                                <span class="emojione-1F43C" title="1 uses">
                    &#1F43C                        </span>
                                                <span class="emojione-1F699" title="1 uses">
                    &#1F699                        </span>
                                                <span class="emojione-IN" title="1 uses">
                    &#IN                        </span>
                                        </div>
                        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="container">
        <div class="stat-holder">
            <div class="stat-header">
                <img src="http://lifeontwitter.com/assets/images/best-friends.png" alt="">
                <h2>Best Friends</h2>
            </div>
            <ul class="styled-list">
                                    <li>
                        <span class="number">1</span>
                        <span class="name">@FirstManchester</span>
                        <span class="count">
                            36                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">2</span>
                        <span class="name">@MCRMetrolink</span>
                        <span class="count">
                            32                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">3</span>
                        <span class="name">@iainmacintosh</span>
                        <span class="count">
                            22                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">4</span>
                        <span class="name">@coopinsurance</span>
                        <span class="count">
                            19                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                        <li>
                        <span class="number">5</span>
                        <span class="name">@LordManley</span>
                        <span class="count">
                            14                            <div class="meta">mentions</div>
                        </span>
                    </li>
                                </ul>
        </div>
    </div>
</div>
<div class="section-small bg-small-stat follow-back">
    <div class="container">
        <h2>@willohara following ratio is <span class="important">81%</span></h2>
        <p>Based on 517 followers and 416 users followed.</p>
    </div>
</div>
<div class="section-small pb0">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/time-tweets.png" alt="">
            <h2>When @willohara tweeted</h2>
        </div>
    </div>
</div>
<div class="bg-graph">
    <div class="graph">
                    <div class="day">
                <div class="bar" style="width:63.96%"></div>
                <div class="info">
                    <div class="name">
                        Mon                    </div>
                    <div class="amount">
                        139 tweets
                    </div>
                </div>
                <div class="percentage">
                    13.96%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:64.36%"></div>
                <div class="info">
                    <div class="name">
                        Tue                    </div>
                    <div class="amount">
                        143 tweets
                    </div>
                </div>
                <div class="percentage">
                    14.36%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:68.27%"></div>
                <div class="info">
                    <div class="name">
                        Wed                    </div>
                    <div class="amount">
                        182 tweets
                    </div>
                </div>
                <div class="percentage">
                    18.27%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:67.27%"></div>
                <div class="info">
                    <div class="name">
                        Thu                    </div>
                    <div class="amount">
                        172 tweets
                    </div>
                </div>
                <div class="percentage">
                    17.27%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:69.58%"></div>
                <div class="info">
                    <div class="name">
                        Fri                    </div>
                    <div class="amount">
                        195 tweets
                    </div>
                </div>
                <div class="percentage">
                    19.58%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:57.53%"></div>
                <div class="info">
                    <div class="name">
                        Sat                    </div>
                    <div class="amount">
                        75 tweets
                    </div>
                </div>
                <div class="percentage">
                    7.53%
                </div>
            </div>
                    <div class="day">
                <div class="bar" style="width:59.04%"></div>
                <div class="info">
                    <div class="name">
                        Sun                    </div>
                    <div class="amount">
                        90 tweets
                    </div>
                </div>
                <div class="percentage">
                    9.04%
                </div>
            </div>
            </div>
</div>
<div class="section">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-hashtags.png" alt="">
            <h2>Most used Hashtags</h2>
        </div>
    </div>
    <div class="container">
        <ul class="styled-list">
                            <li>
                    <span class="number">1</span>
                    <span class="name">#GoatOrGoatee</span>
                        <span class="count">
                            9                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">2</span>
                    <span class="name">#boxing</span>
                        <span class="count">
                            8                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">3</span>
                    <span class="name">#bloggerswanted</span>
                        <span class="count">
                            5                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">4</span>
                    <span class="name">#NostalgiaFM</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                                <li>
                    <span class="number">5</span>
                    <span class="name">#bloggers</span>
                        <span class="count">
                            4                            <div class="meta">mentions</div>
                        </span>
                </li>
                        </ul>
    </div>
</div>
<div class="section bg-small-stat hashtags">
    <div class="container">
        <h2><span class="important">21%</span> of @willohara's tweets contained hashtags.</h2>
    </div>
</div>
<div class="squares">
    <div class="sq sq-2 influenced">
        <div class="section">
            <div class="stat-holder">
                <div class="stat-header">
                    <h2>Influenced by</h2>
                    <p>After analysing @willohara's tweets it was determined they were most likely to reshare content from the following accounts</p>
                </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/458591456198811648/wr-RrH51.jpeg" class="profile-image">
                        <h3>Charlotte Cooper</h3>
                        <p class="username">@CTrouper</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/468468060408791040/6ne3wQO5.jpeg" class="profile-image">
                        <h3>Adrian Clarke</h3>
                        <p class="username">@adrianjclarke</p>
                    </div>
                                    <div class="user">
                        <img src="https://pbs.twimg.com/profile_images/644070009195499521/zu8kTEpv.png" class="profile-image">
                        <h3>Iain Macintosh</h3>
                        <p class="username">@iainmacintosh</p>
                    </div>
                

            </div>
        </div>
    </div>
</div>
<div class="section bg-mute">
    <div class="stat-holder">
        <div class="stat-header">
            <img src="http://lifeontwitter.com/assets/images/popular-tweets.png" alt="">
            <h2>@willohara's most popular tweets</h2>
        </div>
    </div>
    <div class="container">
            <div class="top-tweet">
            <div class="score"><span class="number">1</span><span class="total">96 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Interested in talking to football writers (ideally Man Utd fans) for an event on 4th March. Ex-Utd players, free food/drink, big screen :)&mdash; Will O'Hara (@willohara) <a href="https://twitter.com/willohara/status/565570754956521472">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">2</span><span class="total">54 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">@RoyalMail now is probably a good time to sort this out, before another 59,000 people sign the petition #PayBarbarasPension&mdash; Will O'Hara (@willohara) <a href="https://twitter.com/willohara/status/593165987274477568">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">3</span><span class="total">40 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Gerrard better than Lampard? Spot on from @adrianjclarke again http://t.co/4VqCcnDrYI #gerrard #lampard&mdash; Will O'Hara (@willohara) <a href="https://twitter.com/willohara/status/553133768375304192">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">4</span><span class="total">33 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Looking for 5 boxing writers/bloggers who want to cover Josh Warrington fight in Leeds (April 11). Free tickets #bloggerswanted #prrequest&mdash; Will O'Hara (@willohara) <a href="https://twitter.com/willohara/status/577441223172034561">December 2, 2014</a></blockquote>
        </div>

                <div class="top-tweet">
            <div class="score"><span class="number">5</span><span class="total">29 points</span></div>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Listening to some @false_9s ahead of the gig at the @DeafInstitute #soldout #sorry https://t.co/v5rip8xRbw&mdash; Will O'Hara (@willohara) <a href="https://twitter.com/willohara/status/568554593690517504">December 2, 2014</a></blockquote>
        </div>

            </div>
</div>
<script type="text/javascript">
    history.pushState({}, null, 'http://lifeontwitter.com/user/willohara');
</script>
<div class="footer">
    <div class="container">From <a href="http://10yetis.co.uk" target="_blank">10 Yetis Digital</a>, made by <a href="http://twitter.com/ddarrko" target="_blank">@ddarrko</a>.</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66258529-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>